<script src="app/controllers/adminButtonController.js"></script>
<div ng-cloak class="searchlink" ng-controller="AdminButtonController" ng-show="session && session.user.user_type_id != 1">
    <div class="btn-group-vertical">
        <!--ng-click="toggleQuickNoteArea();"-->
        <button class="btn btn-default btn-sm" ng-click="showModal('adminSearch','lg',{ 'urn': product })">
            <span class="glyphicon glyphicon-search"></span></button>
        <button class="btn btn-default btn-sm" ng-click="showModal('adminQuickNote','md',{ 'urn': product })" ng-disabled="!quickNoteBtn" title="Add quick note">
            <span class="glyphicon glyphicon-pencil"></span></button>
        <button ng-hide="session.user.user_type_id == 5" ng-disabled="alerts.length == 0" class="btn btn-default btn-sm" ng-click="showModal('adminTasks','md',{ 'alerts': alerts })">
            <span class="glyphicon glyphicon-bullhorn"></span> <span
                ng-hide="alerts.length == 0">{{ alerts.length }}</span>
        </button>
        <button ng-hide="session.user.user_type_id == 5" ng-disabled="actions.length == 0" class="btn btn-default btn-sm" ng-click="showModal('adminActions','md',{ 'actions': actions })">
        <span class="glyphicon glyphicon-wrench"></span> <span
            ng-hide="actions.length == 0">{{ actions.length }}</span>
    </button>
    </div>
</div>