<script src="app/controllers/helpController.js"></script>
<div ng-cloak class="livehelp" ng-controller="LiveHelpController">
    <button class="btn btn-warning btn-sm" ng-click="isCollapsed = !isCollapsed" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px">Live Help</button>
    <div uib-collapse="isCollapsed" class="div-bordered alert-warning" style="border-top-left-radius: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">For help please call us on 0123456767.</div>
                <button type="button" ng-click="screenshot()"><i class="glyphicon glyphicon-camera"></i></button>
            </div>
        </div>
    </div>
</div>