@charset "utf-8";

.alert {
	
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
padding:3% 5%;
margin:2% 0;
}

.alert-success
{
	
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.alert-error {
	
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.sml {
	
	font-size:0.6em;
	line-height:1em;
}