<!DOCTYPE html>
<html lang="en" ng-app="uesApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<link rel="apple-touch-icon" sizes="57x57" href="style//apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="style//apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="style//apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="style//apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="style//apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="style//apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="style//apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="style//apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="style//apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="style//android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="style//favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="style//favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="style//favicon-16x16.png">
	<link rel="manifest" href="style/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="style/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

    <title ng-bind="'MyClothing Uniforms | ' + title"></title>
    <link rel="stylesheet" href="style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="style/ues.css">
    <script src="style/jquery.min.js"></script>
    <script src="app/angular/html2canvas.js"></script>
    <script src="app/angular/angular.js"></script>
    <script src="app/angular/moment.js"></script>
    <script src="app/angular/angular-route.js"></script>
    <script src="app/angular/angular-animate.js"></script>
    <script src="app/angular/angular-modal-service.js"></script>
    <!-- <script src="app/angular/ui-bootstrap-tpls-1.1.1.js"></script>-->
    <script src="app/angular/ui-bootstrap-tpls-1.2.4.min.js"></script>
    <script src="app/angular/typer.min.js"></script>
    <script src="app/angular/loading-bar.js"></script>
    <script src="app/angular/angular-css-injector.js"></script>
    <script src="app/angular/datetimepicker.js"></script>
    <script src="app/angular/datetimepicker.templates.js"></script>
    <script src="style/ADM-dateTimePicker.min.js"></script>
    <script src="//cdn.zingchart.com/zingchart.min.js"></script>
    <script src="//cdn.zingchart.com/angular/zingchart-angularjs.js"></script>
    <script type="text/javascript" src="app/angular/dateTimeInput.js"></script>
    <link rel="stylesheet" href="style/ADM-dateTimePicker.min.css">
    <link rel="stylesheet" href="style/loading-bar.css">
    <link rel="stylesheet" href="style/datetimepicker.css">

    <script src="app/uesApp.js"></script>

    <link defer="defer" type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link defer="defer" type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700,400">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top ng-cloak" ng-controller="MenuCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="rs.isCollapsed = !rs.isCollapsed" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/main">
                    <span id="svg-logo" style="width:100px;" >
					<img src="style/UA-logo-white.png" style="height: 50px;" />
                    
                </span>
                    <span id="uniforms">Team Relationship Manager</span>
                </a>
            </div>
            <div uib-collapse="rs.isCollapsed" id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="" ng-repeat="menuItem in menuItems" ng-class="menuClass('{{menuItem.class}}')" uib-dropdown>
                        <a ng-hide="menuItem.subMenu" href="#{{menuItem.path}}">{{ menuItem.title }}</a>
                        <a ng-show="menuItem.subMenu" href="#{{menuItem.path}}" uib-dropdown-toggle>{{ menuItem.title }} <span
                            class="caret"></span></a>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-repeat="subMenuItem in menuItem.subMenu" ng-class="menuClass('{{subMenuItem.class}}')">
                                <a href="#{{subMenuItem.path}}">{{subMenuItem.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--<div style="width:100%;background-color: #FFF;" ng-show="session.organizations[session.showingorg].organization_id">-->
            <!--<div class="container">-->
                <!--<div class="col-sm-1 col-xs-3">-->
                    <!--<div class="image-container" style="position: relative;height:60px;width:60px;" ng-cloak ng-style="{'background-color': 'rgb('+session.organizations[session.showingorg].primary_background_colour+ ')'}">-->

                        <!--<div class="dummy"></div>-->
                        <!--<div class="img-container">-->
                            <!--<img style="max-height:58px;max-width:58px;" ng-src="{{session.organizations[session.showingorg].logo_url + '?' +  session.organizations[session.showingorg].logo_last_updated }}" alt="{{ school.emblem_name }}" ng-cloak>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;&#45;&#45; organization name big screen -&#45;&#45;&ndash;&gt;-->
                <!--<div class="col-sm-7 hidden-xs">-->
                    <!--<h2 style="margin-top:10px; white-space: nowrap;overflow:hidden; text-overflow: ellipsis; ">{{ session.organizations[session.showingorg].organization_name }}</h2>-->
                <!--</div>-->
                <!--&lt;!&ndash;&#45;&#45; organization name small screen -&#45;&#45;&ndash;&gt;-->
                <!--<div class="col-xs-10 visible-xs">-->
                    <!--<h2 style="margin-top:10px; white-space: nowrap;overflow:hidden; text-overflow: ellipsis; ">{{ session.organizations[session.showingorg].organization_name }}</h2>-->
                <!--</div>-->


                <!--<div class="col-sm-4 hidden-xs">-->

                    <!--<form class="form-wrapper cf pull-right" style="width: 100%" ng-hide="houses.length">-->
                        <!--<input ng-click="copyURL('schoolURL');" id="schoolURL" type="text" readonly="readonly" value="https://uniforms.tllab.co.uk/ueslink/{{ session.organizations[session.showingorg].organization_id }}.school">-->

                        <!--<button ng-click="viewPage();" type="submit">View on MyClothing<span class="glyphicon glyphicon-chevron-right"></span></button>-->

                    <!--</form>-->

                <!--</div>-->
                <!--&lt;!&ndash;smaller button for responsive&ndash;&gt;-->
                <!--<div class="col-sm-2 col-xs-2 text-right visible-xs">-->
                    <!--<a ng-hide="houses.length" href="https://uniforms.tllab.co.uk/ueslink/{{ session.organizations[session.showingorg].organization_id }}.school" target="_blank">-->
                        <!--<button style="margin-top:10px;width: 50px;" class="btn btn-primary btn-sm" type="button">MyC<span-->
                            <!--class="glyphicon glyphicon-chevron-right"></span></button>-->
                    <!--</a>-->
                    <!--<a ng-show="houses.length" href="#/uniform/houses" target="_blank">-->
                        <!--<button style="margin-top:10px;width: 50px;" class="btn btn-primary btn-sm" type="button">MyC<span-->
                            <!--class="glyphicon glyphicon-chevron-right"></span></button>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </nav>

    <div id="maincontainer" class="container top-20" role="main" ng-hide="loadingnow" ng-class="session.organizations[session.showingorg].organization_id ? 'logopadding' : ''">
        <div ng-view autoscroll="true"></div>
    </div>

    <footer class="footer navbar-default">
        <div class="container">
            <span id="copyrite">&copy; SlickStitch / Under Armour  2019</span>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="#/cookies">Privacy & cookies policy</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {
        "message": "This website uses cookies to ensure you get the best experience on our website",
        "dismiss": "Got it!",
        "learnMore": "More info",
        "link": '#/cookies',
        "theme": "dark-bottom"
    };
</script>

<script type="text/javascript" src="app/cookieconsent.js"></script>
<!-- End Cookie Consent plugin -->
<div ng-include src="adminurl"></div>


</html>