/*
    Main skin changes for Admin login.  Makes sure you know you are logged in as an ADMIN user.
*/

.navbar-default {
    background-color: #880000;
    border-color: #880000;
}

/*.navbar-brand:hover span,.navbar-brand:hover i{*/
    /*border-color: #cd6c66 !important;*/
    /*color: #cd6c66 !important;*/
/*}*/

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff6f3;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff6f3;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff6f3;
}

.footer {
    background-color: #880000;
}

.modal{
    display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 400px;
    overflow-y: auto;
}