html
{
	width:750px;
	padding:0;
	margin:0;
	border:0; 
	background:#fff; 
	font-size:75%; 
	font-family:Trebuchet MS, verdana, sans-serif;
	overflow: hidden; 
}

body
{
	width: 750px;
	overflow:auto;
	padding:0;
	margin:0;
	border:0;
}

#content
{
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:750px;
	overflow:auto;
	position:absolute;
	z-index:3;
	border-top:0px solid #fff;
	border-bottom:0px solid #fff;
	border-left:0px solid #fff;
}

h1
{
	margin:inherit;
	font-size:320%;
}

h2
{
	margin:inherit;
	font-size:180%;
}

h3
{
	margin:inherit;
	font-size:140%;
}