@charset "utf-8";

body {
	
	font-family:sans-serif;
}

#container {
	
	
	max-width:900px;
	margin:0 auto;
}

.logo {
	
float:left;	
}

.logo img {
	
	max-width:100px;
}


.gradient-bar {
	clear:left;
	border-top:10px solid #fff;
  height: 300px;
  background-color: #fff;
  background-image:
    linear-gradient(
      #eaeaea, #fff
    );
    
}

.your-order-number {
	
	font-size:150%;
	float:right;
	line-height:52px;
	
}

.first-message {
	
	font-weight:bolder;
	color:#287BC9;
	font-size:32px;
}
.second-message {
	
	font-weight:light;
	font-size:32px;
}

.form form fieldset, .form form fieldset {
	
	border:0;
	margin:0;
	padding:0;
}

.form form .submit {
	
	border:2px solid #C3E2FC;
	border-radius:4px;
	background:#6AB7F8;
	color:#fff;
	padding:10px 50px;
	margin:0;
}

.form form .textbox {
	
	padding:10px 20px;
	min-width:100px;
}

.content {
	position:relative;
	bottom:250px;
	padding:0 5%;
}
.container2 {
	
	clear:both;
}

label {
	color:#ccc;
}