	<body style="background:#fff;font-family:Century Gothic,Verdana,sans-serif;color:#000;">
    <div bgcolor="#FFFFFF">
		<table width="100%">
			<tbody>
			<tr>
				<td align="center">
					<table width="60%">
						<tbody>
							<tr>
								<td align="left">
									<img alt="Johnsons Store" src="http://jsg.e-fulfill.co.uk/Style/Images/emaillogo.png" width="240px">
								</td>
							</tr>
							<tr>
								<td align="left">
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<h3>
										<font color="black" face="Arial, Helvetica, sans-serif">~TITLE~</font>
									</h3>
								</td>
							</tr>
							<tr>
								<td>
									<font color="black" face="Arial, Helvetica, sans-serif">
										<br>
										~CONTENT~
										<p><i>This email is an automated notification which is unable to receive replies. If you need help, please contact us directly <a target="_blank" href="mailto:JAMslickstitch@jsg.com">JAMslickstitch@jsg.com</a>.</i></p>
									</font>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody></table>
    </div>




	</body>