<div class="clearfix">
    <div class="modal-header emblem">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align emblem" id="Heading">Add new house</h4>
    </div>
    <div class="modal-body">
        <!-- LOGO TYPE CHOICE --->
        <form role="form" name="form.houseForm">
            <div class="form-group">
                <label for="houseName">House name:</label>
                <input required
                       autofocus
                       type="text"
                       class="form-control has-feedback"
                       name="houseName"
                       id="houseName"
                       autocomplete="off"
                       value=""
                       placeholder="Gryffindor"
                       ng-model="formData.houseName">
                <span class="help" ng-show="form.houseForm.houseName.$invalid && !form.houseForm.houseName.$pristine "> Please enter your first name. </span>
            </div>
        </form>
        <p ng-show="houses.length < 1 && (plain_created || created)" class="alert alert-warning">
            As you have already added products to your organizations these will be associated with the first house you create.
        </p>
    </div>
    <!-- FOOTER BTN --->
    <div class="modal-footer text-center col-xs-12 emblem">
        <button ng-disabled="!form.houseForm.$valid"
                class="btn btn-success btn-sm"
                ng-click="sendForm();"><span class="glyphicon glyphicon-plus-sign"
                                             style='padding-right: 7px;'></span>Add house
        </button>
        <button type="button" class="btn btn-default btn-sm " data-dismiss="modal"
                ng-click="cancel()"><span
                class="glyphicon glyphicon-ban-circle" class="glyphicon glyphicon-plus-sign"
                style='padding-right: 7px;'></span>Cancel
        </button>

    </div>
</div>