<div class="modal-content review" style="border: 0;">
    <div class="modal-header emblem">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align emblem" id="Heading">Select emblem</h4>
    </div>
    <div class="modal-body text-center">
        <ul class='list list-unstyled list-inline'>
            <li ng-repeat='emblem in emblems' ng-dblclick="saveSelectedLogo();">
                <div style="position: relative; cursor: pointer">
                    <div class="review-modal-emblem" ng-click="selectEmblem(emblem); consoleThis($index);" ng-class="{activeEmblem: emblem == selectedEmblem}" uib-tooltip="{{emblem.tesco_style_ref}}" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                        <div class="image-container small" style="position: relative;" ng-cloak ng-style="{ backgroundColor: 'rgb('+emblem.primary_background_colour+')' }">
                            <div class="dummy"></div>
                            <div class="img-container">
                                <img ng-src="{{serverstring+ emblem.logo_url}}" alt="{{ emblem.tesco_style_ref }}" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>



    </div>
    <!-- FOOTER BTN -->
    <div class="modal-footer text-center col-xs-12 emblem">
        <button ng-click="saveSelectedLogo();" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus-sign" style='padding-right: 7px;'></span>Add existing emblem</button>
        <button type="button" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span
                class="glyphicon glyphicon-ban-circle" class="glyphicon glyphicon-plus-sign"
                style='padding-right: 7px;'></span>Close
        </button>
    </div>
</div>