<div class="clearfix">
    <div class="modal-header emblem">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align emblem" id="Heading">Request new emblem <button ng-show="logoTypeChosen" style="margin-right: 10px;" class="btn btn-default btn-sm pull-right" ng-click="logoTypeChosen = false;"><span class="glyphicon glyphicon-retweet"
                                                                                                                                     style='padding-right: 7px; font-size: 1.2em;'></span><b>Change logo type</b></button></h4>

    </div>
    <div class="modal-body">
        <!-- LOGO TYPE CHOICE -->
        <div id="logoTypeChoice" uib-collapse="logoTypeChosen">
            <h4>Please choose the emblem type you would like to request : {{logotype}}</h4>
            <div class="radiobutton">
                <div class="radiobutton-primary" ng-click="chooseLogoType('new')">
                    <input value='first' type="radio" name="radio" ng-model="logoTypeButton" id="new" />
                    <label style="margin-top:0;" for="new">New design with new elements</label>
                </div>
                <div class="radiobutton-primary" ng-click="chooseLogoType('existing')">
                    <input value='second' type="radio" name="radio" ng-model="logoTypeButton" id="existing" />
                    <label style="margin-top:0;" for='existing'>Colour change of existing design</label>
                </div>
                <button style='width: 100%;' class="btn btn-success btn-sm" ng-click="acceptLogoType();"><span class="glyphicon glyphicon-chevron-down"
                                                           style='padding-right: 7px; font-size: 1.2em;'></span><b>Accept logo type</b>
                </button>
            </div>
        </div>

        <!-- LOGO + DESC -->
        <div uib-collapse="!logoTypeChosen" class="col-xs-12">
            <div>
                <h4>Attachments</h4>
            </div>
            <div ng-hide="allLogos.length">You have no attachments.</div>
            <table ng-show="allLogos.length" class="table table-striped small">
                <thead>
                    <tr>
                        <th class="text-center"><span class="glyphicon glyphicon-picture" /></th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='' ng-repeat="logo in allLogos track by $index">
                        <td style="vertical-align: middle; padding:0;" class="text-center">
                            <!--uploaded image------>
                            <div class="image-container small" style="position: relative;" ng-cloak ng-style="{ backgroundColor: 'rgb('+logo.backgroundColour+')' }">

                                <div class="dummy"></div>
                                <div class="img-container">
                                    <img ng-show="logo.isImage && logo.type != 'emblem'" ng-src="{{logo.url}}" alt="{{logo.name}}">
                                    <img ng-hide="logo.isImage || logo.type == 'emblem'" ng-src="images/generic.png" alt="Generic File">
                                    <img ng-show="logo.type == 'emblem'" ng-src="{{logo.url}}" alt="{{logo.name}}" style="width:100px; height: 100px;">
                                </div>
                            </div>
                        </td>
                        <td class="text-center" style="vertical-align: middle;padding:0;">
                            {{logo.name}}
                        </td>
                        <td class="text-center" style="vertical-align: middle;padding:0;" class="text-right">
                            <div>
                                <button ng-disabled="loading == 1" class="btn btn-danger btn-sm" ng-click="removeEmblem($index)" uib-tooltip="Remove attachments" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"/>
                            </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div uib-collapse="!logoTypeChosen" class="col-xs-12 top-20">
            <form action="" name="descriptionForm">
                <textarea class="col-xs-12" required minlength="20" ng-model="requestData.description" name="logoDescription" placeholder="Write your new emblem description here.." class="form-control" id="logoDescription" cols="80" rows="5"></textarea>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="logoHeight">Height. (mm)</label>
                        <input required class="form-control" type="text" id="logoHeight" name="logoHeight" maxlength="3" ng-model="requestData.logoHeight" ng-pattern="onlyNumbers" placeholder="Height[mm]" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="logoWidth">Width. (mm)</label>
                        <input required class="form-control" type="text" name="logoWidth" id="logoWidth" maxlength="3" ng-model="requestData.logoWidth" ng-pattern="onlyNumbers" placeholder="Width (mm)" />
                    </div>
                </div>

                <div class="row">
                    <span class="help" ng-show="descriptionForm.logoDescription.$invalid && !descriptionForm.logoDescription.$pristine">Description must be minimum 20 characters long. </span>
                </div>
                <div class="row">
                    <span class="help" ng-show="descriptionForm.logoHeight.$invalid && !descriptionForm.logoHeight.$pristine">Please provide a valid height of the logo.</span>
                </div>
                <div class="row">
                    <span class="help" ng-show="descriptionForm.logoWidth.$invalid && !descriptionForm.logoWidth.$pristine">Please provide a valid width of the logo.</span>
                </div>
            </form>
        </div>


    </div>
    <!-- FOOTER BTN -->
    <div uib-collapse="!logoTypeChosen" class="modal-footer text-center col-xs-12 emblem">
        <div class='loading' ng-show="loading"></div>
        <span ng-disabled="loading === 1" class="btn btn-default btn-primary btn-sm upload-emblem">
                        <span style='padding-right: 10px; ' class="glyphicon glyphicon-upload"></span>
        <span style="font-weight: normal;">Attach File</span>
        <input type="file" name="file" id="uploadfile" custom-on-change="photoChanged" />
        </span>

        <span ng-disabled="emblems.length == 0 || loading == 1" ng-click="showModal('addExistingEmblem','md',{ 'emblems' : emblems})" class="btn btn-info btn-sm">
                        <span style='padding-right: 10px;'
                              class="glyphicon glyphicon-picture"></span> Attach existing emblem</span>
        <button ng-disabled="!requestData.description || loading === 1 || !descriptionForm.$valid" class="btn btn-success btn-sm" ng-click="sendRequest();"><span class="glyphicon glyphicon-plus-sign"
                                                     style='padding-right: 7px;'></span>Send request</button>
        <button type="button" ng-disabled="loading === 1" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span
                class="glyphicon glyphicon-ban-circle" class="glyphicon glyphicon-plus-sign"
                style='padding-right: 7px;'></span>Cancel</button>

    </div>
</div>
</div>