<div class="modal-content review" style="border: 0;">
    <div class="modal-header review">
        <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()" style="padding:10px;"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Review Product</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- PROD DETAILS -->
            <div class="col-xs-6 product-details" style='border-right: 1px solid #ccc;'>
                <b>{{product.product_name}}</b>
                <p>From {{product.product_price | currency:'£'}}</p>
                <div class="review-modal-img">
                    <img ng-src="{{serverstring}}{{ currentImage }}" alt="product-image" class='img-responsive'>
                </div>
                <br />
                <b>Sizes available: </b>
                <br>{{product.product_size_text}}
                <br>
                <b>Description:</b>
                <br />
                <p ng-show="{{product.product_description.length == 0}}">Product description not available</p>
                <p>{{product.product_description}}</p>
            </div>
            <!-- END PROD DETAILS -->

            <!-- EMBLEMS --->
            <div class="col-xs-6 product-attributes">
                <div class="color-area">
                    <b ng-hide="availableEmblems.length == 0 && product.emblemSizeSmall == '1' ">
                        Select emblem:
                    </b>
                    <ul class='list list-unstyled list-inline'>
                        <li ng-repeat="emblem in availableEmblems">
                            <div style="position: relative; cursor: pointer">
                                <div class="review-modal-emblem" ng-click="selectEmblem($index);" ng-class="{activeEmblem: $index === selectedEmblem}"
                                     uib-tooltip="{{emblem.tesco_style_ref}}"
                                     tooltip-trigger="mouseenter"
                                     tooltip-placement="bottom">
                                    <div class="image-container small" style="position: relative;" ng-cloak
                                         ng-style="{ backgroundColor: 'rgb('+backgroundColor+')' }"
                                            >
                                        <div class="dummy"></div>
                                        <div class="img-container">
                                            <img ng-src="{{serverstring+ emblem.logo_url  + '?' +  serverstring+emblem.logo_last_updated }}" alt="{{ emblem.tesco_style_ref }}" ng-cloak>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <button class="btn-sm btn-default" data-ng-init="showOtherEmblems = false;"
                            data-ng-click="showOtherEmblems = !showOtherEmblems; switchEmblemOnHide();"
                            ng-show="product.emblemSizeSmall === '1' && emblemsToRequest.length > 0 && availableEmblems.length > 0"
                            popover-title="Request small emblem"
                            popover-trigger="mouseenter"
                            uib-popover="There are currently no emblems small enough
                                  for this product. Please request a new emblem that is 60mm
                                  or smaller in height to add this product."
                            popover-placement="bottom-left">
                        <b ng-hide="showOtherEmblems">Request emblem <span class="glyphicon glyphicon-question-sign"></span> </b>
                        <b ng-show="showOtherEmblems">Hide</b>
                        <span ng-show="showOtherEmblems" class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <ul uib-collapse="!showOtherEmblems && availableEmblems.length > 0 " class='list list-unstyled list-inline' ng-show="product.emblemSizeSmall === '1' || emblemsToRequest.length > 0">
                        <b ng-show="availableEmblems.length > 0">Request small emblem:</b>

                        <li ng-hide="availableEmblems.length > 0" > <b ><span class="glyphicon glyphicon-info-sign"
                                        popover-title="Request small emblem"
                                        popover-trigger="mouseenter"
                                        uib-popover="There are currently no emblems small enough
                                  for this product. Please request a new emblem that is 60mm
                                  or smaller in height to add this product."
                                        popover-placement="bottom-left"></span> Request small emblem:</b></li>

                        <br>

                        <li ng-repeat="emblem in emblemsToRequest">
                            <div style="position: relative; cursor: pointer">
                                <div class="review-modal-emblem" ng-click="selectEmblemToRequest(emblem['organization_logo_id'],emblem);" ng-class="{activeEmblemSmall: emblem['organization_logo_id'] === selectedEmblemToRequestID}"
                                     uib-tooltip="{{emblem.tesco_style_ref}}"
                                     tooltip-trigger="mouseenter"
                                     tooltip-placement="bottom">
                                    <div class="image-container small" style="position: relative; height: 65px; width: 65px; " ng-cloak
                                         ng-style="{ backgroundColor: 'rgb('+backgroundColor+')' }">
                                        <div class="dummy"></div>
                                        <div class="img-container" >
                                            <img style="height: 100%; width: 90%;" ng-src="{{serverstring+ emblem.logo_url  + '?' +  serverstring+emblem.logo_last_updated }}" alt="{{ emblem.tesco_style_ref }}" ng-cloak>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <br />
                <!-- END EMBLEMS -->
                <!-- COLOURS --->
                <div>
                    <b>Select colour</b>
                    <br />
                    <ul class='list list-unstyled list-inline'>
                        <li ng-repeat='color in availableColours' ng-click="selectColor($index)">
                            <div style="position: relative; cursor: pointer">
                                <div class='btn thumbnail colourswatch'
                                     ng-style="{ backgroundColor: 'rgb('+color.colour_rgb+')' }"
                                     ng-class="{activeColor: $index===selectedColor}"
                                     uib-tooltip="{{color.colour_name}}"
                                     tooltip-trigger="mouseenter"
                                     tooltip-placement="bottom"
                                        >
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END COLOURS --->

            </div>
        </div>
    </div>
    <!-- FOOTER BTN --->
    <div class="modal-footer review text-center col-xs-12">
        <button ng-hide="(availableEmblems.length == 0 && product.emblemSizeSmall === '1') || selectedEmblemSmall === true;"
                type="button" class="btn btn-primary btn-sm"
                data-dismiss="modal" ng-click="showModal('color-confirmation','lg',{ 'urn': product })">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
        <button ng-show="selectedEmblemSmall === true && product.emblemSizeSmall === '1'"
                type="button" class="btn btn-primary btn-sm"
                data-dismiss="modal" ng-click="showModal('color-confirmation','lg',{ 'urn': product })">
            <span class="glyphicon glyphicon-plus-sign"></span> Request emblem
        </button>
        <button type="button" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
    </div>
</div>

