<div class="modal-content review" style="border: 0;">
    <div class="modal-header review">
        <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()" style="padding:10px;"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Review Product</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- PROD DETAILS -->
            <div class="col-xs-6 product-details" style='border-right: 1px solid #ccc;'>
                <b>{{product.product_name}}</b>
                <p>From {{product.product_price | currency:'£'}}</p>
                <div class="review-modal-img">
                    <img ng-src="{{serverstring + currentImage }}" alt="product-image" class='img-responsive'>
                </div>
                <br />
                <b>Sizes available: </b>
                <br>{{product.product_size_text}}
                <br>
                <b>Description:</b>
                <br />
                <p ng-show="{{product.product_description.length == 0}}">Product description not available</p>
                <p>{{product.product_description}}</p>
            </div>
            <!-- END PROD DETAILS -->

            <!-- EMBLEMS --->
            <div class="col-xs-6 product-attributes">
                <br />
                <!-- END EMBLEMS -->
                <!-- COLOURS --->
                <div>
                    <b>Select colour</b>
                    <br />
                    <ul class='list list-unstyled list-inline'>
                        <li ng-repeat='color in availableColours' ng-click="selectColor($index)">
                            <div style="position: relative;">
                                <div class='btn thumbnail colourswatch'
                                     ng-style="{ backgroundColor: 'rgb('+color.colour_rgb+')' }"
                                     ng-class="{activeColor: $index===selectedColor}"
                                     uib-tooltip="{{color.colour_name}}"
                                     tooltip-trigger="mouseenter"
                                     tooltip-placement="bottom"
                                        >
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END COLOURS --->

            </div>
        </div>
    </div>
    <!-- FOOTER BTN --->
    <div class="modal-footer review text-center col-xs-12">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                ng-click="showModal('color-confirmation','lg',{ 'urn': product })"><span
                class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
        <button type="button" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span
                class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
    </div>
</div>