<div class="modal-backdrop" id="editUser" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog">
        <!----------------------------------------->
        <!--------------USER EDIT MODAL------------>
        <!----------------------------------------->
        <div class="modal-content" ng-hide="houseEdit">
            <div class="modal-header" style="padding-bottom:0; padding:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Edit User</h4>
            </div>

            <div class="modal-body col-xs-12" style="padding-bottom:0;">
                <form name="userEditForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstName">First name:</label>
                        <div class="col-sm-10">
                            <input required
                                   type="text"
                                   class="form-control"
                                   id="firstName"
                                   name='firstName'
                                   placeholder="John"
                                   ng-model="editForm.firstname">
                            <span class="help"
                                  ng-show="userEditForm.firstName.$invalid && !userEditForm.firstName.$pristine">Please enter a name.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastName">Last name:</label>
                        <div class="col-sm-10">
                            <input required
                                   type="text"
                                   class="form-control"
                                   id="lastName"
                                   name='lastName'
                                   placeholder="Smith"
                                   ng-model="editForm.lastname">
                            <span class="help"
                                  ng-show="userEditForm.lastName.$invalid && !userEditForm.lastName.$pristine">Please enter a last name.</span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="userEmail">Email:</label>
                        <div class="col-sm-10">
                            <input type="email"
                                   required
                                   class="form-control"
                                   id="userEmail"
                                   name="userEmail"
                                   placeholder="johnsmith@domain.org"
                                   ng-model="editForm.email">
                            <span class="help"
                                  ng-show="userEditForm.userEmail.$invalid && !userEditForm.userEmail.$error.emailInUse && !userEditForm.userEmail.$pristine"> Please enter a valid email address. </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer" style="padding:10px;">
                <div ng-show="loading" class="loading"></div>
                <button type="button" class="btn btn-sm btn-success"
                        ng-disabled="!userEditForm.$valid || userEditForm.$pristine" ng-click="updateUser();"><span
                        class="glyphicon glyphicon-ok-sign"></span> Confirm changes
                </button>
                <button type="button" class="btn btn-sm btn-default" ng-click="cancel();"><span
                        class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>

        <!----------------------------------------->
        <!-------------HOUSE EDIT MODAL------------>
        <!----------------------------------------->
        <div class="modal-content" ng-show="houseEdit">

            <div class="modal-header" style="padding-bottom:0; padding:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Header" style="margin-top: 5px;">Edit House</h4>
            </div>
            <div class="col-xs-12 top-20"><b style="font-size:100%;margin-left: 5px;">{{orgName}}(<p class="label label-info" style="font-size:85%;border-radius: 300px;">{{editForm.houseName}}</p>)</b></div>
            <div class="modal-body" style="padding-bottom:0;">
                <form name="houseEditForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                            <input required
                                   type="text"
                                   class="form-control"
                                   id="houseName"
                                   name='houseName'
                                   placeholder="Your house name"
                                   maxlength="50"
                                   ng-model="editForm.houseName">
                </form>
                <div class="modal-footer" style="padding:10px;">
                    <button class="btn btn-sm btn-success"
                            ng-disabled="!houseEditForm.$valid || houseEditForm.$pristine || loading === 1" ng-click="updateHouse();">
                        <span class="glyphicon glyphicon-ok-sign" ng-submit="updateHouse();"></span> Confirm changes
                    </button>
                    <button ng-disabled="loading === 1" type="button" class="btn btn-sm btn-default" ng-click="cancel();"
                            style="margin-right:-10px;"><span
                            class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
                </div>


        </div>
    </div>
</div>