<div class="modal-header" style="padding: 10px 10px 0 10px;">
    <button style="margin-top: -10px;" type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
    <div class="clearfix">
        <div class="col-sm-12">
            <div ng-show="requestData.houseName" class="col-xs-12" style="margin-bottom:10px; margin-left:-15px;">Display as : <b>{{orgName}}(</b><b class="label label-info" style="font-size:90%;border-radius: 300px;">{{requestData.houseName}}</b>)</div>
            <div class="row" ng-bind-html="trustAsHtml">
            </div>
            <form ng-show="addNewHouseShow" ng-hide="hideForm || !addNewHouseShow" action="" name="addHouseForm">
            <textarea required
                      class="col-xs-12 form-control" ng-model="requestData.houseName"
                      name="houseName"
                      placeholder="Please provide a new house name here"
                      id="houseName"
                      maxlength="50"
                      cols="80"
                      rows="1"></textarea>
            </form>

            <form ng-hide="addNewHouseShow || hideForm" action="" name="widthdrawForm">
            <textarea class="col-xs-12 form-control" required ng-model="requestData.description"
                      minlength='1'
                      name="logoDescription"
                      placeholder="Write your reason here"
                      id="logoDescription"
                      cols="80"
                      rows="5"></textarea>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-right:14px;">
    <button ng-show="addNewHouseShow" ng-disabled="!requestData.houseName" ng-class="buttonClass" type="submit" ng-click="ok()" ng-cloak><span style="padding-right:10px;" ng-class="glyphClass"></span><b>{{buttonMessage}}</b></button>
    <button ng-show="confirmButtonShow" ng-disabled="!requestData.description" ng-class="buttonClass" type="submit" ng-click="ok()" ng-cloak><span style="padding-right:10px;" ng-class="glyphClass"></span><b>{{buttonMessage}}</b></button>
    <button ng-show="removeHouseButton" ng-class="buttonClass" type="submit" ng-click="deleteHouse()"><span style="padding-right:10px;" ng-class="glyphClass" ng-cloak></span><b>{{buttonMessage}}</b></button>

    <button class="btn btn-primary btn-sm" type="button" ng-click="cancel()"><span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close</button>
</div>
