<script src="app/controllers/modals/adminSearchController.js"></script>
<div class="modal-content searchAdm">
    <div class="modal-header text-center searchAdm">
        <button ng-click="cancel()" type="button" class="close searchAdm" data-dismiss="modal" aria-hidden="true"><span
                class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title text-center text-primary" id="HeadingSearchAdm">Search for school or contact</h4>
        <em>(Search by school name, contact name, ID, telephone, post code or email address).</em>
    </div>
    <div class="modal-body searchAdm">
        <!---SEARCH BOX --->
        <div class="row">
            <div class="col-xs-8 product-details text-center" style='border-right: 1px solid #ccc;'>
                <input ng-class="showingclass"
                       type="text"
                       required=""
                       autofocus
                       class="form-control" name="q"
                       ng-model="searchString" ng-model-options="{ debounce: 500 }" placeholder="Search..."
                       style="padding-left: 40px;"
                       id="q">
                <i class="glyphicon glyphicon-search form-control-feedback" style="left:15px;color:#A69999;"></i>
            </div>
            <div class='col-xs-4 text-center' style='margin-top: 1em;' ng-show='results.length >= 1 '>Schools found :
                <span ng-show='results.length > 7 '><b>7</b> out of </span>
                <b>{{results.length}}</b></div>
            <br>
        </div>

        <!---DATA---->
        <div class="row searchAdm">
            <div class="col-xs-12">
                <table class='table table-condensed table-striped table-responsive searchAdm'>
                    <thead>
                    <tr ng-show='results.length != null' ng-cloak>
                        <th>School Name(ID)</th>
                        <th>Local Authority</th>
                        <th>Education Phase</th>
                        <th>Pupils</th>
                        <th>Logins</th>
                        <th>Uniform Status</th>
                        <th>Website</th>
                        <th>Bank Details</th>
                        <th>Telephone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='data in data | filter:x as results' ng-if='$index < 7' $index as index>
                        <td>{{data.Name }}({{data.URN}})</td>
                        <td>{{data.LEAName}}</td>
                        <td>{{data["Phase of Education"]}}</td>
                        <td>{{data.Pupils}}</td>
                        <td>{{data.logins}}</td>
                        <td>{{data.school_status_name}}</td>
                        <td class="center">
                            <span class='glyphicon glyphicon-ok' ng-show='{{data.organization_url != null}}'></span>
                            <span class='glyphicon glyphicon-remove' ng-hide='{{data.organization_url !=null }}'></span>
                        </td>
                        <td class="center">
                            <span class='glyphicon glyphicon-ok' ng-show='{{data.bank_details_entered}}'></span>
                            <span class='glyphicon glyphicon-remove' ng-hide='{{data.bank_details_entered}}'></span>
                        </td>
                        <td>{{data.organization_telephone}} <span ng-hide="data.organization_telephone">{{data.Phone}}</span></td>
                        <td>
                            <a ng-hide="!data.organization_id" href ng-click="viewOrg(data.organization_id)">
                                <span class='glyphicon glyphicon-eye-open'></span>
                            </a>
                            <a ng-hide="data.organization_id" href ng-click="showProspect(data)">
                                <span class='glyphicon glyphicon-list-alt'></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
<div ng-controller="AdController2">
</div>
</div>
