<div class="modal-backdrop" id="userModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">

        <!----------------------------------------------------------------------------------->
        <!-----------------------------------BULK EDIT MODAL--------------------------------->
        <!----------------------------------------------------------------------------------->
        <div class="modal-content" ng-show="isBulkEditModal" ng-cloak>

            <div class="modal-header" style="padding:7px; padding-bottom:0; ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Bulk Order {{ bulkorderid }} - {{bulkForm.bulkData.header.organization_name}} ({{bulkForm.bulkData.header.school_URN}})</h4>
            </div>

            <div class="modal-body col-xs-12" style="padding-bottom:0; height: 80vh; max-height: 80vw;">

                <form name="bulkEditForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                    <h3>School Details</h3>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="schoolName">School name:</label>
                        <div class="col-sm-4">
                            <input required type="text" class="form-control" id="schoolName" name='schoolName' placeholder="School Name" ng-model="bulkForm.bulkData.header.organization_name" disabled>
                        </div>
                        <label class="control-label col-sm-2" for="schoolURN">School URN:</label>
                        <div class="col-sm-4">
                            <input required type="text" class="form-control" id="schoolURN" name='schoolURN' placeholder="School URN" ng-model="bulkForm.bulkData.header.school_URN" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="schoolName">Order Contact Name:</label>
                        <div class="col-sm-4">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" required type="text" class="form-control" id="bulkContactName" name='bulkContactName' placeholder="School Name" ng-model="bulkForm.bulkData.header.order_contact_name">
                            <span class="help" ng-show="bulkEditForm.bulkContactName.$invalid && !bulkEditForm.bulkContactName.$pristine">Please enter a last name.</span>
                        </div>
                        <label class="control-label col-sm-2" for="schoolURN">Order Contact Phone:</label>
                        <div class="col-sm-4">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" required type="text" class="form-control" id="bulkContactPhone" name='bulkContactPhone' placeholder="School URN" ng-model="bulkForm.bulkData.header.order_telephone">
                            <span class="help" ng-show="bulkEditForm.bulkContactPhone.$invalid && !bulkEditForm.bulkContactPhone.$pristine">Please enter a last name.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="schoolName">Order Contact Email:</label>
                        <div class="col-sm-10">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" required type="text" class="form-control" id="bulkContactEmail" name='bulkContactEmail' placeholder="School Name" ng-model="bulkForm.bulkData.header.order_email_address">
                            <span class="help" ng-show="bulkEditForm.bulkContactEmail.$invalid && !bulkEditForm.bulkContactEmail.$pristine">Please enter a last name.</span>
                        </div>
                    </div>
                    <h3>Bulk Delivery Address</h3>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Addr1">Line 1:</label>
                        <div class="col-sm-10">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" required type="text" class="form-control" id="Addr1" name='Addr1' placeholder="Smith" ng-model="bulkForm.bulkData.header.order_delivery_address_1">
                            <span class="help" ng-show="bulkEditForm.Addr1.$invalid && !bulkEditForm.Addr1.$pristine">Please an address line.</span>
                        </div>
                        <label class="control-label col-sm-2" for="Addr2">Line 2:</label>
                        <div class="col-sm-10">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" type="text" class="form-control" id="Addr2" name='Addr2' placeholder="Smith" ng-model="bulkForm.bulkData.header.order_delivery_address_2">
                        </div>
                        <label class="control-label col-sm-2" for="Addr3">Line 3:</label>
                        <div class="col-sm-10">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" type="text" class="form-control" id="Addr3" name='Addr3' placeholder="Smith" ng-model="bulkForm.bulkData.header.order_delivery_address_3">
                        </div>
                        <label class="control-label col-sm-2" for="Town">Town:</label>
                        <div class="col-sm-10">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" required type="text" class="form-control" id="Town" name='Town' placeholder="Smith" ng-model="bulkForm.bulkData.header.order_delivery_town">
                            <span class="help" ng-show="bulkEditForm.Town.$invalid && !bulkEditForm.Town.$pristine">Please enter a town.</span>
                        </div>
                        <label class="control-label col-sm-2" for="County">County:</label>
                        <div class="col-sm-10">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" required type="text" class="form-control" id="County" name='County' placeholder="Smith" ng-model="bulkForm.bulkData.header.order_delivery_county">
                            <span class="help" ng-show="bulkEditForm.County.$invalid && !bulkEditForm.County.$pristine">Please enter a county.</span>
                        </div>
                        <label class="control-label col-sm-2" for="PostCode">Postcode:</label>
                        <div class="col-sm-10">
                            <input ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" required type="text" class="form-control" id="PostCode" name='PostCode' placeholder="Smith" ng-model="bulkForm.bulkData.header.order_delivery_postcode">
                            <span class="help" ng-show="bulkEditForm.PostCode.$invalid && !bulkEditForm.PostCode.$pristine">Please enter a postcode.</span>
                        </div>
                    </div>

                    <h3>Order Items</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Style</th>
                                <th>GMO Ref</th>
                                <th>GTIN</th>
                                <th>Name</th>
                                <th>Colour</th>
                                <th>Size</th>
                                <th>Qty</th>
                                <th>Logo</th>
                                <th>OMS Error</th>
                                <th><th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order_line in bulkForm.bulkData.lines" ng-style="order_line.product_removed == 1 && {'background-color': '#ffdddd'}">
                                <td>{{ order_line.product_colour_style_ref }}</td>
                                <td>
                                    <a ng-if="order_line.product_gmo_cat_id" target="_blank" ng-href="http://tesco.com/direct/rest/content/catalog/sku/{{ order_line.product_gmo_cat_id }}">{{ order_line.product_gmo_cat_id }}</a>
                                </td>
                                <td>{{ order_line.product_ean }}</td>
                                <td>{{ order_line.product_name }}</td>
                                <td>{{ order_line.product_colour_name }}</td>
                                <td>{{ order_line.product_size_name }}</td>
                                <td>{{ order_line.product_quantity }} <span class="text-info small">({{ order_line.product_variation_stock }})</span></td>
                                <td>{{ order_line.products_logo_ref }}</td>
                                <td><span ng-if="order_line.GMOERROR" class="help">{{order_line.GMOERROR}}</span></td>
                                <td>
                                    <div>
                                        <button ng-hide="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number || order_line.product_removed == 1" ng-disabled="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number" type="button" class="btn btn-sm btn-danger" uib-tooltip="Remove Item" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="removeItem(order_line)"><span class="glyphicon glyphicon-fire"></span></button>
                                        <span ng-if="order_line.product_removed == 1" class="help small">Item Reomved</span>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-hide="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number">
                                <td>
                                    {{ selectedColourStyle }}
                                    <img style="width:60px;padding:3px" title="" alt="" ng-src="{{ selectedColourImage }}" ng-show="selectedColourImage">
                                </td>
                                <td><a ng-if="selectedGMOStyle" ng-href="http://tesco.com/direct/rest/content/catalog/product/{{ selectedGMOStyle }}">{{ selectedGMOStyle }}</a></td>
                                <td>{{ selectedEAN }}</td>
                                <td>
                                    <select ng-disabled="loading" name="newProduct" id="newProduct" class="form-control" ng-model="newproductData.productid">
                                        <option value="">Select Product</option>
                                        <option ng-repeat="newproduct in newproducts" value="{{ newproduct.product_id }}">{{ newproduct.product_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select ng-required='newproductData.productid' ng-disabled="loading" name="newColour" class="form-control" ng-model="newproductData.colour" ng-disabled="!newcolours">
                                        <option value="">Select Colour</option>
                                        <option ng-repeat="newcolour in newcolours" value="{{ newcolour.product_colour_id }}">{{ newcolour.colour_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select ng-required='newproductData.productid' ng-disabled="loading" name="newSize" id="newSize" class="form-control" ng-model="newproductData.size" ng-disabled="!sizes">
                                        <option value="" selected="selected">Select Size</option>
                                        <option ng-repeat="size in sizes" ng-disabled="size.product_qty <= 0" value="{{ size.product_size_id }}">{{ size.product_size_name }} ({{ size.product_qty }})</option>
                                    </select>
                                </td>
                                <td><input name="newQty" name="newQty" type="number" min="1" max="{{selectedSizeQty}}" ng-model="newproductData.quantity" class="input-sm"/> <span ng-if="selectedSizeQty" class="text-info small">({{ selectedSizeQty }})</span></td>
                                <td>
                                    <div style="display:inline-block;">
                                        <select ng-show="usableEmblems" name="newLogo" ng-required='newproductData.productid' class="form-control" ng-model="newproductData.logo" ng-disabled="!emblemdetail">
                                            <option value="">Select Logo</option>
                                            <option ng-repeat="emblem in usableEmblems" value="{{ emblem.organization_logo_id }}">{{ emblem.tesco_style_ref }}</option>
                                        </select>
                                        <div ng-hide="usableEmblems">
                                            No
                                            < 60mm logos </div>
                                    </div>
                                </td>
                                <td>
                                    <div style="display:inline-block;" ng-show="selectedLogoImage"><img style="width:40px;padding:3px;" ng-style="{backgroundColor: 'rgb('+selectedLogoBackground+')'}" ng-src="{{ selectedLogoImage }}" alt=""></div>
                                </td>
                                <td>
                                    <div>
                                        <button ng-disabled="!newproductData.logo || !newproductData.size || bulkEditForm.newQty.$invalid" type="button" class="btn btn-success btn-sm" uib-tooltip="Add Item" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="addItem()"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </form>

            </div>

            <!-- Buttons !-->

            <div class="row"></div>
            <div class="modal-footer" style="padding:7px;">
                <div class="loading" ng-show="loading"></div>
                <button ng-hide="bulkForm.bulkData.header.organization_bulk_order_gmo_order_number"
                        type="button" class="btn btn-sm btn-success"
                        ng-disabled="!bulkEditForm.$valid || bulkEditForm.$pristine || !oneHourOld || bulkForm.bulkData.header.organization_bulk_order_gmo_sent == 0"
                        ng-click="updateBulk();"><span
                        class="glyphicon glyphicon-ok-sign"></span> Resubmit Order
                </button>
                <button ng-disabled="loading == 1" class="btn btn-primary btn-sm" type="button" ng-click="cancel()"><span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close</button>

            </div>
        </div>


</div>