<div class="modal-backdrop" id="userModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog">

        <!----------------------------------------------------------------------------------->
        <!-----------------------------------USER ADD MODAL---------------------------------->
        <!----------------------------------------------------------------------------------->
        <div class="modal-content" ng-show="isUserAddModal" ng-cloak>
            <div class="modal-header" style="padding-bottom:0; padding:7px;">
                <button ng-disabled="loading == 1" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Add User</h4>
            </div>

            <div class="modal-body col-xs-12" style="padding-bottom:0;">
                <form ng-disabled="loading == 1" id="form.newUserForm" name="form.newUserForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstName">First name:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" id="firstName" name='firstName' placeholder="John" ng-model="newUserForm.firstname">
                            <span class="help" ng-show="form.newUserForm.firstName.$invalid && !form.newUserForm.firstName.$pristine">Please enter a name.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastName">Last name:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" id="lastName" name='lastName' placeholder="Smith" ng-model="newUserForm.lastname">
                            <span class="help" ng-show="form.newUserForm.lastName.$invalid && !form.newUserForm.lastName.$pristine">Please enter a last name.</span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="userEmail">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" required class="form-control" id="userEmail" name="userEmail" placeholder="johnsmith@domain.org" ng-model="newUserForm.email">
                            <span class="help" ng-show="form.newUserForm.userEmail.$invalid && !form.newUserForm.userEmail.$error.emailInUse && !form.newUserForm.userEmail.$pristine"> Please enter a valid email address. </span>
                        </div>
                    </div>
                    Do you want this user to have access to teams/units below this parent?
                    <div class="form-group">

                     <div class="checkbox checkbox-primary">
                            <div class="checkbox">
                                <input id="checkbox1" name="checkbox1" type="checkbox" ng-model="newUserForm.copytodescendants"  class="form-control ng-pristine ng-valid ng-touched" style="">
                                <label for="checkbox1"><b>Check To Set Descendant Access</b></label>
                            </div>
                        </div>
                     </div>


                </form>
            </div>

            <div class="row"></div>
            <div class="modal-footer" style="padding: 7px;">
                <div class="loading" ng-show="loading"></div>
                <button ng-disabled="!form.newUserForm.$dirty || !form.newUserForm.$valid || loading == 1" ng-click="addUserAdmin();" class="btn btn-success btn-sm"><span
                        class="glyphicon glyphicon-plus-sign"> <b>Add new user</b></span></button>
                <button ng-disabled="loading == 1" class="btn btn-primary btn-sm" type="button" ng-click="cancel()"><span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close</button>

            </div>
        </div>

        <!----------------------------------------------------------------------------------->
        <!-----------------------------------USER EDIT MODAL--------------------------------->
        <!----------------------------------------------------------------------------------->
        <div class="modal-content" ng-show="isUserEditModal" ng-cloak>
            <div class="modal-header" style="padding-bottom:0; padding:7px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Edit User</h4>
            </div>

            <div class="modal-body col-xs-12" style="padding-bottom:0;">
                <form name="userEditForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstName">First name:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" id="firstName" name='firstName' placeholder="John" ng-model="editForm.firstname">
                            <span class="help" ng-show="userEditForm.firstName.$invalid && !userEditForm.firstName.$pristine">Please enter a name.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastName">Last name:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" id="lastName" name='lastName' placeholder="Smith" ng-model="editForm.lastname">
                            <span class="help" ng-show="userEditForm.lastName.$invalid && !userEditForm.lastName.$pristine">Please enter a last name.</span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="userEmail">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" required ng-disabled="user.user_primary !== 1" class="form-control" id="userEmail" name="userEmail" placeholder="johnsmith@domain.org" ng-model="editForm.email">
                            <span class="help" ng-show="userEditForm.userEmail.$invalid && !userEditForm.userEmail.$error.emailInUse && !userEditForm.userEmail.$pristine"> Please enter a valid email address. </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row"></div>
            <div class="modal-footer" style="padding:7px;">
                <div class="loading" ng-show="loading"></div>
                <button type="button" class="btn btn-sm btn-success" ng-disabled="!userEditForm.$valid || userEditForm.$pristine" ng-click="updateUser();"><span
                        class="glyphicon glyphicon-ok-sign"></span> Confirm changes
                </button>
                <button ng-disabled="loading == 1" class="btn btn-primary btn-sm" type="button" ng-click="cancel()"><span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close</button>

            </div>
        </div>


        <!----------------------------------------------------------------------------------->
        <!-------------------------------USER MAKE PRIMARY MODAL----------------------------->
        <!----------------------------------------------------------------------------------->
        <div class="modal-content" ng-show="isUserMakePrimaryModal" ng-cloak>
            <div class="modal-header" style="padding-bottom:0px; padding:7px;">
                <button ng-disabled="loading == 1" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Primary Contact</h4>
            </div>

            <div class="modal-body col-xs-12" style="padding-bottom:20px;">
                <h4><b>Do you want to make this user a primary contact?</b></h4>
                <b>Name</b> : <em>{{user.user_name}}</em><br>
                <b>Email</b> : <em>{{user.user_email}}</em>
            </div>

            <div class="row"></div>
            <div class="modal-footer" style="padding: 7px;">
                <div class="loading" ng-show="loading"></div>
                <button ng-click="makeUserPrimary();" class="btn btn-success btn-sm"><span
                        class="glyphicon glyphicon-plus-sign"> <b> Confirm</b></span></button>
                <button ng-disabled="loading == 1" class="btn btn-primary btn-sm" type="button" ng-click="cancel()"><span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close</button>
            </div>
        </div>


        <!----------------------------------------------------------------------------------->
        <!---------------------------------USER DELETE MODAL--------------------------------->
        <!----------------------------------------------------------------------------------->
        <div class="modal-content" ng-show="isUserDeleteModal" ng-cloak>
            <div class="modal-header" style="padding-bottom:0; padding:7px;">
                <button ng-disabled="loading == 1" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Delete User</h4>
            </div>

            <div class="modal-body col-xs-12" style="padding-bottom:20px;">
                <h4 class="bg"><b>Are you sure you want to delete this user?</b></h4>
                <b>Name</b> : <em>{{user.user_name}}</em><br>
                <b>Email</b> : <em>{{user.user_email}}</em>
            </div>
            <div class="row"></div>
            <div class="modal-footer" style="padding: 7px;">
                <div class="loading" ng-show="loading"></div>
                <button ng-disabled="loading == 1" ng-click="deleteUser();" class="btn btn-danger btn-sm"><span
                        class="glyphicon glyphicon-trash"> <b>Delete user</b></span></button>
                <button ng-disabled="loading == 1" class="btn btn-primary btn-sm" type="button" ng-click="cancel()">
                    <span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close
                </button>


            </div>
        </div>

    </div>
</div>