<div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
            class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
    </button>
    <h4 class="modal-title" style="margin-top: 5px;">Quick note <span class="label label-pill label-primary tasksAdm">{{ actions.length }}</span>
    </h4>
</div>
<div class="modal-body">
    <div class="col-xs-12">
        <!-- ORG QUICK NOTE -->
        <textarea class="form-control" rows="5" id="quick-note-comment" ng-model="organization_note" autofocus placeholder="Type your note in here.." style="font-size: 1.1em"></textarea>
    </div>
</div>

<div class=" modal-footer " style="padding: 5px; ">
    <button class="btn btn-sm btn-warning " type="button " ng-click="cancel(); " style="width:20%; "><b>Close</b></button>
</div>