<div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
            class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
    </button>
    <h4 class="modal-title" style="margin-top: 5px;">My Actions <span class="label label-pill label-primary tasksAdm">{{ actions.length }}</span>
    </h4>
</div>
<div class="modal-body">
    <div class="col-xs-12">
        <h4 ng-if="actions.length < 1">There are no active tasks</h4>
        <ul ng-if="actions.length > 0" class=" nav nav-pills nav-stacked col-xs-12 tasksEditAdm " style="padding:0; ">
            <li class='btn btn-default tasksEditAdm' ng-repeat="task in actions " ng-click="showDescription=! showDescription " style="margin-bottom:5px; ">
                <div class="clearfix ">
                    <b class='pull-left'>{{task.organization_name}}({{task.school_URN}})</b>
                    <span class='glyphicon glyphicon-time pull-right hidden-xs'><em
                            class=''>{{task.ticket_alert_date}}</em></span><br>
                    <span class='glyphicon glyphicon-time pull-right visible-xs' data-toggle="tooltip " data-placement="bottom " title="{{task.ticket_alert_date}} " style="top: -10px;right: -5px; "></span>
                    <p class='pull-left' style="font-weight: normal; margin: 0; ">{{task.ticket_subject}}</p><br>
                    <span class="label label-pill label-primary pull-right ">{{ task.ticket_type_name }}</span>
                </div>
                <div class='row' uib-collapse="!showDescription " style="color:#636262; text-align:left; z-index:15; text-align: justify; margin-left:0; margin-right:0; ">
                    <hr style="margin-top:2px; margin-bottom: 2px; border-top: 1px solid #9F9E9E; margin-bottom:5px; ">
                    <div style="font-style: italic; font-weight:normal; white-space: normal; ">
                        <p>"{{task.ticket_description}} "</p>
                    </div>
                    <div class="pull-right ">
                        <a class="nounderline " style="width:10%;z-index:50; " ng-click="$event.preventDefault();viewOrg(task.ticket_organization) " title="View note ">
                            <span class='glyphicon glyphicon-eye-open' style=" font-size: 1.5em; margin-right:10px; "></span>
                        </a>
                        <a class="nounderline " style="width:10%;z-index:50; " ng-click="deleteTask(task);$event.preventDefault(); " title="Delete note ">
                            <span ng-click="$event.preventDefault() " class='glyphicon glyphicon-remove task-remove'></span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>

<div class="modal-footer " style="padding: 5px; ">
    <button class="btn btn-sm btn-warning " type="button " ng-click="cancel(); " style="width:20%; ">Close</button>
</div>