<div class="modal-backdrop" id="addNote" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="padding-bottom:0; padding:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Add new note</h4>
            </div>

            <div class="modal-body" style="padding-bottom:0;">
                <div class="col-xs-12">
                    <form name="addNoteForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                        <div class="form-group">
                            <label for="firstName">Name:</label>
                            <div id="firstName" class="well well-sm" style="margin-bottom:0;">{{session.user.user_first_name}}</div>

                        </div>

                        <div class="form-group">
                            <label for="noteType">Escalate To Admin:</label>


                            <select class="form-control has-feedback" name="noteToWho" id="noteToWho"
                                    ng-model="newNote.noteToWho" required
                                    ng-change="changedValue(newNote.who)"
                                    required>
                                <option value="">Please Select</option>
                                <option value="999999">Organization Wide</option>
                                <option ng-repeat="admin in newNote.adminusers"
                                        ng-selected="admin.user_id == admin.user_id"
                                        value="{{admin.user_id}}">
                                    {{admin.userorg}}
                                </option>
                            </select>
                            <span class="help" ng-show="addNote.noteToWho.$invalid && !addNoteForm.noteToWho.$pristine"> Please chose an admin. </span>


                        </div>

                        <div class="form-group">
                            <label for="noteType">Type:</label>


                            <select class="form-control has-feedback" name="noteType" id="noteType"
                                    ng-model="newNote.notetype" required
                                    ng-change="changedValue(newNote.type)"
                                    required>
                                <option value="">Please Select</option>

                                <option ng-repeat="formElement in formElements.tickettypes"
                                        ng-selected="formElement.id == formdata.orgtype"
                                        value="{{formElement.id}}">
                                    {{formElement.title}}
                                </option>


                            </select>
                            <span class="help" ng-show="addNote.noteType.$invalid && !addNoteForm.noteType.$pristine"> Please chose a type of a note. </span>


                        </div>
                        <div class="form-group">
                            <label for="noteDesc">Subject:</label>


                            <input type="text"
                                   ng-model="newNote.notesubject"
                                   class="form-control"
                                   id="noteSub"
                                   name='noteSub'
                                   placeholder="Subject"/>
                            <span class="help"
                                  ng-show="userEditForm.noteSub.$invalid && !userEditForm.noteSub.$pristine">Please enter a subject.</span>

                        </div>
                        <div class="form-group">
                            <label for="noteDesc">Note:</label>


                            <textarea required type="text" ng-model="newNote.notedesc" class="form-control"
                                      id="noteDesc" name='noteDesc'
                                      rows="5" placeholder="Write your note here.."></textarea>
                            <span class="help"
                                  ng-show="userEditForm.noteDesc.$invalid && !userEditForm.noteDesc.$pristine">Please enter a note description.</span>

                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="checkbox checkbox-primary">
                                <div  class="checkbox">
                                    <input ng-model="newNote.setAlert" id="checkbox1" name="checkbox1" type="checkbox"
                                           class="form-control">
                                    <label for="checkbox1"><b>Set Alert?</b></label>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" ng-show="newNote.setAlert">

                                <label for="formDateView">Alert date/time:</label>

                                <button type="button" id="formDateView" role="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                                    <i class="glyphicon glyphicon-calendar"></i>&nbsp;{{ newNote.myDateView }}
                                    <input type="hidden" id="formDate" class="form-control" ng-model="newNote.myDate" ng-required="newNote.setAlert">
                                </button>
                            <span class="help"
                                  ng-show="userEditForm.noteSub.$invalid && !userEditForm.noteSub.$pristine">Please enter the date from the form.</span>
                        </div>
                        <div class="col-xs-12 text-center top-20">
                            <div class="div-bordered" uib-collapse="isCollapsed">
                                <datetimepicker style="margin:0 auto;" before-render="beforeRender($view, $dates)" datetimepicker-config="dateTimeOptions" on-set-time="onTimeSet(newDate, oldDate)" ng-model="newNote.myDate" on-set-time="isCollapsed = !isCollapsed"></datetimepicker>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer" style="padding:10px;">
                <button type="button" class="btn btn-sm btn-success" ng-disabled="!addNoteForm.$valid"
                        ng-click="addNote();"><span
                        class="glyphicon glyphicon-ok-sign"></span> Add note
                </button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="cancel();"><span
                        class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
    </div>
</div>