<div class="clearfix">
    <div class="modal-header emblem">
        <button ng-disabled="loading === 1" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align emblem" id="Heading">Upload design - {{emblem.tesco_style_ref}}</h4>

    </div>
    <div class="modal-body">
        <!-- LOGO + DESC -->
        <div class="col-xs-12">
            <div>
                <div class="image-container large" style="position: relative;" ng-cloak ng-style="{ backgroundColor: 'rgb('+emblem.primary_background_colour+')' }">

                    <div class="dummy"></div>
                    <div class="img-container">
                        <img ng-src="{{serverstring+emblem.logo_url}}" alt="{{ emblem.tesco_style_ref }}" ng-cloak>
                    </div>
                </div>
                <h4>Attachments <span uib-popover="Please upload files with proper extensions: .dst | .pdf | .emb. Example file names are shown below:
                        example.pdf , example.dst, example.emb" popover-title="Design files" popover-trigger="mouseenter" popover-placement="bottom-left" class='glyphicon glyphicon-info-sign'></span></h4>
            </div>
            <div ng-hide="allLogos.length">
                Design files must have provided extensions:
                <em><b>.dst</b></em>&nbsp;
                <em><b>.pdf</b></em>&nbsp;
                <em><b>.emb</b></em>
            </div>
            <table ng-show="allLogos.length" class="table table-striped small">
                <thead>
                    <tr>
                        <th class="text-center"><span class="glyphicon glyphicon-picture" /></th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='' ng-repeat="logo in allLogos track by $index">
                        <td style="vertical-align: middle; padding:0;" class="text-center">
                            <!-- uploaded image -->
                            <div class="image-container small" style="position: relative;" ng-cloak ng-style="{ backgroundColor: 'rgb('+logo.backgroundColour+')' }">

                                <div class="dummy"></div>
                                <div class="img-container">
                                    <img ng-show="logo.isImage && logo.type != 'emblem'" ng-src="{{logo.url}}" alt="{{logo.name}}">
                                    <img ng-hide="logo.isImage || logo.type == 'emblem'" ng-src="images/generic.png" alt="Generic File">
                                    <img ng-show="logo.type == 'emblem'" ng-src="{{logo.url}}" alt="{{logo.name}}" style="width:100px; height: 100px;">
                                </div>
                            </div>
                        </td>
                        <td class="text-center" style="vertical-align: middle;padding:0;">
                            {{logo.name}}
                        </td>
                        <td class="text-center" style="vertical-align: middle;padding:0;" class="text-right">
                            <div>
                                <button class="btn btn-danger btn-sm" ng-click="removeEmblem($index)" uib-tooltip="Remove attachments" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"/>
                            </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="checkbox checkbox-primary">
        <div class="checkbox">
            <input ng-model="sampleSent" id="sampleSent" name="sampleSent" type="checkbox" check-required class="form-control">
            <label for="sampleSent">
                <br>
                <p style="margin-top: -10px;"><b>Sample already sent?</b></p>
            </label>
            <span class="help" ng-show="registerForm.sampleSent.$invalid && !registerForm.sampleSent.$pristine"> You must agree to register. </span>
        </div>
    </div>

    <div class="col-xs-12">
        <div uib-collapse="!sampleSent" class="form-group">
            <label>Sample Background Colour</label>
            <select class="form-control" ng-model="emblem.primary_background_colour">
                <option>Select main background</option>
                <option ng-repeat="colour in formElements.colours" value="{{ colour.rgb }}">{{ colour.title }}</option>
            </select>
        </div>

    </div>
    <!-- FOOTER BTN -->
    <div class="modal-footer text-center col-xs-12 emblem">
        <div class='loading' ng-show="loading"></div>
        <span ng-show="uploadedExtensions.dst == true" class="label label-info">.dst</span>
        <span ng-show="uploadedExtensions.pdf == true" class="label label-info">.pdf</span>
        <span ng-show="uploadedExtensions.emb == true" class="label label-info">.emb</span>
        <span ng-show="uploadedExtensions.dst == false || uploadedExtensions.pdf == false || uploadedExtensions.emb == false" ng-disabled="loading === 1" class="btn btn-default btn-primary btn-sm upload-emblem">
                        <span style='padding-right: 10px; ' class="glyphicon glyphicon-upload"></span>
        <span style="font-weight: normal;">Attach File</span>
        <input type="file" name="file" id="uploadfile" custom-on-change="photoChanged" />
        </span>
        <button ng-disabled="loading === 1" ng-show=" uploadedExtensions.dst == true && uploadedExtensions.pdf == true && uploadedExtensions.emb == true" class="btn btn-success btn-sm" ng-click="sendRequest();"><span class="glyphicon glyphicon-plus-sign" style='padding-right: 7px;'></span>Save files
        </button>
        <button type="button" ng-disabled="loading === 1" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span
                class="glyphicon glyphicon-ban-circle" class="glyphicon glyphicon-plus-sign"
                style='padding-right: 7px;'></span>Cancel
        </button>

    </div>
</div>
</div>