<script src="app/controllers/modals/adminEditTaskController.js"></script>
            <div class="modal-backdrop" id="preview" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content tasksEditAdm">
                        <div class="modal-header text-center tasksEditAdm">
                            <!-- SCHOOL INFO NAV --->
                            <div class="row info-row">
                                <div class="col-xs-12 text-center tasksEditAdm">
                                    <div class="col-xs-2"><b>Name</b></div>
                                    <div class="col-xs-2 ng-binding"><b>Local Authority</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2 ng-binding"><b>Education Phase</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2 ng-binding"><b>Pupils</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2 ng-binding"><b>Phone</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2"><em><a ng-click="show_address = !show_address">Show Address</a></em>
                                        <br>
                                    </div>
                                    <div ng-click="cancel()" class="close tasksEditAdm pull-right" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove pull-right tasksEditAdm" aria-hidden="true"></span></div>

                                </div>
                            </div>

                            <!-- SHOW ADDRESS ---->
                            <br>
                            <div class="row address-row text-center ng-hide" ng-show="show_address">
                                <div class="col-xs-12">
                                    <div class="col-xs-2"><b>Account name</b></div>
                                    <div class="col-xs-2 ng-binding"><b>Address Line 2</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2 ng-binding"><b>Address Line 3</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2 ng-binding"><b>County</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2 ng-binding"><b>Post Code</b>
                                        <br>
                                    </div>
                                    <div class="col-xs-2">

                                    </div>
                                </div>
                            </div>

                            <!-- END SCHOOL INFO NAV --->

                        </div>

                        <!--- EDIT BODY ---->
                        <div class="modal-body tasksEditAdm">
                            <div class="row">
                                <!--- NOTE/TASK/LOGS --->
                                <div class="col-xs-3 col-xs-offset-0 " style="padding:3px; margin:0;">
                                    <ul class="nav nav-pills nav-stacked col-xs-12 tasksEditAdm">
                                        <li class='btn btn-success'><span class='glyphicon glyphicon-plus-sign' style='padding-right:10px'></span>View Action Log</li>
                                        <li class='btn btn-primary'><span class='	glyphicon glyphicon-file' style='padding-right:10px'></span>Add Note or Task</li>
                                        <li class='btn btn-default tasksEditAdm'>
                                            <b class='small pull-left'>Title</b>
                                            <span class='glyphicon glyphicon-edit pull-right'><em class='small'>Today</em></span><br>
                                            <p class='small pull-left'>Description</p><br>
                                        </li>
                                        <li class='btn btn-default'>
                                            <b class='small pull-left'>Title</b>
                                            <span class='glyphicon glyphicon-edit pull-right'><em class='small'>Today</em></span><br>
                                            <p class='small pull-left'>Description</p><br>
                                        </li>
                                        <li class='btn btn-default'>
                                            <b class='small pull-left'>Title</b>
                                            <span class='glyphicon glyphicon-edit pull-right'><em class='small'>Today</em></span><br>
                                            <p class='small pull-left'>Description</p><br>
                                        </li>
                                    </ul>
                                </div>

                                <!--- ADD NOTE ---->
                                <div class='col-xs-9'>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input required type="text" class="form-control has-feedback" name="orgname" id="orgname" autocomplete="off" value="" placeholder="Add note title" ng-model="formdata.orgname">
                                        </div>
                                        <div class="col-xs-3">Author</div>
                                        <div class="col-xs-3">Icons/Calendar</div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <textarea class="form-control" rows="8" id="comment" placeholder="Note description.."></textarea></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                        <!--- END EDIT BODY ---->


                    </div>
                </div>
            </div>
<div ng-controller="AdminEditTaskController">
</div>