<div class="modal-header" style="padding: 10px 10px 0 10px;">
    <button ng-disabled="loading" style="margin-top: -10px;" type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Request sample</h4>
</div>
<div class="modal-body">
    <div class="clearfix">
        <div class="col-sm-12">

            <form name="form.sampleRequest" method="post">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed ">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Colour</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="session.user.user_type_id == 5">
                                <td colspan="">
                                    <select ng-disabled="loading" name="sampleProduct" id="sampleProduct" class="form-control" required ng-model="sample.product">
                                        <option value="" selected="selected">Select Product</option>
                                        <option ng-repeat="product in products track by $index " value="{{ product.product_id }}">{{ product.product_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select ng-disabled="loading" name="sampleColour" id="sampleColour" required class="form-control" ng-model="sample.colour" ng-disabled="!colours">
                                        <option value="" selected="selected">Select Colour</option>
                                        <option ng-repeat="colour in colours" value="{{ colour.product_colour_id }}">{{ colour.colour_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select ng-disabled="loading" name="sampleSize" id="sampleSize" required class="form-control" ng-model="sample.size" ng-disabled="!sizes">
                                    <option value="" selected="selected">Select Size</option>
                                    <option ng-repeat="size in sizes" ng-disabled="size.product_qty <= 0" value="{{ size.product_size_name }}">{{ size.product_size_name }} ({{ size.product_qty }})</option>
                                </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

            <div class="pull-left text-warning" ng-show="emblemTooBig && !selectedColourImage">Some products may not appear due to the emblem size being too big.</div>

            <div uib-collapse="!selectedColourImage" class="row col-xs-12" style="padding:0;margin:0;">
                <div class="col-xs-6 text-center">
                    <img style="width:150px;padding:3px" title="" alt="" ng-src="{{ selectedColourImage }}">
                    <h4>{{ selectedColourStyle }}</h4>
                </div>

                <!-- Emblem threads preview -->
                <div class="col-xs-6" style="max-height: 170px;overflow: auto;">
                    <h4 class="text-center">Emblem threads :</h4>
                    <table class=" table table-condensed ">
                        <tbody>
                            <tr ng-repeat="thread in emblem.threadsCopy track by $index">
                                <td class="view-emblem-threads text-center" colspan="1 " align="center " ng-class="{ 'warning' : thread.rgb_diffrence } ">
                                    <div style="color: rgb({{formElements.threads[thread.title].rgb}}) ">
                                        <b>{{formElements.threads[thread.title].title}}</b>
                                        <span ng-show="thread.rgb_diffrence" class="glyphicon glyphicon-exclamation-sign pull-right" data-toggle="tooltip" title="This colour might be coliding with a product colour" style="padding-right: 5px;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <!--<input type="range" name="" value="" ng-model="tolerance" min="1" max="255" step="1">
                <br> Tolerance : <b>{{(tolerance / 255) * 100 | number:2 }}%</b> Tolerance int val : <b>{{tolerance}}-->

        </div>
    </div>
</div>
<div class="modal-footer " style=" padding: 7px; ">
    <div class="loading pull-left ng-hide " ng-show="loading "></div>
    <button ng-disabled="form.sampleRequest.$invalid || loading" class='btn btn-sm btn-success' type=" submit " ng-click="requestSample() " ng-cloak><span class="glyphicon glyphicon-ok " style="padding-right:10px; "></span><b>Request sample</b></button>
    <button ng-disabled="loading " type="button " class="btn btn-default btn-sm " data-dismiss="modal " ng-click="cancel() "><span
         class="glyphicon glyphicon-ban-circle " style="padding-right: 7px; "></span><b>Close</b>
      </button>
</div>