<div class="clearfix">

    <div class="modal-header emblem">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align emblem" id="Heading">
            Request new emblem
            <button ng-show="logoTypeChosen && emblems.length > 0" ng-disabled="loading == 1" style="margin-right: 10px;" class="btn btn-default btn-sm pull-right" ng-click="logoTypeChosen = false; ">
                <span class="glyphicon glyphicon-retweet" style='padding-right: 7px; font-size: 1.2em;'></span><b>Change logo type</b>
            </button>
        </h4>
    </div>

    <div class="modal-body" ng-class="{'modal-view-emblems' : editLogo}">
        <!-- LOGO TYPE CHOICE -->
        <div id="logoTypeChoice" uib-collapse="logoTypeChosen">
            <h4>Please choose the emblem type you would like to request : {{logotype}}</h4>
            <div class="radiobutton">
                <div class="radiobutton-primary" ng-click="chooseLogoType('new')">
                    <input value='first' type="radio" name="radio" ng-model="logoTypeButton" id="new" />
                    <label style="margin-top:0;" for="new">New design with new elements</label>
                </div>
                <div class="radiobutton-primary" ng-click="chooseLogoType('existing')">
                    <input value='second' type="radio" name="radio" ng-model="logoTypeButton" id="existing" />
                    <label style="margin-top:0;" for='existing'>Colour change of existing design</label>
                </div>
                <button style='width: 100%;' class="btn btn-success btn-sm" ng-click="acceptLogoType();"><span class="glyphicon glyphicon-chevron-down"
                                                           style='padding-right: 7px; font-size: 1.2em;'></span><b>Accept logo type</b>
                </button>
            </div>
        </div>

        <!-- NEW DESIGN -->
        <div uib-collapse="(!logoTypeChosen || requestData.logoType != 'new')">
            <div class="col-xs-12">
                <div>
                    <h4>Attachments</h4>
                </div>
                <div ng-hide="allLogos.length">You have no attachments.</div>
                <table ng-show="allLogos.length" class="table table-striped small">
                    <thead>
                        <tr>
                            <th class="text-center"><span class="glyphicon glyphicon-picture" /></th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='' ng-repeat="logo in allLogos track by $index">
                            <td style="vertical-align: middle; padding:0;" class="text-center">
                                <!--uploaded image -->
                                <div class="image-container small" style="position: relative;" ng-cloak ng-style="{ backgroundColor: 'rgb('+logo.backgroundColour+')' }">

                                    <div class="dummy"></div>
                                    <div class="img-container">
                                        <img ng-show="logo.isImage && logo.type != 'emblem'" ng-src="{{logo.url}}" alt="{{logo.name}}">
                                        <img ng-hide="logo.isImage || logo.type == 'emblem'" ng-src="images/generic.png" alt="Generic File">
                                        <img ng-show="logo.type == 'emblem'" ng-src="{{logo.url}}" alt="{{logo.name}}" style="width:100px; height: 100px;">
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" style="vertical-align: middle;padding:0;">
                                {{logo.name}}
                            </td>
                            <td class="text-center" style="vertical-align: middle;padding:0;" class="text-right">
                                <div>
                                    <button class="btn btn-danger btn-sm" ng-click="removeEmblem($index)" uib-tooltip="Remove attachments" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"/>
                            </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-xs-12 top-20">
                <form action="" name="descriptionForm">
                    <textarea class="col-xs-12" required minlength="20" ng-model="requestData.description" name="logoDescription" placeholder="Write your new emblem description here.." class="form-control" id="logoDescription" cols="80" rows="5"></textarea>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="logoHeight">Height. (mm)</label>
                            <input required class="form-control" type="text" id="logoHeight" name="logoHeight" maxlength="3" ng-model="requestData.logoHeight" ng-pattern="onlyNumbers" placeholder="Height[mm]" />
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="logoWidth">Width. (mm)</label>
                            <input required class="form-control" type="text" name="logoWidth" id="logoWidth" maxlength="3" ng-model="requestData.logoWidth" ng-pattern="onlyNumbers" placeholder="Width (mm)" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="checkbox checkbox-primary">
                            <div class="checkbox">
                                <input ng-model="requestData.createOrder" id="createOrder" name="createOrder" type="checkbox" class="form-control">
                                <label for="createOrder">

                            <p style="margin-top: -10px;"><b>Create eBOS order?</b><br>As standard an ebos order will be created with the details and uploads you enter here.  If you dont want to create an ebos order plese un-tick this checkbox.</p>

                        </label>

                                <span class="help" ng-show="registerForm.createOrder.$invalid && !registerForm.createOrder.$pristine"> You must agree to register. </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <span class="help" ng-show="descriptionForm.logoDescription.$invalid && !descriptionForm.logoDescription.$pristine">Description must be minimum 20 characters long. </span>
                    </div>
                    <div class="row">
                        <span class="help" ng-show="descriptionForm.logoHeight.$invalid && !descriptionForm.logoHeight.$pristine">Please provide a valid height of the logo.</span>
                    </div>
                    <div class="row">
                        <span class="help" ng-show="descriptionForm.logoWidth.$invalid && !descriptionForm.logoWidth.$pristine">Please provide a valid width of the logo.</span>
                    </div>
                </form>
            </div>
        </div>


        <!-- EXISTING DESIGN -->
        <div uib-collapse="(!logoTypeChosen || requestData.logoType != 'existing')">
            <!-- Choose existing logo here -->
            <div class="existing-logos col-xs-12 clearfix" uib-collapse="threadEditorOpen">
                <h4> Choose existing emblem : </h4>
                <div class="col-xs-12" style="min-height: 110px" ng-class="{'text-center' : emblems.length < 5}">
                    <ul class='list list-unstyled list-inline' style="margin-left: -10px;">
                        <li ng-repeat='emblem in emblems' ng-dblclick="saveSelectedLogo();" style="padding-left: 0px;">
                            <div style="position: relative; cursor: pointer">
                                <div class="review-modal-emblem" ng-click="selectExistingEmblem(emblem, $index);" ng-class="{activeEmblem: emblem == selectedEmblem}" uib-tooltip="{{emblem.tesco_style_ref}}" tooltip-trigger="mouseenter" tooltip-placement="top">
                                    <div class="image-container small" style="position: relative;" ng-cloak ng-style="{ backgroundColor: 'rgb('+emblem.primary_background_colour+')' }">
                                        <div class="dummy"></div>
                                        <div class="img-container">
                                            <img ng-src="{{serverstring+ emblem.logo_url}}" alt="{{ emblem.tesco_style_ref }}" ng-cloak>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Not digitized description -->
            <div class="row clearfix">
                <div class="col-xs-10 col-xs-offset-1" uib-collapse="hideNoteField">
                    <h4>Colour Option Notes : </h4>
                    <textarea name="" id="selected-emblem-desc" cols="1" rows="3" style="width: 100%" placeholder="Type emblem differences here..." ng-model="selectedEmblem.description"></textarea>
                </div>
            </div>

            <!-- Edit existing logo if necessary -->
            <div class="edit-existing-logo" ng-show="threadEditorOpen && hideNoteField">

                <!--Edit logo container

                <br> editedThreads : <pre>
                {{editedThreads | json}}
                </pre>-->
                <!-- Emblem Image -->
                <div style="position: relative; margin-top: -10px;" class="text-center col-xs-6" ng-class="{'min-height-350px' : editLogo}">
                    <p ng-hide="editLogo" id="view-emblem-ref"><b>{{emblem.tesco_style_ref}}</b></p>
                    <div class="image-container large" id="view-emblem-img-container" ng-style="{ backgroundColor: 'rgb('+selectedEmblem.primary_background_colour+')' }" ng-cloak>
                        <div class="dummy"></div>
                        <div class="img-container">
                            <h5 ng-if="loadingSVG && !loadSVGError">Loading image..</h5>
                            <h5 ng-if="loadSVGError">Unable to load design <span class="glyphicon glyphicon-exclamation-sign alert-warning"></span></h5>
                            <!-- Logo IMG -->
                            <img id="emblem-img" ng-show="showIMG" ng-src="{{selectedEmblem.logo_url + '?' +  selectedEmblem.logo_last_updated }}" alt="{{ selectedEmblem.tesco_style_ref }}" ng-cloak>
                            <!-- Logo SVG -->
                            <div id="emblem-svg" ng-show="showSVG && emblemSVGresized" class="img-container" ng-bind-html="emblemSVG"></div>
                        </div>
                    </div>
                </div>

                <!-- showSVG && !loadingSVG && emblemSVGloaded && emblemSVGresized -->



                <!-- Emblem threads-->
                <div class="col-xs-6" ng-class="{'col-xs-6 no-margin-top' : editLogo , 'overflow-visible' : !editLogo}" id="emblem-threads">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="thread in editedThreads track by $index" data-ng-click="chooseThread($index,$event); thread_search_name = ''" ng-class="{ 'opacity-half' : loadingSVG }">
                                <td class="view-emblem-threads " ng-class="{'clickable' : editLogo}" colspan="2" align="center">
                                    <div style="background: rgb({{formElements.threads[thread].rgb}});color: {{formElements.threads[thread].text_rgb}}; padding:5px;">
                                        <b>{{formElements.threads[thread].title}}</b>
                                    </div>
                                    <div class="thread-edit-wrapper" uib-collapse="selThreadIndex != $index || !editLogo" style="max-height: 370px; overflow : hidden">
                                        <div class="col-xs-12 text-center">
                                            <span class="glyphicon glyphicon-arrow-down" style="margin-top:5px;margin-bottom: 5px;"></span>
                                            <!--<h4 class="pull-left">Change to :</h4>-->
                                        </div>
                                        <!--<div class="col-xs-6">
         <input type="text" class="form-control" placeholder="Type color code here.." ng-click="$event.stopPropagation();">
         </div>-->
                                        <div class="col-xs-12">
                                            <input ng-click="$event.stopPropagation();" ng-model="thread_search_name" type="text" ng-model-options="{ debounce: 500 }" focus-me="selThreadIndex == $index" class="thread-input form-control" placeholder="Type color code here..">
                                        </div>
                                        <ul class="col-xs-12 thread-list-group" uib-collapse="!thread_search_name" style="max-height: 110px">
                                            <li data-ng-click="selectThread(thread);" ng-repeat="thread in formElements.threads | toArray | filter:{title: thread_search_name} |  limitTo : 3" class="list-group-item" style="display: inline-flex;
         width: 100%;
         padding: 5px;">
                                                <span class="col-xs-1" ng-style="{ 'background': 'rgb({{thread.rgb}})'}"></span>
                                                <span class="col-xs-11">{{thread.title}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>




            </div>
        </div>
    </div>


    <!-- FOOTER BTN -->
    <div uib-collapse="!logoTypeChosen" class="modal-footer text-center col-xs-12 emblem">
        <div class='loading' ng-show="loading"></div>

        <!-- Add new emblem btns -->
        <span ng-hide="requestData.logoType != 'new'">
            <span ng-disabled="loading === 1" class="btn btn-default btn-primary btn-sm upload-emblem">
                        <span style='padding-right: 10px; ' class="glyphicon glyphicon-upload"></span>
        <span style="font-weight: normal;">Attach File</span>
        <input type="file" name="file" id="uploadfile" custom-on-change="photoChanged" />
        </span>

        <button ng-disabled="emblems.length == 0 || loading == 1" ng-click="showModal('addExistingEmblem','md',{ 'emblems' : emblems})" class="btn btn-info btn-sm">
                        <span style='padding-right: 10px;'
                              class="glyphicon glyphicon-picture"></span> Attach existing emblem</span>


        <button ng-disabled="!requestData.description || loading === 1 || !descriptionForm.$valid" class="btn btn-success btn-sm" ng-click="sendRequest();">
                <span class="glyphicon glyphicon-plus-sign"style='padding-right: 7px;'></span>Send request
                </button>
        </span>

        <!-- Add existing emblem btns -->
        <span ng-hide="requestData.logoType != 'existing'">
            <button ng-disabled="!selectedEmblem || loading === 1 || loadSVGError" class="btn btn-success btn-sm" ng-click="requestExistingLogo();">
                    <span class="glyphicon glyphicon-ok-sign"style='padding-right: 7px;'></span>Add Existing
        </button>

        <button ng-hide="!hideNoteField" ng-disabled="loading==1" data-ng-click="toggleEditor();" class="btn btn-sm btn-primary">
                    <span class="glyphicon glyphicon-edit" style="padding-right: 7px;"></span>
                    <b ng-show='!threadEditorOpen'>Edit threads</b>
                    <b ng-show="threadEditorOpen">Close editor</b>
                </button>
        </span>

        <!-- Close btn -->
        <button type="button" ng-disabled="loading === 1" class="btn btn-default btn-sm pull-right" data-dismiss="modal" ng-click="cancel()" style="margin-left: 7px;">
            <span class=" glyphicon glyphicon-ban-circle "style='padding-right: 7px;'></span>Cancel
        </button>

    </div>


    <!-- Modal end -->
</div>