<div class="modal-header" style="padding: 10px 10px 0 10px;">
    <button style="margin-top: -10px;" type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Withdraw organization</h4>
</div>
<div class="modal-body">
    <div class="clearfix">
        <div class="col-sm-12">
            <h5><b>Are you sure you want to <em style="color:red">withdraw </em>  '{{requestData.orgName}}'?</b></h5><br>
        </div>

        <div class="col-sm-12">
            <h5><b>Please select a reason from the list :</b></h5>
            <select ng-click="hideDefault" class="form-control" ng-model="requestData.reasonID" ng-options="reason.id as reason.title for reason in formElements.withdraw_reasons">
                <option value='' disabled>Select the reason</option>
            </select>
        </div>

        <div class='col-xs-12'>
            <br>
            <form id="other-reason-area" uib-collapse="!showOtherReasonArea" name="widthdrawForm">
                <textarea class="col-xs-12 form-control" required ng-model="requestData.description" minlength='1' name="logoDescription"
                    placeholder="Write your reason here" id="withdrawReasonText" cols="80" rows="5"></textarea>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-right:14px;">
    <button ng-show="addNewHouseShow" ng-disabled="!requestData.houseName" ng-class="buttonClass" type="submit" ng-click="ok()"
        ng-cloak><span style="padding-right:10px;" ng-class="glyphClass"></span><b>{{buttonMessage}}</b></button>
    <button ng-show="confirmButtonShow" ng-disabled="!requestData.description" ng-class="buttonClass" type="submit" ng-click="ok()"
        ng-cloak><span style="padding-right:10px;" ng-class="glyphClass"></span><b>{{buttonMessage}}</b></button>
    <button ng-show="removeHouseButton" ng-class="buttonClass" type="submit" ng-click="deleteHouse()"><span style="padding-right:10px;" ng-class="glyphClass" ng-cloak></span><b>{{buttonMessage}}</b></button>

    <button class="btn btn-primary btn-sm" type="button" ng-click="cancel()"><span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close</button>
</div>