<div class="modal-header" style="padding: 10px 10px 0 10px;">
    <button style="margin-top: -10px;" type="button" class="close" data-ng-click="cancel()" data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title text-center">Dispatch Info - <b>{{dispatchInfo.da_ref}}</b></h4>
</div>


<div class="modal-body">

    <div class="col-xs-12">
        <div class="col-md-offset-1 col-md-10 col-xs-12 bg-info"
             style="border: 1px solid black; padding-top: 1%; padding-bottom:1%; margin-bottom: 1%;">
            <div class="col-xs-6 col-md-4">
                <span><b>Dispatch No:</b> <em>{{dispatchInfo.da_ref}}</em></span><br>
                <span><b>Customer Ref:</b> <em>{{dispatchInfo.da_cust_ref}}</em></span><br>
                <span><b>Tracking Ref:</b></span><br>
                <span><b>Date Created:</b> <em>{{dispatchInfo.da_created_date}}</em></span><br>
                <span><b>Date Picked:</b></span><br>
                <span><b>Status:</b> <em>{{dispatchInfo.status_name}}</em></span> <br>
                <!-- FETCH STATUS FROM STATUSES?  -->
            </div>
            <div class="col-xs-6 col-md-4">
                <span><b>Delivery No:</b> </span><br>
                <span><b>Order Date:</b> <em>{{dispatchInfo.da_created_date}}</em></span><br>
                <span><b>Carrier:</b> </span><br>
                <span><b>Date Required:</b> </span><br>
                <span><b>Date Dispatched</b>: </span><br>
                <span><b>Phone:</b> <em>{{dispatchInfo.da_delivery_phone}}</em></span><br>
                <span><b>Email:</b> <em>{{dispatchInfo.da_delivery_email}}</em></span><br>
            </div>
            <div class="col-xs-12 col-md-4"><p><b>Deliver To:</b> <br>
                <span ng-show="dispatchInfo.da_delivery_name"><em>{{dispatchInfo.da_delivery_name}}</em></span>
                <br ng-show="dispatchInfo.da_delivery_name">
                <span ng-show="dispatchInfo.da_delivery_add1"><em>{{dispatchInfo.da_delivery_add1}}</em></span>
                <br ng-show="dispatchInfo.da_delivery_add1">
                <span ng-show="dispatchInfo.da_delivery_add2"><em>{{dispatchInfo.da_delivery_add2}}</em></span>
                <br ng-show="dispatchInfo.da_delivery_add2">
                <span ng-show="dispatchInfo.da_delivery_add3"><em>{{dispatchInfo.da_delivery_add3}}</em></span>
                <br ng-show="dispatchInfo.da_delivery_add3">
                <span ng-show="dispatchInfo.da_delivery_add4"><em>{{dispatchInfo.da_delivery_add4}}</em></span>
                <br ng-show="dispatchInfo.da_delivery_add4">
                <span ng-show="dispatchInfo.da_delivery_add5"><em>{{dispatchInfo.da_delivery_add5}}</em></span>
                <br ng-show="dispatchInfo.da_delivery_add5">
                <span ng-show="dispatchInfo.da_delivery_pcode"><em>{{dispatchInfo.da_delivery_pcode}}</em></span>
                <br ng-show="dispatchInfo.da_delivery_pcode">
                <span>United Kingdom</span></div>
        </div>



        <!------------ ITEMS ------------>
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-bordered table-striped table-hover"
                   style="max-height: 150px !important;overflow: auto; !important">
                <thead>
                <tr style="font-size:1.1em;">
                    <th class="text-center"><b>Product Code</b></th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Organization</th>
                    <th class="text-center">Logo</th>
                    <th class="text-center">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dispatchInfo.items">
                    <td class="text-center">{{item.da_line_sku}}</td>
                    <td class="text-center">{{item.da_line_desc}}</td>
                    <td class="text-center">{{dispatchInfo.da_school_id}}</td>
                    <td class="text-center">{{item.da_logos_ref}}</td>
                    <td class="text-center">{{item.da_line_qty}}</td>
                </tr>
                </tbody>
            </table>

            <!------------ HISTORY ------------>
            <table class="table table-condensed table-responsive table-hover"
                   ng-hide="dispatchInfo.history.length == 0"
                   style="max-height: 150px !important;overflow: auto; !important">
                <thead>
                <tr style="font-size:1.1em;">
                    <th class="text-center">Date</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">By</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="history in dispatchInfo.history">
                    <td class="text-center">{{history.pick_status_date}}</td>
                    <td class="text-center">{{history.status_name}}</td>
                    <td class="text-center">
                        <span ng-hide="history.pick_picker">-</span>
                        <span><em>{{history.pick_picker}}</em></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <span   ng-show="dispatchInfo.history.length == 0"
                    style="font-size: 1.1em;"
                    class='label label-warning'><b>There is no tracking information available at the moment.</b></span>
        </div>
    </div>
</div>


<div class="modal-footer" style="margin-right:14px;">
    <!--<button ng-show="confirmButtonShow" ng-disabled="!requestData.description" ng-class="buttonClass" type="submit" ng-click="ok()"><span style="padding-right:10px;" ng-class="glyphClass"></span><b>{{buttonMessage}}</b></button>-->
    <button class="btn btn-primary btn-sm" type="button" data-ng-click="cancel()"><span style="padding-right:10px;"
                                                                                        class="glyphicon glyphicon-ban-circle"></span>Close
    </button>
</div>



