<div class="modal-backdrop" id="houseModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog">

        <!--------------------------------------------------------------------------------------------------->
        <!------------------------------------------HOUSE ADD MODAL------------------------------------------>
        <!--------------------------------------------------------------------------------------------------->
        <div class="modal-content" ng-show="isAddHouseModal">
            <div class="modal-header" style="padding: 10px 10px 0 10px;">
                <button style="margin-top: -10px;" type="button" class="close" ng-click="cancel()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div class="col-sm-12">
                        <div ng-show="requestData.houseName" class="col-xs-12"
                             style="margin-bottom:10px; margin-left:-15px;">Display as : <b>{{orgName}}(</b><b
                                class="label label-info" style="font-size:90%;border-radius: 300px;">{{requestData.houseName}}</b>)
                        </div>
                        <div class="row" ng-bind-html="trustAsHtml" class="text-center">
                        </div>



                        <form ng-show="addNewHouseShow" action="" name="addHouseForm">

                            <div class="form-group">
                                <textarea required
                                          class="col-xs-12 form-control" ng-model="requestData.houseName"
                                          name="houseName"
                                          placeholder="Please provide a new house name here"
                                          class="form-control"
                                          id="houseName"
                                          maxlength="50"
                                          cols="80"
                                          rows="1"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="houseType">Define House</label>

                                <select class="form-control has-feedback" name="houseType" id="houseType"
                                    ng-model="requestData.houseType" required
                                    ng-change="changedValue(houseType.type)">
                                    <option value="">Please Select</option>

                                    <option ng-repeat="formElement in formElements.organizationunittypes"
                                            value="{{formElement.title}}">
                                        {{formElement.title}}
                                    </option>
                                </select>

                            </div>
                        </form>

                        <form ng-hide="addNewHouseShow" action="" name="widthdrawForm">
            <textarea class="col-xs-12" required minlength="20" ng-model="requestData.description"
                      minlength='20'
                      name="logoDescription"
                      placeholder="Write your reason here(min 20 characters)"
                      class="form-control"
                      id="logoDescription"
                      cols="80"
                      rows="5"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-right:14px;">
                <button ng-show="addNewHouseShow" ng-disabled="!requestData.houseName" ng-class="buttonClass"
                        type="submit" ng-click="ok()"><span style="padding-right:10px;" ng-class="glyphClass"></span><b>{{buttonMessage}}</b>
                </button>
                <button ng-show="confirmButtonShow" ng-disabled="!requestData.description" ng-class="buttonClass"
                        type="submit" ng-click="ok()"><span style="padding-right:10px;" ng-class="glyphClass"></span><b>{{buttonMessage}}</b>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancel()"><span
                        style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Close
                </button>
            </div>
        </div>

        <!--------------------------------------------------------------------------------------------------->
        <!------------------------------------------HOUSE EDIT MODAL----------------------------------------->
        <!--------------------------------------------------------------------------------------------------->
        <div class="modal-content" ng-show="isHouseEditModal">
            <div class="modal-header" style="padding-bottom:0; padding:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Header" style="margin-top: 5px;">Edit House</h4>
            </div>
            <div class="col-xs-12 top-20"><b style="font-size:100%;margin-left: 5px;">{{orgName}}(<p
                    class="label label-info" style="font-size:85%;border-radius: 300px;">{{editForm.houseName}}</p>)</b>
            </div>
            <div class="modal-body" style="padding-bottom:0;">
                <form name="houseEditForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                    <input required
                           type="text"
                           class="form-control"
                           id="houseName"
                           name='houseName'
                           placeholder="Your house name"
                           maxlength="50"
                           ng-model="editForm.houseName">
                </form>
                <div class="modal-footer" style="padding:10px;">
                    <button class="btn btn-sm btn-success"
                            ng-disabled="!houseEditForm.$valid || houseEditForm.$pristine || loading === 1"
                            ng-click="updateHouse();">
                        <span class="glyphicon glyphicon-ok-sign" ng-submit="updateHouse();"></span> Confirm changes
                    </button>
                    <button ng-disabled="loading === 1" type="button" class="btn btn-sm btn-default"
                            ng-click="cancel();"
                            style="margin-right:-10px;"><span
                            class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>