<div class="modal-backdrop" id="addUser" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog">
        <!----------------------------------------->
        <!--------------USER ADD MODAL------------>
        <!----------------------------------------->
        <div class="modal-content" ng-hide="houseEdit">
            <div class="modal-header" style="padding-bottom:0; padding:10px;">
                <button ng-disabled="loading == 1" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading" style="margin-top: 5px;">Add User</h4>
            </div>

            <div class="modal-body col-xs-12" style="padding-bottom:0;">
                <form ng-disabled="loading == 1" name="form.newUserForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstName">First name:</label>
                        <div class="col-sm-10">
                            <input required
                                   type="text"
                                   class="form-control"
                                   id="firstName"
                                   name='firstName'
                                   placeholder="John"
                                   ng-model="newUserForm.firstname">
                            <span class="help"
                                  ng-show="form.newUserForm.firstName.$invalid && !form.newUserForm.firstName.$pristine">Please enter a name.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastName">Last name:</label>
                        <div class="col-sm-10">
                            <input required
                                   type="text"
                                   class="form-control"
                                   id="lastName"
                                   name='lastName'
                                   placeholder="Smith"
                                   ng-model="newUserForm.lastname">
                            <span class="help"
                                  ng-show="form.newUserForm.lastName.$invalid && !form.newUserForm.lastName.$pristine">Please enter a last name.</span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="userEmail">Email:</label>
                        <div class="col-sm-10">
                            <input type="email"
                                   required
                                   class="form-control"
                                   id="userEmail"
                                   name="userEmail"
                                   placeholder="johnsmith@domain.org"
                                   ng-model="newUserForm.email">
                            <span class="help"
                                  ng-show="form.newUserForm.userEmail.$invalid && !form.newUserForm.userEmail.$error.emailInUse && !form.newUserForm.userEmail.$pristine"> Please enter a valid email address. </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-disabled="form.newUserForm.$pristine || !form.newUserForm .$valid || loading == 1"
                        ng-click="addUserAdmin();"
                        class="btn btn-primary btn-sm"><span
                        class="glyphicon glyphicon-plus-sign"> <b>Add user</b></span></button>
                <button ng-disabled="loading == 1" type="button" class="btn btn-sm btn-default" ng-click="cancel();"><span
                        class="glyphicon glyphicon-remove"></span> Cancel
                </button>

            </div>

        </div>

    </div>
</div>



