<div class="modal-backdrop" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content">


            <!---------------------------->
            <!---- COLOR CONFIRMATION ---->
            <!---------------------------->
            <div id="ColourConfirmationBody" ng-hide="selectedEmblem['logo_to_request'] && (selectedEmblem['logo_to_request'] === true)">
                <div class="modal-header color-confirmation">
                    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></button>
                    <h4 class="modal-title custom_align color-confirmation" id="Heading"><b>Colour confirmation</b></h4>

                </div>
                <!--------- BODY --------->
                <div class="modal-body">
                    <p ng-show="colourAdd.embroided == 1">View below the thread colours used to embroider your emblem to
                        your chosen product.</p>
                    <p ng-hide="colourAdd.embroided == 1">View below the the plain product you have chosen.</p>
                    <br>
                    <div class='row confirmation-preview'>
                        <div ng-show="colourAdd.embroided == 1">
                            <div class='col-sm-offset-1 col-xs-offset-1 col-xs-4  col-xs-6 text-center'>
                                <div class='img-container img-rounded'
                                     ng-style="{ backgroundColor: 'rgb('+color.color+')' , width: '130px', height: '130px'}">
                                    <img ng-src="{{serverstring+selectedEmblem.logo_url + '?' +  serverstring+selectedEmblem.logo_last_updated }}"
                                         alt="Emblem"
                                         style="max-width:130px; max-height:130px;">
                                </div>
                                <br>
                            </div>

                            <div class='col-sm-2 hidden-xs text-center'><br><br>
                                <span class='glyphicon glyphicon glyphicon-arrow-right gi-3x'></span>
                            </div>

                            <div class='col-xs-4 col-xs-6 text-center'>
                                <div class="image-container img-rounded">
                                    <img ng-src='{{serverstring}}{{color.image}}' alt="product-image" class='img-rounded'
                                         style="width:130px;height:130px;">
                                </div>
                                <br/>
                            </div>
                        </div>
                        <div class="row" ng-hide="colourAdd.embroided == 1">
                            <div class='col-xs-12 text-center'>
                                <div class="image-container img-rounded">
                                    <img ng-src='{{serverstring}}{{color.image}}' alt="product-image"
                                         class='img-rounded img-responsive'>
                                </div>
                                <br/>
                            </div>
                        </div>
                        <!-------- CONFIRM ------->
                        <div class='row'>
                            <div class='col-xs-12' style='margin-top: 15px;'>
                                <br>
                                <p ng-show="colourAdd.embroided == 1" class="alert-info text-center">Please <b>confirm</b>
                                    that these are the thread colours you desire for
                                    this product. If not, cancel this request and select/create an alternative emblem using
                                    different colours.</p>
                                <p ng-hide="colourAdd.embroided == 1" class="alert-info text-center">Please <b>confirm</b>
                                    that you would like to add this plain product.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!---------------------------->
            <!------ REQUEST EMBLEM ------>
            <!---------------------------->
            <div id="RequestEmblemBody" ng-show="selectedEmblem['logo_to_request'] && (selectedEmblem['logo_to_request'] === true)">
                <div class="modal-header color-confirmation">
                    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></button>
                    <h4 class="modal-title custom_align color-confirmation" id="Heading"><b>Request emblem</b></h4>
                </div>
                <!--------- BODY --------->
                <div class="">
                    <div class="col-xs-12" style="height: 130px; margin-top: 15px;">
                        <div class='img-container img-rounded text-center' style="margin: 0 auto"
                             ng-style="{ backgroundColor: 'rgb('+color.color+')' , width: '130px', height: '130px'}">
                            <img ng-src="{{serverstring+selectedEmblem.logo_url + '?' +  serverstring+selectedEmblem.logo_last_updated }}"
                                 alt="Emblem"
                                 style="max-width:130px; max-height:130px;">
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 15px;">
                        <p class="alert-info text-center">Please <b>confirm</b> that you would like to <b>request</b> smaller size of this logo.
                            If not, cancel this request and select an available logo.</p>
                    </div>
                </div>
            </div>
            <!-------- FOOTER -------->
            <div class="modal-footer color-confirmation">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"
                        ng-hide="selectedEmblem['logo_to_request'] === true"
                        ng-click="colourConfirmation()"><span class="glyphicon glyphicon-ok-sign"> <b>Confirm</b></span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                        ng-show="selectedEmblem['logo_to_request'] === true"
                        ng-click="requestSmallEmblem()"><span class="glyphicon glyphicon-ok-sign"> <b>Request emblem</b></span>
                </button>
                <button type="button" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span
                        class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
            </div>

        </div>
    </div>
</div>

