<div class="modal-header">
    <button ng-disabled="loading == 1" type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{ question.title }}</h4>
</div>
<div class="modal-body">
    <div class="clearfix">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="row" ng-bind-html="question.message">

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div ng-show="loading" class="loading ng-hide"></div>
    <button ng-disabled="loading == 1" class="btn btn-primary" type="submit" ng-click="ok()">Yes</button>
    <button ng-disabled="loading == 1" class="btn btn-warning" type="button" ng-click="cancel()">No</button>
</div>