<div class="modal-content review" style="border: 0;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Contact us</h4>
    </div>
    <div class="modal-body text-center">
        <div class="row">
            <div class="col-xs-12">
                <textarea class="form-control" cols="15" id="uniform_description" name="description" ng-model="message" rows="7"></textarea>
            </div>
        </div>
    </div>
    <!-- FOOTER BTN --->
    <div class="modal-footer text-center col-xs-12">
        <button type="button" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span>Close</button>
        <button type="button" class="btn btn-success btn-sm " data-dismiss="modal" ng-click="sendForm()"><span class="glyphicon glyphicon-envelope"></span>Send</button>

    </div>
</div>