
<div class="modal-backdrop" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this product</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this product?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" ng-click="ok()"><span class="glyphicon glyphicon-ok-sign" ></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
    </div>
</div>