      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Log Off</h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <div class="col-sm-8 col-sm-offset-2">

          <div class="row">
           Are you sure you wish to log off?
          </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
        <button class="btn btn-primary" type="submit" ng-click="ok()">Yes</button>
      </div>