<form name="nominateForm" class="form" role="form" method="post" action="">

      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Parent Nomination</h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <div class="col-sm-8 col-sm-offset-2">

          <div class="row">
            Nominate your school to take part. We will then follow this up with them and let you know when launched.
          </div>

          <div class="row">
            <hr>
          </div>

          <div class="row div-bordered">

              <div class="col-sm-8 col-sm-offset-2">
                <div ng-repeat="message in messages track by $index"
                     class="alert alert-{{message.type}} messageStack">{{message.message}}
                </div>
                <h4>Parent Details</h4>

                <div class="form-group">
                  <label for="parentforename">First Name</label>
                  <input required type="text" class="form-control has-feedback" name="parentforename" id="parentforename" autocomplete="off" value="" placeholder="John" ng-model="parentforename">
                  <span class="help" ng-show="nominateForm.parentforename.$invalid && !nominateForm.parentforename.$pristine"> Your first name is required. </span>
                </div>
                <div class="form-group">
                  <label for="parentsurname">Last Name</label>
                  <input required  type="text" class="form-control has-feedback" name="parentsurname" id="parentsurname" autocomplete="off" value="" ng-model="parentsurname" placeholder="Smith">
                  <span class="help" ng-show="nominateForm.parentsurname.$invalid && !nominateForm.parentsurname.$pristine"> Your surname is required. </span>
                </div>
                <div class="form-group">
                  <label for="parentemail">Email</label>
                  <input required type="email" class="form-control has-feedback" name="parentemail" id="parentemail" autocomplete="off" value="" placeholder="john@domain.com" ng-model="parentemail">
                  <span class="help" ng-show="nominateForm.parentemail.$invalid && !nominateForm.parentemail.$pristine">Email address is required.</span>
                </div>

                <div class="checkbox checkbox-primary">
                  <div class="checkbox">
                    <input ng-model="checkbox1" check-required class="form-control" name="checkbox1" id="checkbox1" type="checkbox">
                    <label for="checkbox1">
                      By nominating this school, I accept the <a href="#/terms">Terms of use</a> which includes the sharing of my details with the Tesco Uniform Embroidery Service.
                    </label>
                    <span class="help" ng-show="nominateForm.checkbox1.$invalid && !nominateForm.checkbox1.$pristine">You must accept the terms of use</span>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
</form>


      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
        <button class="btn btn-primary" type="submit" ng-disabled="!nominateForm.$valid" ng-click="ok()">Yes</button>
      </div>