
<div class="modal-backdrop" id="preview" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Product preview</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 product-details tex" style='border-right: 1px solid #ccc;'>
                        <strong></strong>
                        <p></p>

                        <div class="image">
                            <span class='glyphicon glyphicon-picture gi-8x'</span>
                        </div>
                        <p></p>
                        <p>
                            <strong>Sizes available:</strong>

                            <br>
                        </p>
                        <p>
                            <strong>Description:</strong>
                            <br>

                        </p>
                    </div>
                    <div class="col-xs-6 product-attributes">
                        <div class="color-area">
                            <p>Color</p>
                            <div class="color-item" data-variant-img-src="/assets/uniform_variant_noimage_medium.jpg" rel="tooltip" style="background: ;" title=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default col-xs-offset-5 col-xs-2 col-xs-offset-5" data-dismiss="modal" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
            </div>
        </div>
    </div>
</div>