<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Form Received</h4>
</div>
<div class="modal-body">
    <div class="clearfix">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <form name="addForm" id="addForm" class="form-horizontal" role="form" method="post" action="" ng-cloak>
                    <div class="form-group">
                        <label for="formDate">Approval form date</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" ng-click="isCollapsed = !isCollapsed">
                                <div class="input-group">
                                    <input readonly type="text" id="formDateView" class="form-control" ng-model="formForm.viewdate">
                                    <input type="hidden" id="formDate" class="form-control" ng-model="formForm.date">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-collapse="isCollapsed">
                                <datetimepicker before-render="beforeRender($view, $dates)" ng-model="formForm.date" datetimepicker-config="dateTimeOptions" on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                            </ul>
                        </div>
                      <span class="help"
                            ng-show="userEditForm.noteSub.$invalid && !userEditForm.noteSub.$pristine">Please enter the date from the form.</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" ng-disabled="!addForm.$valid" ng-click="addFormToOrg();"><span
            class="glyphicon glyphicon-ok-sign"></span> OK
    </button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="cancel();"><span
            class="glyphicon glyphicon-remove"></span> Cancel
    </button>
</div>