      <div class="modal-header">
          <button type="button" class="close" ng-click="ok()" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Registration Successful</h4>
      </div>
      <div class="modal-body">
          <div class="clearfix">
              <div class="col-sm-8 col-sm-offset-2">
                  <div class="row">
                      Your account has been set up.  Please check your email for login details.
                  </div>

              </div>
          </div>
      </div>

      <div class="modal-footer">
          <button class="btn btn-primary" type="submit" ng-click="ok()">OK</button>
      </div>