<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register?</h4>
      </div>
      <div class="modal-body">
        <p>It's your call...</p>
        <form>
          <fieldset>
            <label for="field1">Field1</label>
            <input ng-model="field1" type="text" required="" class="form-control ng-pristine ng-invalid ng-invalid-required" id="field1" name="field1">
            <span class="help-block ng-hide" ng-show="form.username.$dirty && form.username.$error.required">Field1 is required</span>
          </fieldset>
          <fieldset>
            <label for="field2">Field2</label>
            <input ng-model="field2" type="text" required="" class="form-control ng-pristine ng-invalid ng-invalid-required" id="field2" name="field2">
            <span class="help-block ng-hide" ng-show="form.username.$dirty && form.username.$error.required">Field1 is required</span>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="submit()" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>