<div class="modal-content review" style="border: 0;">
    <div class="modal-header review">
        <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()" style="padding:10px;"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Review Product</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- PROD DETAILS -->
            <div class="col-sm-4 col-xs-4 col-lg-3 product-details" style='border-right: 1px solid #ccc;'>
                <b>{{product.product_name}}</b>
                <p>From {{product.product_price | currency:'£'}}</p>
                <div class="review-modal-img">
                    <img ng-src="{{serverstring}}{{ currentImage }}" alt="product-image" class='img-responsive'>
                </div>
                <br />
                <b>Sizes available: </b>
                <br>{{product.product_size_text}}
                <br>
                <b>Description:</b>
                <br />
                <p ng-show="{{product.product_description.length == 0}}">Product description not available</p>
                <p>{{product.product_description}}</p>
            </div>
            <!-- END PROD DETAILS -->

            <!-- EMBLEMS --->
            <div class="col-sm-8 col-xs-8 col-lg-9 product-attributes">
                <div class="color-area">
                    <b>Select emblem</b>
                    <br />
                    <ul class='list list-unstyled list-inline'>
                        <li ng-repeat='emblem in emblems'>
                            <div style="position: relative;">
                                <div class="review-modal-emblem" ng-click="selectEmblem($index);" ng-class="{activeEmblem: emblem.tesco_style_ref===product.colours[0].tesco_style_ref}"
                                     uib-tooltip="{{emblem.tesco_style_ref}}"
                                     tooltip-trigger="mouseenter"
                                     tooltip-placement="bottom">
                                    <img ng-src="{{serverstring+emblem.logo_url}}" alt="Product-emblem" class='btn thumbnail' style="background-color:rgb({{backgroundColor}}); width:80px; height: 80px;" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <br />
                <!-- END EMBLEMS -->
                <!-- COLOURS --->
                <div>
                    <b>Select colour</b>
                    <br />
                    <ul class='list list-unstyled list-inline'>
                        <li ng-repeat='color in product.colours' ng-click="selectColor($index)">
                            <div style="position: relative;">
                                <div class='btn thumbnail'
                                     ng-style="{ backgroundColor: 'rgb('+color.colour_rgb+')' }"
                                     style="width:80px; height:80px;" ng-click="setImage(color.image); setColor(color.name);"
                                     ng-class="{activeColor: $index===selectedColor}"
                                     uib-tooltip="{{color.colour_name}}"
                                     tooltip-trigger="mouseenter"
                                     tooltip-placement="bottom"
                                        >
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END COLOURS --->

            </div>
        </div>
    </div>
    <!-- FOOTER BTN --->
    <div class="modal-footer review text-center col-xs-12">
       <!-- <button type="button" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="showModal('color-confirmation','lg',{ 'urn': product })"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>-->
    </div>
</div>