<div class="modal-header" style="padding: 10px 10px 0 10px;">
    <button style="margin-top: -10px;" type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
    <div class="clearfix">
        <div class="col-sm-12">
            <div ng-show="requestData.houseName" class="col-xs-12" style="margin-bottom:10px; margin-left:-15px;">Display as : <b>{{orgName}}(</b><b class="label label-info" style="font-size:90%;border-radius: 300px;">{{requestData.houseName}}</b>)</div>
            <div class="row" ng-bind-html="trustAsHtml">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-right:14px;">
    <button class="btn btn-success btn-sm" type="button" ng-click="sendSample()"><span style="padding-right:10px;" class="glyphicon glyphicon-check"></span>Sent</button>
    <button class="btn btn-danger btn-sm" type="button" ng-click="cancel()"><span style="padding-right:10px;" class="glyphicon glyphicon-ban-circle"></span>Cancel</button>
</div>
