      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">View Prospect | {{ prospectData.Name }} ({{ prospectData.URN }})</h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <div class="col-sm-8 col-sm-offset-2">
          <div class="row">

              <fieldset class="form-group">
                  <label for="accountNumber">Account Number</label>
                  <div class="well well-sm well-touch"
                         id="accountNumber"
                         ng-bind="prospectData.URN"></div>
              </fieldset>
              <fieldset class="form-group">
                  <label for="schoolPhone">Phone Number</label>
                  <div class="well well-sm well-touch"
                         id="schoolPhone"
                         ng-bind="prospectData.Phone"></div>
              </fieldset>
              <fieldset class="form-group">
                  <label for="schoolEmail">School Email</label>
                  <div class="well well-sm well-touch"
                         id="schoolEmail"
                         ng-bind="prospectData.Email"></div>
              </fieldset>
              <fieldset class="form-group">
                  <label for="leaName">LEA</label>
                  <div class="well well-sm well-touch"
                         id="leaName"
                         ng-bind="prospectData.LEAName"></div>
              </fieldset>
              <fieldset class="form-group">
                  <label for="schoolType">School Type</label>
                  <div class="well well-sm well-touch"
                         id="schoolType"
                         ng-bind="prospectData.SchoolType"></div>
              </fieldset>
              <fieldset class="form-group">
                  <label for="address1">Address</label>
                  <div class="well well-sm well-touch"
                         id="address1"
                         ng-bind="prospectData.Address1"
                         ng-show="prospectData.Address1"></div>
                  <div class="well well-sm well-touch"
                         id="address2"
                         ng-bind="prospectData.Address2"
                       ng-show="prospectData.Address2"></div>
                  <div class="well well-sm well-touch"
                         id="address3"
                         ng-bind="prospectData.Address3"
                       ng-show="prospectData.Address3"></div>
                  <div class="well well-sm well-touch"
                         id="address4"
                         ng-bind="prospectData.Town"
                       ng-show="prospectData.Town"></div>
                  <div class="well well-sm well-touch"
                         id="address5"
                         ng-bind="prospectData.County"
                       ng-show="prospectData.County"></div>
                  <div class="well well-sm well-touch"
                         id="address6"
                         ng-bind="prospectData.Area"
                       ng-show="prospectData.Area"></div>
                  <div class="well well-sm well-touch"
                         id="address7"
                         ng-bind="prospectData.Postcode"
                       ng-show="prospectData.Postcode"></div>
              </fieldset>
              <fieldset class="form-group">
                  <label for="schoolURL">School URL</label>
                  <div class="well well-sm well-touch"
                         id="schoolURL"
                         ng-bind="prospectData.URL"></div>
              </fieldset>

              <fieldset class="form-group">
                  <label for="schoolPupils">School Pupils</label>
                  <div class="well well-sm well-touch"
                         id="schoolPupils"
                         ng-bind="prospectData.Pupils"></div>
              </fieldset>
          </div>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
      </div>