<div class="modal-content review" style="border: 0;" ng-class="{'modal-large':editLogo}">
    <div class="modal-header emblem">
        <button ng-disabled="loading == 1" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
      </button>
        <div class="col-xs-6">
            <h4 class="modal-title custom_align emblem truncate-text" id="Heading">Emblem Information <b ng-show="editLogo"> - {{emblem.tesco_style_ref}}</b></h4>
        </div>
    </div>

    <!-- Modal body -->
    <div class="modal-body text-center" ng-class="{'modal-view-emblems' : editLogo}">

        <div class="row" style="min-height: 250px">
            <div class="col-xs-12" ng-class="{'col-xs-6' : editLogo}" id="view-emblem-details">
                <!-- Delete btn -->
                <div ng-show="deleteButton" class="text-center alert-danger">
                    <p>Are you sure you want to delete this emblem?</p>
                </div>

                <!-- Logo Image -->
                <div style="position: relative" class="text-center" ng-class="{'min-height-350px' : editLogo}">
                    <p ng-hide="editLogo" id="view-emblem-ref"><b>{{emblem.tesco_style_ref}}</b></p>
                    <div class="image-container large" id="view-emblem-img-container" ng-style="{ backgroundColor: 'rgb('+emblem.primary_background_colour+')' }" ng-cloak>
                        <div class="dummy"></div>
                        <div class="img-container">
                            <h5 ng-if="loadingSVG">Loading image..</h5>
                            <img id="emblem-img" ng-show="showIMG" ng-src="{{serverstring+emblem.logo_url + '?' +  emblem.logo_last_updated }}" alt="{{ emblem.tesco_style_ref }}" ng-cloak>
                            <div id="emblem-svg" ng-show="showSVG && !loadingSVG && emblemSVGloaded && emblemSVGresized" class="img-container" ng-bind-html="emblemSVG"></div>
                        </div>
                    </div>
                </div>

                <!--<button ng-click="changeEmblemThread(emblemSVG, selThreadIndex, '125,235,233'); ">Edit image</button>-->
                <!-- Logo details -->
                <div class="emblem-details">
                    <span ng-show="emblem.logo_approved == '1'">
                  <p><i>Products using : </i> {{emblem.products_using_logo}}</p>
                  <br>
                  <p><b>Approved for use by:</b> {{emblem.logo_approved_name}}<br/>
                     <span class="small">{{emblem.logo_approved_date}}</span>
                    </p>
                    </span>
                    <span ng-show="emblem.logo_approved == '0'">
                  <br>
                  <p><b>Requested by:</b> {{emblem.logo_requested_name}}<br/>
                     <span class="small">{{emblem.logo_requested_date}}</span>
                    </p>
                    </span>

                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div class="form-group col-md-12 transition05s" ng-class="{'col-md-8 col-xs-9' : showEditBackground}">
                            <label class="pull-left">Change background colour : </label>
                            <select ng-click="editBackground()" class="form-control" ng-model="emblem.primary_background_colour">
                            <option ng-repeat="colour in formElements.colours" value="{{ colour.rgb }}" > {{ colour.title }}</option>
                            </select>
                        </div>

                        <div class="col-md-4 col-xs-3" ng-click="updateEmblemBackground(emblem)" uib-collapse="!editBGBtn" style="margin-top: 25px;">
                            <button class="btn btn-sm btn-primary"><b>Update</b> <span class="glyphicon glyphicon-refresh"></span></button>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Size (WxH mm)</td>
                                <td>{{emblem.size__mm_}}</td>
                            </tr>
                            <tr>
                                <td>Stitch Count</td>
                                <td>{{emblem.stitch_count}}</td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="2"><b>Threads :</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Logo threads-->
            <div class="col-xs-12" ng-class="{'col-xs-6 no-margin-top' : editLogo , 'overflow-visible' : !editLogo}" id="emblem-threads">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="thread in editedThreads track by $index" data-ng-click="chooseThread($index,$event); thread_search_name = ''" ng-class="{ 'opacity-half' : loadingSVG }">
                            <td class="view-emblem-threads" ng-class="{'clickable' : editLogo}" colspan="2" align="center">
                                <div style="background: rgb({{formElements.threads[thread].rgb}});color: {{formElements.threads[thread].text_rgb}}; padding:5px;">
                                    <b>{{formElements.threads[thread].title}}</b>
                                </div>
                                <div class="thread-edit-wrapper" uib-collapse="selThreadIndex != $index || !editLogo" style="max-height: 370px; overflow : hidden">
                                    <div class="col-xs-12 text-center">
                                        <span class="glyphicon glyphicon-arrow-down" style="margin-top:5px;margin-bottom: 5px;"></span>
                                        <!--<h4 class="pull-left">Change to :</h4>-->
                                    </div>
                                    <!--<div class="col-xs-6">
         <input type="text" class="form-control" placeholder="Type color code here.." ng-click="$event.stopPropagation();">
         </div>-->
                                    <div class="col-xs-12">
                                        <input ng-click="$event.stopPropagation();" ng-model="thread_search_name" type="text" ng-model-options="{ debounce: 500 }" focus-me="selThreadIndex == $index" class="thread-input form-control" placeholder="Type color code here..">
                                    </div>
                                    <ul class="col-xs-12 thread-list-group" uib-collapse="!thread_search_name" style="max-height: 110px">
                                        <li data-ng-click="selectThread(thread);" ng-repeat="thread in formElements.threads | toArray | filter:{title: thread_search_name} |  limitTo : 3" class="list-group-item" style="display: inline-flex;
         width: 100%;
         padding: 5px;">
                                            <span class="col-xs-1" ng-style="{ 'background': 'rgb({{thread.rgb}})'}"></span>
                                            <span class="col-xs-11">{{thread.title}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Reject form -->
            <div class="col-xs-12" uib-collapse="!showRejectForm" id='reject-form'>
                <form uib-collapse="!showRejectForm" action="" name="rejectForm">
                    <textarea class="col-xs-12" required minlength="20" ng-model="description" minlength='20' name="logoDescription" placeholder="Write your reason here (min 20 characters)" class="form-control" id="logoDescription" cols="80" rows="5"></textarea>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal body end-->


    <!-- Emblem instructions -->
    <div ng-if="editLogo && !loadingSVG && emblem.alert_comment" class="col-xs-10 col-xs-offset-1 well well-sm" style="margin-top: -20px;margin-bottom: 10px; max-height: 80px;
    overflow: auto;">
        <b style=" font-size: 1.1em "> Emblem instructions : </b>
        <span ng-show=" editLogo " class=" "> {{emblem.alert_comment}} {{emblem.alert_comment.length}}</span>
    </div>

    <!-- FOOTER ng-hide class cloaks buttons a little faster-->
    <div class="modal-footer text-center col-xs-12 emblem " ng-cloak>
        <div ng-show="loading || loadingSVG " class="loading ng-hide "></div>
        <button ng-show="editLogoButton " ng-disabled="loading==1 || showRejectForm " data-ng-click="editLogo=! editLogo; openLogoEdit(); " class="btn btn-sm btn-primary "><span class="glyphicon glyphicon-edit " style="padding-right: 7px; ">
            </span>
        <b ng-show='!editLogo'>Edit threads</b>
        <b ng-show="editLogo ">Close editor</b>
        </button>

        <button ng-show="editLogoButton && editLogo " ng-disabled="loading==1 " data-ng-click="acceptThreads(); " class="btn btn-sm btn-success ">
            <span class="glyphicon glyphicon-ok " style="padding-right: 7px; ">
            </span>
                <b>Accept changes</b>
            </button>
        <button ng-show='deleteButton && session.user.user_type_id != 5 && !editLogo' ng-disabled=" loading==1 " ng-click="deleteEmblemConfirm(); " class="btn btn-danger btn-sm " data-dismiss="modal "><span
         class="glyphicon glyphicon-remove " style="padding-right: 7px; "></span><b>Delete emblem</b>
      </button>
        <button ng-show='rejectButton && !showRejectForm && session.user.user_type_id != 5 && !editLogo && sampleButton' ng-disabled="loading==1 " ng-click="showModal( 'requestSample', 'md',{ 'emblem': emblem }) " class="btn btn-info btn-sm
            " data-dismiss="modal "><span
         class="glyphicon glyphicon-leaf " style="padding-right: 7px; "></span><b>Request sample</b>
      </button>
        <button ng-show='emblem.threads_updated == 0' ng-disabled="true " class="btn btn-info btn-sm " data-dismiss="modal "><span
                class="glyphicon glyphicon-leaf " style="padding-right: 7px; "></span><b>Change Threads to Request sample</b>
        </button>
        <button ng-show='rejectButton && !showRejectForm && session.user.user_type_id != 5 && !editLogo' ng-disabled="loading==1 " ng-click="showRejectForm=! showRejectForm; scrollToElement( '#reject-form'); " class="btn btn-danger btn-sm
            " data-dismiss="modal "><span
         class="glyphicon glyphicon-remove " style="padding-right: 7px; "></span><b>Reject Design</b>
      </button>
        <button ng-disabled="!description || loading==1 " ng-show='rejectButton && showRejectForm && session.user.user_type_id != 5' ng-click="sendForm( 'rejectemblem', description) " class="btn btn-danger btn-sm " data-dismiss="modal "><span
         class="glyphicon glyphicon-remove " style="padding-right: 7px; "></span><b>Reject</b>
      </button>
        <button ng-disabled="loading==1 " ng-show='approveButton && !showRejectForm && session.user.user_type_id != 5 && !editLogo' ng-click="sendForm( 'approvelogo'); " class="btn btn-success btn-sm " data-dismiss="modal "><span
         class="glyphicon glyphicon-ok " style="padding-right: 7px; "></span><b>Approve</b>
      </button>
        <button ng-show='sampleButton && emblem.logo_approved == "1"' ng-disabled="loading==1 " ng-click="showModal( 'requestSample', 'md',{ 'emblem': emblem })" class="btn btn-info btn-sm
            " data-dismiss="modal "><span
                class="glyphicon glyphicon-leaf " style="padding-right: 7px; "></span><b>Request sample</b>
        </button>
        <button ng-show='setAsDefaultLogoButton && session.user.user_type_id != 5' ng-click="setLogoAsDefault(); " class="btn btn-sm btn-primary " data-dismiss="modal ">
      <span ng-hide="isDefaultLogoAlready " class="glyphicon glyphicon-ok " style="padding-right: 7px; "></span>
      <span ng-show="isDefaultLogoAlready " class="glyphicon glyphicon-refresh " style="padding-right: 7px; "></span>
      <b ng-hide="isDefaultLogoAlready ">Set as default</b>
      <b ng-show="isDefaultLogoAlready ">Update on Tesco</b>
      </button>
        <button ng-disabled="loading==1 " type="button " class="btn btn-default btn-sm " data-dismiss="modal " ng-click="cancel() "><span
         class="glyphicon glyphicon-ban-circle " style="padding-right: 7px; "></span><b>Close</b>
      </button>

    </div>
</div>