<div class="modal-content review" style="border: 0;">
    <div class="modal-header emblem">
        <button ng-disabled="loading == 1" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><span
                class="glyphicon glyphicon-remove emblem" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align emblem" id="Heading">Emblem Information</h4>
    </div>
    <div class="modal-body text-center">
        <div class="row">
            <div class="col-xs-12">
                <p><b>{{emblem.tesco_style_ref}}</b></p>

                <div class="image-container large" style="position: relative;" ng-cloak
                     ng-style="{ backgroundColor: 'rgb('+emblem.primary_background_colour+')' }">

                    <div class="dummy"></div>
                    <div class="img-container">
                        <img ng-src="{{serverstring+emblem.logo_url + '?' +  emblem.logo_last_updated }}" alt="{{ emblem.tesco_style_ref }}" ng-cloak>
                    </div>
                </div>

                <span ng-show="emblem.logo_approved == '1'">
                    <p><i>Products using : </i> {{emblem.products_using_logo}}</p>
                    <br>
                    <p><b>Approved for use by:</b> {{emblem.logo_approved_name}}<br/>
                        <span class="small">{{emblem.logo_approved_date}}</span></p>
                </span>
                <span ng-show="emblem.logo_approved == '0'">
                    <br>
                    <p><b>Requested by:</b> {{emblem.logo_requested_name}}<br/>
                        <span class="small">{{emblem.logo_requested_date}}</span></p>
                </span>
            </div>
        </div>
        <div ng-hide="emblem.logo_sampled == '1' || emblem.logo_approved == '1' || emblem.logo_digitized == '0'" class="form-group">
            <label>Sample Background Colour</label>
            <select class="form-control"  ng-model="emblem.primary_background_colour">
                <option>Select main background</option>
                <option ng-repeat="colour in formElements.colours" value="{{ colour.rgb }}">{{ colour.title }}</option>
            </select>
        </div>

        <form uib-collapse="!showRejectForm" action="" name="rejectForm">
            <textarea class="col-xs-12" required minlength="20" ng-model="description"
                      minlength='20'
                      name="logoDescription"
                      placeholder="Write your reason here (min 20 characters)"
                      class="form-control"
                      id="logoDescription"
                      cols="80"
                      rows="5"></textarea>
        </form>

    </div>
    <!-- FOOTER BTN --->
    <div class="modal-footer text-center col-xs-12 emblem">
        <div ng-cloak class='loading' ng-show="loading"></div>
        <div ng-hide='emblem.logo_digitized == "1"' class="btn btn-sm">Your logo is being created.</div>
        <button ng-disabled="showRejectForm || loading == 1" ng-show='approveButton && !showRejectForm' ng-click="sendForm('approvelogo'); showRejectForm = false;" class="btn btn-success btn-sm" data-dismiss="modal"><span
                class="glyphicon glyphicon-ok" style="padding-right: 7px;"></span><b>Approve</b>
        </button>
        <button ng-show='rejectButton && !showRejectForm' ng-disabled="loading == 1" ng-click="showRejectForm = !showRejectForm" class="btn btn-danger btn-sm" data-dismiss="modal"><span
                class="glyphicon glyphicon-remove" style="padding-right: 7px;"></span><b>Reject Design</b>
        </button>
        <button ng-disabled="!description || loading == 1" ng-show='rejectButton && showRejectForm'  ng-click="sendForm('rejectemblem', description)" class="btn btn-danger btn-sm" data-dismiss="modal"><span
                class="glyphicon glyphicon-remove" style="padding-right: 7px;"></span><b>Reject</b>
        </button>
        <button ng-show='sampleButton && !showRejectForm' ng-disabled="loading == 1" ng-click="sendForm('requestsample'); showRejectForm = false;" class="btn btn-primary btn-sm" data-dismiss="modal"><span
                class="glyphicon glyphicon-gift" style="padding-right: 7px;"></span><b>Sample Design</b>
        </button>
        <button ng-disabled="loading == 1" type="button" class="btn btn-default btn-sm " data-dismiss="modal" ng-click="cancel()"><span
                class="glyphicon glyphicon-ban-circle" style="padding-right: 7px;"></span><b>Close</b>
        </button>
    </div>
</div>