<script src="app/controllers/accountController.js"></script>
<div ng-Controller='AccountController' ng-cloak>
    <div class="messages" ng-show="messages">
        <div class="messages-container">
            <div ng-repeat="message in messages track by $index"
                 class="alert alert-{{message.type}} messageStack">{{message.message}}
            </div>
        </div>
    </div>
    <!--------------------------------------->
    <!---------------SETTINGS---------------->
    <!--------------------------------------->
    <h1>Account Settings</h1>
    <uib-tabset justified="false">

        <!--------------------------------------->
        <!-------------ORGANIZATIONS------------->
        <!--------------------------------------->
        <uib-tab heading="Organization Account">
            <div class="top-20">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row hidden-xs">
                        <hr>
                    </div>

                    <div class="row div-bordered">
                        <form name="updateOrgForm" class="form" role="form" method="post" action="" ng-cloak>

                            <div class="col-sm-8 col-sm-offset-2">

                                <h3>Overview</h3>

                                <div class="form-group">
                                    <label for="orgurn">{{ typetitle }} ID</label>
                                    <input type="text" class="form-control " name="orgurn" id="orgurn"
                                           autocomplete="off" ng-model="formdata.orgurn" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="orgtype">Account Type</label>
                                    <select class="form-control has-feedback" name="orgtype" id="orgtype"
                                            ng-model="formdata.orgtype" required
                                            ng-change="changedValue(formdata.orgtype)"
                                            required>
                                        <option value="">Please Select</option>
                                        <option ng-repeat="formElement in formElements.types"
                                                ng-selected="formElement.id == formdata.orgtype"
                                                value="{{formElement.id}}">
                                            {{formElement.title}}
                                        </option>
                                    </select>
                                    <span class="help"
                                          ng-show="updateOrgForm.orgtype.$invalid && !updateOrgForm.orgtype.$pristine"> Please chose an organization type. </span>
                                </div>

                                <div class="form-group">
                                    <label for="orgname">{{ typetitle }} Name</label>
                                    <input required type="text" class="form-control has-feedback" name="orgname"
                                           id="orgname"
                                           autocomplete="off" value="" placeholder="My School/Club/Group"
                                           ng-model="formdata.orgname">
                                    <span class="help"
                                          ng-show="updateOrgForm.orgname.$invalid && !updateOrgForm.orgname.$pristine"> Organization name is required. </span>
                                </div>

                                <div class="form-group">
                                    <label for="orgurl">{{ typetitle }} home page</label>
                                    <input type="url" class="form-control has-feedback" name="orgurl" id="orgurl"
                                           autocomplete="off"
                                           value="" ng-model="formdata.orgurl"
                                           placeholder="http://www.myorgsite.org.uk">
                                    <span class="help"
                                          ng-show="updateOrgForm.orgurl.$invalid && !updateOrgForm.orgurl.$pristine"> Must be a valid URL. </span>
                                </div>


                                <h3>Details</h3>

                                <div class="form-group">
                                    <div class="form-group">
                                        <label ng-show="formdata.orgtype == 1" for="orglea">{{ typetitle }} LEA</label>
                                        <label ng-hide="formdata.orgtype == 1" for="orglea">{{ typetitle }} Area</label>
                                        <select class="form-control has-feedback" name="orglea" id="orglea"
                                                ng-model="formdata.orglea" ng-required="formdata.orgtype == 1">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="formElement in formElements.leas"
                                                    ng-selected="formElement.id == formdata.orglea"
                                                    value="{{formElement.id}}">
                                                {{formElement.title}}
                                            </option>
                                        </select>
                                        <span class="help"
                                              ng-show="updateOrgForm.orglea.$invalid && !updateOrgForm.orglea.$pristine"> Please chose a local education authority for your school.  </span>
                                    </div>
                                    <div class="form-group" ng-show="formdata.orgtype == 1" >
                                        <label for="orglea">School Education Phase</label>
                                        <select class="form-control has-feedback" name="orgphase" id="orgphase"
                                                ng-model="formdata.orgphase" ng-required="formdata.orgtype == 1">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="formElement in formElements.phases"
                                                    ng-selected="formElement.id == formdata.orgphase"
                                                    value="{{formElement.id}}">
                                                {{formElement.title}}
                                            </option>
                                        </select>
                                <span class="help"
                                      ng-show="updateOrgForm.orgphase.$invalid && !updateOrgForm.orgphase.$pristine"> Please chose an education phase for your school. </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="orgmembercount">Number of {{ typemembernoun }}</label>
                                    <input type="number"
                                           class="form-control has-feedback"
                                           name="orgmembercount"
                                           id="orgmembercount"
                                           autocomplete="off"
                                           value="1"
                                           min="1"
                                           ng-model="formdata.orgmembercount"
                                           required>
                        <span class="help"
                              ng-show="updateOrgForm.orgmembercount.$invalid && !updateOrgForm.orgmembercount.$pristine"> Member count must be a number </span>
                                </div>

                                <div class="form-group">
                                    <label for="orgtelephone">Phone Number</label>
                                    <input type="text" class="form-control has-feedback" name="orgtelephone"
                                           id="orgtelephone"
                                           autocomplete="off"
                                           value="" ng-model="formdata.orgtelephone" placeholder="0000 0000 000"
                                           pattern="[0-9 ()+-]*"
                                           required>
                        <span class="help"
                              ng-show="updateOrgForm.orgtelephone.$invalid && !updateOrgForm.orgtelephone.$pristine"> Please enter a phone number. </span>
                                </div>

                                <h3>Address</h3>

                                <div class="form-group">
                                    <label for="orgaddress1">{{ typetitle }} Address</label>
                                    <input type="text" class="form-control has-feedback" name="orgaddress1"
                                           id="orgaddress1"
                                           autocomplete="off"
                                           value=""
                                           ng-model="formdata.orgaddress1"
                                           placeholder="First Line"
                                           required>
                                    <input type="text" class="form-control has-feedback" name="orgaddress2"
                                           id="orgaddress2"
                                           autocomplete="off"
                                           value=""
                                           ng-model="formdata.orgaddress2"
                                           placeholder="Second line">
                                    <input type="text" class="form-control has-feedback" name="orgaddress3"
                                           id="orgaddress3"
                                           autocomplete="off"
                                           value=""
                                           ng-model="formdata.orgaddress3"
                                           placeholder="Third line">
                        <span class="help"
                              ng-show="updateOrgForm.orgaddress1.$invalid && !updateOrgForm.orgaddress1.$pristine"> You must have at least one address line. </span>
                                </div>

                                <div class="form-group">
                                    <label for="orgtown">Town</label>
                                    <input type="text" class="form-control has-feedback" name="orgtown" id="orgtown"
                                           autocomplete="off"
                                           value=""
                                           ng-model="formdata.orgtown"
                                           placeholder="Town Name"
                                           required>
                                    <span class="help"
                                          ng-show="updateOrgForm.orgtown.$invalid && !updateOrgForm.orgtown.$pristine"> Please enter a town. </span>
                                </div>
                                <div class="form-group">
                                    <label for="orgcounty">County</label>
                                    <input type="text" class="form-control has-feedback" name="orgcounty" id="orgcounty"
                                           autocomplete="off"
                                           value=""
                                           ng-model="formdata.orgcounty"
                                           placeholder="County Name"
                                           required>
                        <span class="help"
                              ng-show="updateOrgForm.orgcounty.$invalid && !updateOrgForm.orgcounty.$pristine"> Please enter a county. </span>
                                </div>
                                <div class="form-group">
                                    <label for="orgpostcode">Post Code</label>
                                    <input type="text" class="form-control has-feedback" name="orgpostcode"
                                           id="orgpostcode"
                                           autocomplete="off"
                                           value=""
                                           ng-model="formdata.orgpostcode"
                                           placeholder="AL10 9SN"
                                           required>
                        <span class="help"
                              ng-show="updateOrgForm.orgpostcode.$invalid && !updateOrgForm.orgpostcode.$pristine"> Please enter a post code. </span>
                                </div>
                                <div class="form-group">
                                    <label for="orgcountry">Country</label>
                                    <select class="form-control has-feedback"
                                            name="orgcountry"
                                            id="orgcountry"
                                            ng-model="formdata.orgcountry"
                                            required>
                                        <option value="">Please Select</option>
                                        <option ng-repeat="formElement in formElements.countries"
                                                ng-selected="formElement.id == formdata.orgcountry"
                                                value="{{formElement.id}}">
                                            {{formElement.title}}
                                        </option>
                                    </select>
                                    <input type="hidden" name="orgurn" id="orgurn" ng-model="orgurn"
                                           value="{{orgurn}}"/>
                        <span class="help"
                              ng-show="updateOrgForm.orgcountry.$invalid && !updateOrgForm.orgcountry.$pristine"> Please enter a country. </span>
                                </div>

                            </div>

                            <div class="row col-sm-8 col-sm-offset-2 text-center">
                                <div class="form-group">
                                      <button id="submit" name="submit" type="button" value="Send" class="btn btn-primary hidden-xs"
                                              ng-disabled="!updateOrgForm.$valid || updateOrgForm.$pristine" ng-click="sendupdate('org')">
                                          Save Changes <span class="glyphicon glyphicon-chevron-right"></span></button>

                                    <button id="submit" name="submit" type="button" value="Send" class="btn btn-sm btn-primary visible-xs"
                                            style="margin-left: 14px;" ng-disabled="!updateOrgForm.$valid || updateOrgForm.$pristine" ng-click="sendupdate('org')">
                                        Save Changes <span class="glyphicon glyphicon-chevron-right"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </uib-tab>

        <!--------------------------------------->
        <!----------------ADMINS----------------->
        <!--------------------------------------->
        <uib-tab heading="Manage Admins">

            <div class="top-20">

                <h3>Users</h3>

                <div class="row">
                    <div class="">
                        <table class="table table-hover" ng-show="session.users[session.showingorg].length">
                            <tr>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Main Contact</th>
                                <th style="text-align:right">Actions</th>
                            </tr>
                            <tr ng-repeat="user in session.users[session.showingorg]">
                                <td>{{user.user_email}}</td>
                                <td>{{user.user_first_name}} {{user.user_last_name}}</td>
                                <td><span class="glyphicon glyphicon-check" ng-show="user.user_primary == '1'"></span></td>
                                <td align="right">
                                    <div class="btn-group">
                                        <button disabled class="btn btn-sm" uib-tooltip="Edit user" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button ng-disabled="user.user_primary == '1'"
                                                ng-click="setPrimaryUser(user)"
                                                class="btn btn-info btn-sm"
                                                uib-tooltip="Make Primary Contact"
                                                tooltip-trigger="mouseenter"
                                                tooltip-placement="bottom"><span class="glyphicon glyphicon-user"></span></button>
                                        <button ng-disabled="user.user_primary == '1'"
                                                ng-click="confirmDeleteUser(user)"
                                                class="btn btn-danger btn-sm"
                                                uib-tooltip="Delete user"
                                                tooltip-trigger="mouseenter"
                                                tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <h3>Add Account User</h3>

                <div class="row">
                    <form name="form.addUserForm">
                        <div class="col-xs-12 col-sm-6">
                            <fieldset class="form-group">
                                <label for="userEmail">Email Address</label>
                                <input required
                                       ng-model="newUserForm.email"
                                       type="email"
                                       class="form-control"
                                       id="userEmail"
                                       name="userEmail"
                                       placeholder="john@organization.gov.uk">
                            </fieldset>
                            <span class="help" ng-show="form.addUserForm.userEmail.$invalid && !form.addUserForm.firstName.$pristine && !form.addUserForm.userEmail.$error.emailInUse"> Please enter a valid email address. </span>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <fieldset class="form-group">
                                <label for="firstName">First Name</label>
                                <input required
                                       ng-model="newUserForm.firstname"
                                       type="text"
                                       class="form-control"
                                       id="firstName"
                                       name="firstName"
                                       placeholder="John">
                            </fieldset>
                            <span class="help" ng-show="form.addUserForm.firstName.$invalid && !form.addUserForm.firstName.$pristine">Please enter a name.</span>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <fieldset class="form-group">
                                <label for="lastName">Surname</label>
                                <input required
                                       ng-model="newUserForm.lastname"
                                       type="text"
                                       class="form-control"
                                       id="lastName"
                                       name="lastName"
                                       placeholder="Smith">
                            </fieldset>
                            <span class="help" ng-show="form.addUserForm.lastName.$invalid && !form.addUserForm.lastName.$pristine">Please enter a last name.</span>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <fieldset class="form-group">
                                <label for="userAdd">&nbsp;</label><br/>
                                <button class="btn btn-default"
                                        ng-click="confirmAddUser()"
                                        type="button"
                                        role="button"
                                        id="userAdd"
                                        ng-disabled="form.addUserForm.$pristine || !form.addUserForm.$valid"
                                        >Add</button>
                            </fieldset>
                        </div>
                    </form>

                </div>


            </div>



        </uib-tab>


        <!--------------------------------------->
        <!-------------YOUR PROFILE-------------->
        <!--------------------------------------->
        <uib-tab heading="Your Profile">
            <div class="top-20">
                <!----Personal Details----->

                <div class="col-sm-8 col-sm-offset-2">

                    <div class="row hidden-xs">
                        <hr>
                    </div>

                    <div class="row div-bordered">
                        <form name="form.userForm" class="form" role="form" method="post" action="" ng-cloak>

                            <div class="col-sm-8 col-sm-offset-2">
                                <h3>Personal Details</h3>

                                <p class="form-group">
                                    <!---
                                        <div class="form-group">
                                        <label for="orgtype">Account Type</label>
                                        <select class="form-control has-feedback" name="orgtype" id="orgtype"
                                                ng-model="formdata.orgtype" required
                                                ng-change="changedValue(formdata.orgtype)">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="formElement in formElements.types"
                                                    ng-selected="formElement.id == formdata.orgtype"
                                                    value="{{formElement.id}}">
                                                {{formElement.title}}
                                            </option>
                                        </select>
                                        <span class="help"
                                              ng-show="registerForm.orgtype.$invalid && !registerForm.orgtype.$pristine"> Please chose an organization type. </span>
                                    </div>
                                    -->
                                    <!-------TITLE-------->
                                    <div class="form-group">
                                        <label for="usertitle">Title</label>
                                        <select class="form-control has-feedback"
                                                ng-model="formdata.usertitle"
                                                name="usertitle" id="usertitle"
                                                ng-change="changedValue(formdata.usertitle)"
                                                required>
                                            <option value="">Please Select</option>
                                            <option ng-repeat="formElement in formElements.titles"
                                                    ng-selected="formElement.id == formdata.usertitle"
                                                    value="{{formElement.id}}">
                                                {{formElement.title}}
                                            </option>
                                        </select>

                                        <span class="help"
                                              ng-show="form.userForm.usertitle.$invalid && !form.userForm.usertitle.$pristine"> Please select a title. </span>
                                    </div>

                                    <!-------FIRST NAME-------->
                                    <div class="form-group">
                                        <label for="userfirstname">First Name</label>
                                        <input type="text" class="form-control has-feedback" name="userfirstname"
                                               id="userfirstname"
                                               autocomplete="off"
                                               value="" ng-model="formdata.userfirstname" placeholder="John" required>
                                        <span class="help"
                                              ng-show="form.userForm.userfirstname.$invalid && !form.userForm.userfirstname.$pristine"> Please enter a first name. </span>
                                    </div>

                                    <!-------LAST NAME-------->
                                    <div class="form-group">
                                        <label for="userlastname">Last Name</label>
                                        <input type="text" class="form-control has-feedback" name="userlastname"
                                               id="userlastname"
                                               autocomplete="off" value=""
                                               placeholder="Smith" ng-model="formdata.userlastname" required>
                                        <span class="help"
                                              ng-show="form.userForm.userlastname.$invalid && !form.userForm.userlastname.$pristine"> Please enter a last name. </span>
                                    </div>

                                    <!-------JOB ROLE-------->
                                    <div class="form-group">
                                        <label for="userjobrole">Job Role</label>
                                        <input type="text" class="form-control has-feedback" name="userjobrole"
                                               id="userjobrole"
                                               autocomplete="off" value=""
                                               placeholder="Head Teacher" ng-model="formdata.usertypename" required>
                                        <span class="help"
                                              ng-show="form.userForm.userjobrole.$invalid && !form.userForm.userjobrole.$pristine"> Please enter a job role. </span>
                                    </div>

                                    <!-------WORK PHONE-------->
                                    <div class="form-group col-xs-6">
                                        <label for="userworkphone">Work phone</label>
                                        <input type="text" class="form-control has-feedback" name="userworkphone"
                                               id="userworkphone"
                                               autocomplete="off"
                                               value="" ng-model="formdata.userworkphone" placeholder="0000 0000 000"
                                               pattern="[0-9 ()+-]*"
                                               >
                        <span class="help"
                              ng-show="form.userForm.userworkphone.$invalid && !form.userForm.userworkphone.$pristine">Please enter a phone number.</span>
                                    </div>

                                    <!-------MOBILE-------->
                                    <div class="form-group col-xs-6">
                                        <label for="usermobilephone">Mobile phone</label>
                                        <input type="text" class="form-control has-feedback" name="usermobilephone"
                                               id="usermobilephone"
                                               autocomplete="off"
                                               value="" ng-model="formdata.usermobilephone" placeholder="0000 0000 000"
                                               pattern="[0-9 ()+-]*"
                                               >
                        <span class="help"
                              ng-show="form.userForm.usermobilephone.$invalid && !form.userForm.usermobilephone.$pristine">Please enter a phone number.</span>
                                    </div>

                                    <!-------EMAIL-------->
                                    <div class="form-group">
                                        <label for="useremailaddress">Email Address</label>
                                        <input type="email" class="form-control has-feedback" name="useremailaddress"
                                               id="useremailaddress"
                                               autocomplete="off" value="" ng-model="formdata.useremail"
                                               ng-model-options="{debounce:500}"
                                               placeholder="john@organization.gov.uk" required>
                        <span class="help"
                              ng-show="form.userForm.useremailaddress.$invalid && !form.userForm.useremailaddress.$error.emailInUse && !form.userForm.emailaddress.$pristine"> Please enter a valid email address. </span>
                                    </div>

                                    <h3>Password Change</h3>
                                    <p>If you wish to change your password, please fill out the below fields.</p>
                                    <!----CURRENT PASS----->
                                    <div class="form-group">
                                        <label for="currentpassword">Current password</label>
                                        <input type="password" class="form-control has-feedback" name="currentpassword"
                                               id="currentpassword"
                                               autocomplete="off" value="" ng-model="formdata.currentpassword"
                                               ng-required="formdata.pw1"
                                               placeholder="Old password" >
                        <span class="help"
                              ng-show="form.userForm.currentpassword.$invalid && !form.userForm.currentpassword.$error.emailInUse && !form.userForm.currentpassword.$pristine"> Please enter your current password. </span>
                                    </div>


                                    <!---NEW PASS---------->
                                    <div class="form-group">
                                        <label for="pw1">Set a password:</label>
                                        <input class="form-control has-feedback" type="password" id="pw1" name="pw1"
                                               ng-model="formdata.pw1"
                                               placeholder="New password"
                                               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                                               ng-required="formdata.currentpassword"/>
                                    </div>
                                     <span class="help"
                                           ng-show="form.userForm.pw1.$invalid && !form.userForm.pw1.$pristine"> New password must be at least 8 characters and have at at least one UPPERCASE, one lowercase and one number character. </span>

                                    <div class="form-group">
                                        <label for="pw2">Confirm the password:</label>
                                        <input class="form-control has-feedback" type="password" id="pw2" name="pw2"
                                               ng-model="formdata.pw2"
                                               ng-required=""
                                               pw-check="pw1"
                                               placeholder="Repeat new password"
                                                />

                                        <div class="help" ng-show="form.userForm.$error"><span class="help"
                                                                                          ng-show="form.userForm.pw2.$error.pwmatch"  ng-required="formdata.pw1">Passwords don't match.</span>
                                        </div>
                                    </div>


                                    <!-------SAVE-------->
                                    <div class="row col-sm-8 col-sm-offset-2 text-center">
                                        <div class="form-group">
                                            <button id="updateUser" name="submit" type="button" value="Send" class="btn btn-primary hidden-xs"
                                                     ng-disabled="!form.userForm.$valid || form.userForm.$pristine || loading" ng-click="sendupdate('user')">
                                                 Save Changes <span
                                                     class="glyphicon glyphicon-chevron-right"></span></button>

                                            <button id="updateUser" name="submit" type="button" value="Send" class="btn btn-sm btn-primary visible-xs"
                                                    ng-disabled="!form.userForm.$valid || form.userForm.$pristine || loading" ng-click="sendupdate('user')">
                                                Save Changes <span
                                                    class="glyphicon glyphicon-chevron-right"></span></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </uib-tab>


        <!-----END SETTINGS---->
    </uib-tabset>


    <!-----END----->
</div>
