<script src="app/controllers/actionsController.js"></script>
<div ng-Controller='ActionsController' ng-cloak>
    <h1 ng-cloak>Actions</h1>
    <uib-tabset justified="false" ng-cloak>
        <uib-tab ng-hide="true">
            <uib-tab-heading>Requests <span class='label label-pill label-info'>{{ requestCount }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text" placeholder="School filter" id="activefilter" class="form-control">
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>School Name</th>
                                <th>School ID</th>
                                <th>Request</th>
                                <th>Created</th>
                                <th>Days Old</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="school in schools">
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="bigTotalItems"
                                ng-model="bigCurrentPage"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                rotate="false"
                                num-pages="numPages" ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab ng-hide="true">
            <uib-tab-heading>Archive <span class='label label-pill label-success'>{{ archiveCount }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text" placeholder="School filter" id="livefilter" class="form-control">
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>School Name</th>
                                <th>School ID</th>
                                <th>Request</th>
                                <th>Requested By</th>
                                <th>Resolved At</th>
                                <th>Accepted</th>
                                <th>Rsln Time</th>
                                <th>Resolved By</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="school in schools">
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="bigTotalItems"
                                ng-model="bigCurrentPage"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                rotate="false"
                                num-pages="numPages" ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab ng-hide="true">
            <uib-tab-heading>Product Log <span class='label label-pill label-danger'>{{ prodLogCount }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text" placeholder="School filter" id="withdrawnfilter" class="form-control">
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>User</th>
                                <th>Role</th>
                                <th>School ID</th>
                                <th>Action</th>
                                <th>Product</th>
                                <th>Colour</th>
                                <th>Type</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="school in schools">
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="bigTotalItems"
                                ng-model="bigCurrentPage"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                rotate="false"
                                num-pages="numPages" ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>Downloads</uib-tab-heading>
            <div class="top-20">
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Report</th>
                                <th>Time Period</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="school in schools">
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>