<script src="app/controllers/uschoolsController.js"></script>
<div ng-Controller='UschoolsController as controller' ng-cloak>
    <h1 ng-cloak>Uniform Schools</h1>
    <uib-tabset justified="false" ng-cloak>
        <uib-tab>
            <uib-tab-heading>Activating <span class='label label-pill label-info'>{{ actives.total }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">

                        <input type="text"
                               placeholder="School name or ID or 'Stage x'"
                               id="aquery"
                               name="aquery"
                               class="form-control"
                               ng-model="actives.query"
                               ng-model-options="{debounce:500}"
                                />

                        </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                                <tr>
                                    <th>Days Old</th>
                                    <th>School User</th>
                                    <th>School ID</th>
                                    <th>School Samples</th>
                                    <th>Emblems</th>
                                    <th>Approval Form</th>
                                    <th>Approved Emblems</th>
                                    <th>Products Selected</th>
                                    <th>Stage</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="activeschool in actives.schools">
                                    <td>{{ activeschool.sinceregistered }}</td>
                                    <td>{{ activeschool.name }}</td>
                                    <td>{{ activeschool.urn }}</td>
                                    <td>{{ activeschool.test }}</td>
                                    <td>{{ activeschool.emblem_count }}</td>
                                    <td class="center">
                                        <span class='glyphicon glyphicon-ok' ng-show='{{activeschool.organization_form_signed }}'></span>
                                        <span class='glyphicon glyphicon-remove' ng-hide='{{activeschool.organization_form_signed }}'></span>
                                    </td>
                                    <td>{{ activeschool.approved_emblem_count }}</td>
                                    <td>{{ activeschool.product_count }}</td>
                                    <td>{{ activeschool.school_status_name }}</td>
                                    <td class="text-center">
                                        <a href ng-click="viewOrg(activeschool.organization_id)">
                                            <span class=' glyphicon glyphicon-eye-open'></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="actives.total"
                                ng-model="actives.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="activePageChanged(actives.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>Live <span class='label label-pill label-success'>{{  lives.total  }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text"
                               placeholder="School name or ID"
                               id="lquery"
                               name="lquery"
                               class="form-control"
                               ng-model="lives.query"
                               ng-model-options="{debounce:500}" />

                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Days Live</th>
                                <th>School Name</th>
                                <th>School ID</th>
                                <th>Emblems</th>
                                <th>Approved Emblems</th>
                                <th>Emb Prods Selected</th>
                                <th>Pln Prods Selected</th>
                                <th>Total Sales</th>
                                <th>Houses</th>
                                <th ng-hide="true">Rank</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="liveschool in lives.schools">
                                <td>{{ liveschool.livedays }}</td>
                                <td>{{ liveschool.name }}</td>
                                <td>{{ liveschool.urn }}</td>
                                <td>{{ liveschool.emblem_count }}</td>
                                <td>{{ liveschool.approved_emblem_count }}</td>
                                <td>{{ liveschool.emb_product_count }}</td>
                                <td>{{ liveschool.product_count - liveschool.emb_product_count }}</td>
                                <td>{{ liveschool.organization_funds }}</td>
                                <td>{{ liveschool.housecount }}</td>
                                <td ng-hide="true">{{ liveschool.test }}</td>
                                <td class="text-center">
                                    <a href ng-click="viewOrg(liveschool.organization_id)">
                                        <span class=' glyphicon glyphicon-eye-open'></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="lives.total"
                                ng-model="lives.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="livePageChanged(lives.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>Suspended <span class='label label-pill label-warning'>{{ suspendeds.total }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text"
                               placeholder="School name or ID"
                               id="squery"
                               name="squery"
                               class="form-control"
                               ng-model="suspendeds.query"
                               ng-model-options="{debounce:500}" />
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Date Susp.</th>
                                <th>Live Days</th>
                                <th>School Name</th>
                                <th>School ID</th>
                                <th>Susp Reason</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="suspendedschool in suspendeds.schools">
                                <td>{{ suspendedschool.sdate }}</td>
                                <td>{{ suspendedschool.livedays  }}</td>
                                <td>{{ suspendedschool.name }}</td>
                                <td>{{ suspendedschool.urn }}</td>
                                <td>{{ suspendedschool.organization_withdrawn_suspended_reason  }}</td>
                                <td class="text-center">
                                    <a href ng-click="viewOrg(suspendedschool.organization_id)">
                                        <span class=' glyphicon glyphicon-eye-open'></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="suspendeds.total"
                                ng-model="suspendeds.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="suspendedsPageChanged(suspendeds.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>Withdrawn <span class='label label-pill label-danger'>{{ withdrawns.total }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text"
                               placeholder="School name or ID"
                               id="wquery"
                               name="wquery"
                               class="form-control"
                               ng-model="withdrawns.query"
                               ng-model-options="{debounce:500}" />
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Date W/drw</th>
                                <th>Live Days</th>
                                <th>School Name</th>
                                <th>School ID</th>
                                <th>W/d Reason</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="withdrawnschool in withdrawns.schools">
                                <td>{{ withdrawnschool.wdate }}</td>
                                <td>{{ withdrawnschool.livedays }}</td>
                                <td>{{ withdrawnschool.name }}</td>
                                <td>{{ withdrawnschool.urn }}</td>
                                <td>{{ withdrawnschool.organization_withdrawn_suspended_reason }}</td>
                                <td class="text-center">
                                    <a href ng-click="viewOrg(withdrawnschool.organization_id)">
                                        <span class=' glyphicon glyphicon-eye-open'></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="withdrawns.total"
                                ng-model="withdrawns.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="withdrawnsPageChanged(withdrawns.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>