<script src="app/controllers/adminController.js"></script>
<div ng-Controller='AdminController' ng-cloak>
    <h1>Admin User Page</h1>
    <p>Hello {{ session.user.user_name }}, You are a {{ session.user.user_type_name }} user.</p>

</div>
