<script src="app/controllers/bulkController.js"></script>

<div ng-Controller='BulkController' ng-cloak>
    <div class="messages" ng-show="messages">
        <div class="messages-container">
            <div ng-repeat="message in messages track by $index" class="alert alert-{{message.type}} messageStack">{{message.message}}
            </div>
        </div>
    </div>

    <h1 ng-cloak>Bulk Order Admin</h1>
    <uib-tabset justified="false" ng-cloak>
        <uib-tab ng-click="loadFAQ();" ng-cloak>
            <uib-tab-heading>Bulk Orders</uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text"
                               placeholder="Order ID, School Name, URN"
                               id="bquery"
                               name="bquery"
                               class="form-control"
                               ng-model="bulks.query"
                               ng-model-options="{debounce:500}"
                                />
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>FF-UES Order ID</th>
                                <th>ATG Order ID</th>
                                <th>School URN</th>
                                <th>School Name</th>
                                <th>Order Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="bulkorder in bulks.orders">
                                <td>{{ bulkorder.organization_bulk_order_id }}</td>
                                <td>{{ bulkorder.organization_bulk_order_gmo_order_number }}</td>
                                <td>{{ bulkorder.school_URN }}</td>
                                <td>{{ bulkorder.order_name }}</td>
                                <td>{{ bulkorder.order_date }}</td>
                                <td class="text-center">
                                    <a href ng-click="showModal('bulkEdit','lg',{boid:bulkorder.organization_bulk_order_id})">
                                        <span class=' glyphicon glyphicon-eye-open'></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="bulks.total"
                                ng-model="bulks.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="bulkPageChanged(bulks.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
</uib-tabset>
</div>