<script src="app/controllers/productsAddController.js"></script>

<div ng-Controller='ProductsAddController' ng-cloak>
    <legend>Products</legend>

    <!-- FORM/IMAGE ------->
    <div class="row" >
        <div class="col-xs-12">
            <!-- Form leftside ==-->
            <div class="col-md-6">
                <form class="form-horizontal">
                    <!-- Product name =======-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uniform_name"><abbr title="required">*</abbr>Product name</label>
                        <div class="col-sm-9">
                            <input class="form-control string required" id="uniform_name" name="uniform[name]" size="50" type="text">
                        </div>
                    </div>
                    <!-- Group select =======-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uniform_uniform_group_id"><abbr title="required">*</abbr>Group</label>
                        <div class="controls text-left col-sm-9">
                            <select class="form-control" id="uniform_uniform_group_id" name="uniform[uniform_group_id]">
                                <!-- ADD NG REPEAT LATER =================-->
                                <option value="21">Accessories</option>
                                <option value="2">Bags</option>
                                <option value="3">Blazers</option>
                                <option value="6">Coats &amp; Jackets</option>
                                <option value="4">Dresses</option>
                                <option value="8">Knitwear</option>
                                <option value="9">Polo Shirts</option>
                                <option value="10">Shirts</option>
                                <option value="11">Shoes</option>
                                <option value="12">Shorts</option>
                                <option value="13">Skirts</option>
                                <option value="14">Socks &amp; Underwear</option>
                                <option value="20">Sports</option>
                                <option value="15">Swimwear</option>
                                <option value="17">Trousers</option>
                                <option value="18">T-Shirts</option>
                            </select>
                            <input aria-hidden="true" class="hidden hidden-field" name="" readonly="readonly" type="text">
                        </div>
                    </div>
                    <!-- Popular checkbox ----->

                    <!-- Size text ==========-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uniform_size_text">Size text</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="uniform_size_text" placeholder="" required="" type="text">
                        </div>
                    </div>
                    <!-- Price text =========-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uniform_price_text">Product name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="uniform_price_text" placeholder="" required="" type="text">
                        </div>
                    </div>
                    <!-- Link ===============-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="uniform_link">Link</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">http://</span>
                                <input class="form-control" id="uniform_link" name="link" placeholder="www.example.com" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Description ========-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="uniform_description">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" cols="5" id="uniform_description" name="description" rows="15"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Form rightside =-->
            <div class="col-md-6">
                <form class="form-horizontal">
                    <!-- Picture =======-->
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="text-center" style="width:200px; height: 200px; margin:0 auto;">

                                    <span class="glyphicon glyphicon-picture gi-14x">
                                        <div class="badge_add_new" ng-class="{'display_badge' : toggleNewBadge}"></div>
                                        <div class="badge_add_soon" ng-class="{'display_badge' : toggleSoonBadge}"></div>
                                        <div class="badge_add_awaiting" ng-class="{'display_badge' : toggleAwaitingBadge}"></div>
                                    </span>
                                </div>
                            </div>
                            <div class="row text-center">
                                <label for="uploadEmbroided" class="btn btn-primary btn-sm" uib-tooltip="Upload image 400x400px" tooltip-trigger="mouseenter" tooltip-placement="bottom" class="tooltip-inner">
                                    <span class="glyphicon glyphicon-floppy-open gi-1-5x" aria-hidden="true" ></span>
                                    <input type="file" id="uploadEmbroided" style="display:none">
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Badges buttons -->
                    <div class="col-xs-12 text-center">
                        <div class="">
                            <button class="btn  btn-sm" type="button" ng-click="toggleNewBadge = !toggleNewBadge" ng-class="{'btn-success' : toggleNewBadge}">NEW Badge</button>
                            <button class="btn  btn-sm" type="button" ng-click="toggleSoonBadge = !toggleSoonBadge" ng-class="{'btn-success' : toggleSoonBadge}">SOON Badge</button>
                            <button class="btn  btn-sm" type="button" ng-click="toggleAwaitingBadge = !toggleAwaitingBadge" ng-class="{'btn-success' : toggleAwaitingBadge}">AWAITING Badge</button>
                            <button class="btn  btn-sm" type="button" ng-click="toggleActive = !toggleActive" ng-class="{'btn-success': toggleActive}">Active</button>
                        </div>
                    </div>
                    <!-- EMBLEMS ======-->
                    <div class="col-xs-12 text-center">
                        <!-- EMBLEM Size ======-->
                        <div class="text-center">
                            <div class="control-group boolean optional col-xs-12">
                                <label class="boolean optional control-label" for="uniform_emblem_size_small">Emblem size</label>
                                <div class="controls">
                                    <input class="hidden" id="uniform_emblem_size_small" name="uniform[emblem_size_small]" type="hidden" value="false">
                                    <div class="btn-group" data-toggle="buttons-radio" id="emblem-size" style="margin-top: 5px;">
                                        <button class="btn btn-mini" data-for="emblem_size_small" value="true">Small</button>
                                        <button class="btn btn-mini btn-success" data-for="emblem_size_small" value="false">Normal</button>
                                    </div>
                                    <!-- Availability ======-->
                                    <div class="row">
                                    <div class="control-group string optional col-xs-12">
                                        <label class="string optional control-label" for="uniform_availability">Availability</label>
                                        <div class="controls">
                                            <input class="hidden" id="uniform_embroidered" name="uniform[embroidered]" type="hidden" value="true">
                                            <input class="hidden" id=
                                                    "uniform_plain" name="uniform[plain]" type="hidden">
                                            <div class="btn-group" data-toggle="buttons-radio" id="uniform_availability" style="margin-top: 5px;">
                                                <button class="btn btn-mini btn-success disabled" data-for="uniform_embroidered">Embroidered</button>
                                                <button class="btn btn-mini disabled" data-for="uniform_plain">Plain</button>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 text-center">
                                <div class="col-xs-6 text-center">
                                    <div class="col-xs-12 text-center">
                                        <div class="control-group integer optional col-xs-12">
                                            <label class="integer optional control-label" for="uniform_position">Order Number</label>
                                            <div class="controls">
                                                <input class="numeric integer optional small" id="uniform_position" name="uniform[position]" step="1" type="number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-center margin-top-20">
                                    <div class="col-xs-10 text-center">
                                        <span class="btn btn-default btn-sm btn-sm-add" uib-tooltip="Preview product" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('preview','lg',{ 'urn': product.test })"><span class="glyphicon glyphicon-eye-open"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <legend></legend>

    <!-- PRICE/SKU Add COLOR navbar -->

    <div class="row clearfix">
        <div class="col-xs-6">
            <div class="btn-group" data-toggle-name="sort_options" data-toggle="buttons-radio">
                <button type="button" value="price" data-toggle="button" class="btn btn-sm active">Price</button>
                <button type="button" value="sku" data-toggle="button"
                        class="btn btn-sm">SKUs</button>
            </div>

        </div>
        <div class="col-xs-6" >
            <a href="#/products-add" class="btn btn-default btn-sm btn-sm-add pull-right" ng-click="showModal('add-color','lg',{ 'urn': product.test })"><span class="glyphicon glyphicon-plus-sign">Add colour</span></a>
            <a href="#/products-add" class="btn btn-default btn-sm btn-sm-add pull-right" ng-click="addRow();"><span class="glyphicon glyphicon-plus-sign">Add size</span></a>
        </div>
    </div>
    <!-- ADD COlOUR options ------->

    <table class="table col-xs-12 table-responsive">
        <tr ng-repeat="data in data">
            <td>{{data[0].name}}</td>
            <td ng-repeat='cell in data' ng-if="$index > 0">
                <input type="text" ng-model="cell.en"/>
            </td>
        </tr>
    </table>

    <button ng-click="showModal('search','lg',{ 'urn': product.test })">Search Modal</button>


    <!-- END ====-->
</div>

