<script src="app/controllers/productsController.js"></script>

<div ng-Controller='ProductsController' ng-cloak>
    <h1 ng-cloak>Products</h1>
    <uib-tabset justified="false" ng-cloak>
        <uib-tab>
            <uib-tab-heading>Embroided <span class='label label-pill label-info'>{{ activatingCount }}</span>
            </uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/products-add" class="btn btn-default btn-sm btn-sm-add" uib-tooltip="Add embroided product" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </div>
                    <div class=" col-xs-6">
                        <div class="input-group">
                            <input type="text" placeholder="Product name or style.." id="embroidedfilter" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Embroided --------->
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Product</th>
                                <th>Schools using</th>
                                <th>Group</th>
                                <th>Last edited at</th>
                                <th>Last edited by</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in products">
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" uib-tooltip="edit" tooltip-trigger="mouseenter" tooltip-placement="left"><span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button class="btn btn-danger btn-sm" uib-tooltip="delete" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="showModal('delete','lg',{ 'urn': product.test })"><span class="glyphicon glyphicon-trash"></span>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
                    <div class="col-sm-offset-10 col-xs-2 text-right">
                        <!-- label custom 'button'-->
                        <label for="uploadEmbroided" class="btn btn-primary btn-sm pull-right" uib-tooltip="Import CSV" tooltip-trigger="mouseenter" tooltip-placement="bottom" class="tooltip-inner">
                           <span class="glyphicon glyphicon-floppy-open" aria-hidden="true" ></span>
                            <input type="file" id="uploadEmbroided" style="display:none">
                        </label>
                    </div>
                </div>
                <!-- Embroided End ----->

                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>Plain <span class='label label-pill label-success'>{{ liveCount }}</span>
            </uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/products-add-plain" class="btn btn-default btn-sm btn-sm-add" uib-tooltip="Add plain product" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </div>
                    <div class=" col-xs-6">
                        <div class="input-group">
                            <input type="text" placeholder="Product name or style.." id="plainfilter" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Plain --------------->
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Product</th>
                                <th>Schools using</th>
                                <th>Group</th>
                                <th>Last edited at</th>
                                <th>Last edited by</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in products">
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td>{{ product.test }}</td>
                                <td >
                                    <button class="btn btn-primary btn-sm" uib-tooltip="edit" tooltip-trigger="mouseenter" tooltip-placement="left"><span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button class="btn btn-danger btn-sm" uib-tooltip="delete" tooltip-trigger="mouseenter" tooltip-placement="right" ><span class="glyphicon glyphicon-trash" ></span>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-offset-10 col-xs-2 text-right">
                        <!-- label custom 'button'-->
                        <label for="uploadPlain" class="btn btn-primary btn-sm" uib-tooltip="Import CSV" tooltip-trigger="mouseenter" tooltip-placement="bottom" class="tooltip-inner">
                            <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
                            <input type="file" id="uploadPlain" style="display:none">
                        </label>
                        <button class="btn btn-primary btn-sm" uib-tooltip="Export CSV" tooltip-trigger="mouseenter" tooltip-placement="bottom" class="tooltip-inner" ><span class="glyphicon glyphicon-floppy-save"></span></button>
                    </div>
                </div>

                <!-- Plain END ---------->
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>

    </uib-tabset>
</div>