<script src="app/controllers/supportController.js"></script>

<div ng-Controller='SupportController' ng-cloak>
    <h1 ng-cloak>Support</h1>
    <uib-tabset justified="false" ng-cloak>
        <!--<uib-tab>
            <uib-tab-heading>Feedback <span class='label label-pill label-info'>{{ feedbackCount }}</span></uib-tab-heading>
            <div class="top-20">
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <thead class="small">
                        <tr>
                            <th>User Name</th>
                            <th>School ID</th>
                            <th>Created</th>
                            <th>Type</th>
                            <th>Feedback</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="school in schools">
                            <td>{{ school.test }}</td>
                            <td>{{ school.test }}</td>
                            <td>{{ school.test }}</td>
                            <td>{{ school.test }}</td>
                            <td>{{ school.test }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row top-20 text-center">
                <div class="col-xs-12">
                    <uib-pagination
                            total-items="bigTotalItems"
                            ng-model="bigCurrentPage"
                            max-size="maxSize"
                            class="pagination-sm"
                            boundary-links="true"
                            rotate="false"
                            num-pages="numPages" ></uib-pagination>
                </div>
            </div>
        </uib-tab>-->
        <uib-tab ng-click="loadFAQ();" ng-cloak>
            <uib-tab-heading>FAQ & Resources</uib-tab-heading>
            <div class="top-20">
                <!-- FAQs -->
                <div class="col-md-7">
                    <div class="col-md-12">

                        <div class="panel panel-primary" ng-repeat="FAQsection in FAQuestions" ng-cloak>
                            <div class="panel-heading"><b>{{ FAQsection.sectionTitle }}</b></div>
                            <div class="panel-body">
                                <uib-accordion>
                                    <uib-accordion-group heading="{{FAQ.title}}" ng-repeat="FAQ in FAQsection.sectionFAQs">
                                        {{FAQ.content}}
                                    </uib-accordion-group>
                                </uib-accordion>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <!-- UniformPage -->
                    <div class="panel panel-primary">
                        <div class="panel-heading"><b>Uniform Page Questions</b></div>
                        <div class="panel-body">
                            <uib-accordion>
                                <uib-accordion-group heading="{{UPQ.title}}" ng-repeat="UPQ in UPQs" ng-cloak>
                                    {{UPQ.content}}
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Resources -->
                    <div class="panel panel-primary">
                        <div class="panel-heading"><b>Resources</b></div>
                        <div class="panel-body">
                            <uib-accordion>
                                <uib-accordion-group heading="{{resource.title}}" ng-repeat="resource in resources" ng-cloak>
                                    {{resource.content}}
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading data-ng-click="isFileStillDownloading()">Downloads</uib-tab-heading>
            <div class="top-20">
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                                <tr>
                                    <th>Report</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-hide="session.user.user_type_id == 5">
                                    <td>Embroidered Allocations</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('emb');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="session.user.user_type_id == 5">
                                    <td>Plain Allocations</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport();" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="session.user.user_type_id == 5">
                                    <td>Master Donations Sheet</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="uploadMasterDonations();" class="btn btn-info btn-sm" uib-tooltip="Upload" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-upload"></span></button>
                                            <button data-ng-disabled="loading" ng-click="downloadReport('don');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="session.user.user_type_id == 5">
                                    <td>Slickstitch LU Sheet</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('lu');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>All Schools List</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('ao');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Live School List</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('ls');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Activating School List</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('as');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Withdrawn School List</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('ws');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Donation Payments CSV</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('dp');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <!--
                                <tr>
                                    <td>Welcome Packs List</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button ng-click="downloadReport('wp');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                !-->

                                <tr>
                                    <td>'DESIGN BEING CREATED' List</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('sd');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                    class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Welcome Pack Sent List</td>
                                    <td>
                                        <div class="input-group dispatch-filter-input text-center" id="wp-datepicker" style="width:390px; margin:0;">

                                            <adm-dtp style="width: 170px;" ng-model="wp.orderdate.from" full-data="wp.orderdate.from_detail" maxdate="{{wp.orderdate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center ss-datepicker-button" ng-model="wp.orderdate.from" style=" cursor : pointer;" placeholder="Click here to choose a date..">
                                <span ng-hide="wp.orderdate.from" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="wp.orderdate.from"> Date from (click) : </b>
                                                <b>{{wp.orderdate.from}}</b>
                                                </span>
                                            </adm-dtp>

                                            <adm-dtp style="width: 170px; float:left" ng-model="wp.orderdate.to" full-data="wp.orderdate.to_detail" mindate="{{wp.orderdate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center wp-datepicker-button" style=" cursor : pointer;">
                                <span ng-hide="wp.orderdate.to" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="wp.orderdate.to"> Date to :  </b>
                                                <b>{{wp.orderdate.to}}</b>
                                                </span>
                                            </adm-dtp>
                                            <button ng-disabled="!wp.orderdate.to || !wp.orderdate.from || loading" ng-click="downloadReport('wp');" class="btn btn-sm pull-right" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download pull-left"></span></button>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>Samples Sent List</td>
                                    <td>
                                        <div class="input-group dispatch-filter-input text-center" id="ss-datepicker" style="width:390px; margin:0;">

                                            <adm-dtp style="width: 170px;" ng-model="ss.orderdate.from" full-data="ss.orderdate.from_detail" maxdate="{{ss.orderdate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center ss-datepicker-button" ng-model="ss.orderdate.from" style=" cursor : pointer;" placeholder="Click here to choose a date..">
                                <span ng-hide="ss.orderdate.from" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="ss.orderdate.from"> Date from (click) :  </b>
                                                <b>{{ss.orderdate.from}}</b>
                                                </span>
                                            </adm-dtp>

                                            <adm-dtp style="width: 170px; float:left" ng-model="ss.orderdate.to" full-data="ss.orderdate.to_detail" mindate="{{ss.orderdate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center ss-datepicker-button" style=" cursor : pointer;">
                                <span ng-hide="ss.orderdate.to" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="ss.orderdate.to"> Date to :  </b>
                                                <b>{{ss.orderdate.to}}</b>
                                                </span>
                                            </adm-dtp>
                                            <button ng-disabled="!ss.orderdate.to || !ss.orderdate.from || loading" ng-click="downloadReport('ss');" class="btn btn-sm pull-right" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download pull-left"></span></button>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>Refer A Friend List</td>
                                    <td>
                                        <div class="input-group dispatch-filter-input text-center" id="rf-datepicker" style="width:390px; margin:0;">

                                            <adm-dtp style="width: 170px;" ng-model="rf.orderdate.from" full-data="rf.orderdate.from_detail" maxdate="{{rf.orderdate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center rf-datepicker-button" ng-model="rf.orderdate.from" style=" cursor : pointer;" placeholder="Click here to choose a date..">
                                <span ng-hide="rf.orderdate.from" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="rf.orderdate.from"> Date from (click) :  </b>
                                                <b>{{rf.orderdate.from}}</b>
                                                </span>
                                            </adm-dtp>

                                            <adm-dtp style="width: 170px; float:left" ng-model="rf.orderdate.to" full-data="rf.orderdate.to_detail" mindate="{{rf.orderdate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center rf-datepicker-button" style=" cursor : pointer;">
                                <span ng-hide="rf.orderdate.to" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="rf.orderdate.to"> Date to :  </b>
                                                <b>{{rf.orderdate.to}}</b>
                                                </span>
                                            </adm-dtp>
                                            <button ng-disabled="!rf.orderdate.to || !rf.orderdate.from || loading" ng-click="downloadReport('rf');" class="btn btn-sm pull-right" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download pull-left"></span></button>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>Nomination List</td>
                                    <td>
                                        <div class="input-group dispatch-filter-input text-center" id="nl-datepicker" style="width:390px; margin:0;">

                                            <adm-dtp style="width: 170px;" ng-model="nl.orderdate.from" full-data="nl.orderdate.from_detail" maxdate="{{nl.orderdate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center rf-datepicker-button" ng-model="nl.orderdate.from" style=" cursor : pointer;" placeholder="Click here to choose a date..">
                                <span ng-hide="nl.orderdate.from" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="nl.orderdate.from"> Date from (click) :  </b>
                                                <b>{{nl.orderdate.from}}</b>
                                                </span>
                                            </adm-dtp>

                                            <adm-dtp style="width: 170px; float:left" ng-model="nl.orderdate.to" full-data="nl.orderdate.to_detail" mindate="{{nl.orderdate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                multiple: false, transition:false}'>
                                                <span dtp-toggle class="form-control text-center rf-datepicker-button" style=" cursor : pointer;">
                                <span ng-hide="nl.orderdate.to" class=" glyphicon glyphicon-calendar"></span>
                                                <b ng-hide="nl.orderdate.to"> Date to :  </b>
                                                <b>{{nl.orderdate.to}}</b>
                                                </span>
                                            </adm-dtp>
                                            <button ng-disabled="!nl.orderdate.to || !nl.orderdate.from || loading" ng-click="downloadReport('nl');" class="btn btn-sm pull-right" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download pull-left"></span></button>
                                        </div>
                                    </td>

                                </tr>

                                <tr ng-hide="session.user.user_type_id == 5">
                                    <td>Embroidered Allocations (GMO ANDY ONLY)</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('embg');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="session.user.user_type_id == 5">
                                    <td>Plain Allocations (GMO ANDY ONLY)</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button data-ng-disabled="loading" ng-click="downloadReport('plng');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-tab>

        <!------------------------------->
        <!------- TESCO DISPATCHES ------>
        <!------------------------------->
        <uib-tab ng-cloak>
            <uib-tab-heading>Dispatches</uib-tab-heading>

            <div class="top-20">
                <div class="row">
                    <form action="" name="form.filterForm" ng-model="form.filterForm">
                        <div id="dispatch_filter_important_only" class="col-xs-12">
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group dispatch-filter-input">
                                    <span class="input-group-addon"><b>Tesco Order Ref :</b></span>
                                    <input ng-model="searchFilter.da_cust_ref" type="text" class="form-control" id="da_cust_ref" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group dispatch-filter-input">
                                    <span class="input-group-addon"><b>Customer Name :</b></span>
                                    <input ng-model="searchFilter.da_delivery_name" type="text" class="form-control" id="da_delivery_name" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group dispatch-filter-input">
                                    <span class="input-group-addon"><b>School ID:</b></span>
                                    <input ng-model="searchFilter.da_school_id" type="text" class="form-control" id="da_school_id" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group" style="width: 98%; margin-left: 1%;"><span class="input-group-addon"><b>Status :</b></span>
                                    <select class="form-control has-feedback" name="regtitle" id="da_status" ng-model="searchFilter.da_status">
                                        <option value="">All</option>
                                        <option ng-repeat="status in dispatchStatuses"
                                                data-ng-selected="" value="{{status.status_id}}">
                                            {{status.status_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12">

                                <!-- ORDER DATE -->
                                <div id="orderDate">
                                    <div>
                                        <div class="input-group col-md-6 col-xs-12" style="float: left; padding-right: 2px; padding-top: 5px;">
                                            <span class="input-group-addon"><b>Order Date :</b></span>
                                            <adm-dtp ng-model="searchFilter.da_created_date.from" full-data="searchFilter.da_created_date.from_detail" maxdate="{{searchFilter.orderdate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                     multiple: false, transition:false}' style="    background-color: #ffffff">
                                            </adm-dtp>
                                        </div>

                                        <div class="input-group col-md-6 col-xs-12" style="padding-left: 2px; padding-top: 5px; ">
                                            <span class="input-group-addon"><b>to:</b></span>
                                            <adm-dtp ng-model="searchFilter.da_created_date.to" full-data="searchFilter.da_created_date.to_detail" mindate="{{searchFilter.orderdate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                     multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>
                                    </div>


                                    <!-- BUTTONS -->
                                    <div class="text-center pull-right" style="margin-top: 2%;">
                                        <button class="btn btn-sm btn-default" ng-hide="1" type="button" ng-click="showMoreOptions = !showMoreOptions">
                                        <span  ng-show="!showMoreOptions" style="font-size: 1.15em;"><b>Expand search options</b> <span
                                                class="glyphicon glyphicon-collapse-down"></span></span>
                                        <span ng-show="showMoreOptions" style="font-size: 1.15em;"><b>Hide search options</b> <span
                                                class="glyphicon glyphicon-collapse-up"></span></span>
                                        </button>
                                        <button class="btn btn-sm btn-primary" type="button" ng-click="clearFilter();">
                                            <b style="font-size: 1.15em;">Clear</b> <span
                                                class="glyphicon glyphicon-refresh"></span></button>
                                        <button type="button" class="btn btn-sm btn-success" ng-click="updateDispatches();">
                                            <b style="font-size: 1.15em;">Search</b>
                                            <span class="glyphicon glyphicon-search"></span></button>
                                    </div>

                                </div>
                            </div>

                            <!------ SHOW MORE ------->
                            <div id="dispatch_filter_options" class="col-xs-12 top-20" uib-collapse="!showMoreOptions">
                                <div class="col-xs-12 col-md-6">
                                    <div class="input-group dispatch-filter-input">
                                        <span class="input-group-addon"><b>Dispatch Number : </b></span>
                                        <input ng-model="searchFilter.da_ref" type="text" class="form-control" id="da_ref" aria-describedby="basic-addon3">
                                    </div>

                                    <div class="input-group dispatch-filter-input">
                                        <span class="input-group-addon"><b>Email :</b></span>
                                        <input ng-model="searchFilter.da_delivery_email" type="text" class="form-control" id="da_delivery_email" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="input-group dispatch-filter-input">
                                        <span class="input-group-addon"><b>Tracking Reference : </b></span>
                                        <input ng-model="searchFilter.trackingref" type="text" class="form-control" id="trackingref" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="input-group dispatch-filter-input">
                                        <span class="input-group-addon"><b>Carrier :</b></span>
                                        <input ng-model="searchFilter.carrier" type="text" class="form-control" id="carrier" aria-describedby="basic-addon3">
                                    </div>
                                </div>


                                <div class="col-xs-12 col-md-6">

                                    <!-- CREATED -->
                                    <div class="">
                                        <div class="input-group col-md-6 col-xs-12" style="float: left; padding-right: 2px; padding-top: 5px;">
                                            <span class="input-group-addon"><b>Created Date :</b></span>
                                            <adm-dtp ng-model="searchFilter.createddate.from" full-data="searchFilter.createddate.from_detail" maxdate="{{searchFilter.createddate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>


                                        <div class="input-group col-md-6 col-xs-12" style="padding-left: 2px; padding-top: 5px; ">
                                            <span class="input-group-addon"><b>to:</b></span>
                                            <adm-dtp ng-model="searchFilter.createddate.to" full-data="searchFilter.createddate.to_detail" mindate="{{searchFilter.createddate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>
                                    </div>



                                    <!-- DISPATCHED -->
                                    <div class="">
                                        <div class="input-group col-md-6 col-xs-12" style="float: left; padding-right: 2px; padding-top: 7px;">
                                            <span class="input-group-addon"><b>Dispatched:</b></span>
                                            <adm-dtp ng-model="searchFilter.dispatcheddate.from" full-data="searchFilter.dispatcheddate.from_detail" maxdate="{{searchFilter.dispatcheddate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>


                                        <div class="input-group col-md-6 col-xs-12" style="padding-left: 2px; padding-top: 7px; ">
                                            <span class="input-group-addon"><b>to:</b></span>
                                            <adm-dtp ng-model="searchFilter.dispatcheddate.to" full-data="searchFilter.dispatcheddate.to_detail" mindate="{{searchFilter.dispatcheddate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>
                                    </div>




                                    <!-- PICKED -->
                                    <div class="">
                                        <div class="input-group col-md-6 col-xs-12" style="float: left; padding-right: 2px; padding-top: 7px;">
                                            <span class="input-group-addon"><b>Picked Date :</b></span>
                                            <adm-dtp ng-model="searchFilter.pickeddate.from" full-data="searchFilter.pickeddate.from_detail" maxdate="{{searchFilter.pickeddate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>


                                        <div class="input-group col-md-6 col-xs-12" style="padding-left: 2px; padding-top: 7px; ">
                                            <span class="input-group-addon"><b>to:</b></span>
                                            <adm-dtp ng-model="searchFilter.pickeddate.to" full-data="searchFilter.pickeddate.to_detail" mindate="{{searchFilter.pickeddate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>
                                    </div>



                                    <!-- REQUIRED -->

                                    <div class="">
                                        <div class="input-group col-md-6 col-xs-12" style="float: left; padding-right: 2px; padding-top: 7px;">
                                            <span class="input-group-addon"><b>Required Date :</b></span>
                                            <adm-dtp ng-model="searchFilter.requireddate.from" full-data="searchFilter.requireddate.from_detail" maxdate="{{searchFilter.requireddate.to_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>


                                        <div class="input-group col-md-6 col-xs-12" style="padding-left: 2px; padding-top: 7px; ">
                                            <span class="input-group-addon"><b>to:</b></span>
                                            <adm-dtp ng-model="searchFilter.requireddate.to" full-data="searchFilter.requireddate.to_detail" mindate="{{searchFilter.requireddate.from_detail.unix}}" options='{calType: "gregorian", format: "YYYY-MM-DD", autoClose: true,
                                                 multiple: false, transition:false}'>
                                            </adm-dtp>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div>
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <thead class="small">
                            <tr>
                                <th>Dispatch No.</th>
                                <th>Order Number</th>
                                <th>School ID</th>
                                <th>Order Date</th>
                                <th>Despatched</th>
                                <th>Status</th>
                                <th>Deliver To</th>
                                <th>Post Code</th>
                                <!--<th class="">Phone</th>-->
                                <th class="text-center">Email</th>
                                <th>Carrier</th>
                                <th>Tracking Ref.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dispatch in dispatchesData">
                                <td><a data-ng-click="showModal('dispatchInfo','lg',{ 'options': dispatch});" style="cursor: pointer;"><b>{{ dispatch.da_ref}}</b></a></td>
                                <td>{{ dispatch.da_cust_ref }}</td>
                                <td>{{ dispatch.da_school_id }}</td>
                                <td class="text-center">{{dispatch.da_created_date}}</td>
                                <td class="text-center">{{ dispatch.da_despatched}}</td>
                                <td>{{ dispatch.da_status_name }}</td>
                                <td>{{ dispatch.da_delivery_name }}</td>
                                <td>{{ dispatch.da_delivery_pcode }}</td>
                                <!--<td class="text-center">-</td>-->
                                <td>{{ dispatch.da_delivery_email }}</td>
                                <td>{{ dispatch.da_courier }}</td>
                                <td>{{ dispatch.da_courier_ref }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row top-20 text-center">
                <div class="col-xs-12">
                    <uib-pagination total-items="dispatches.total" ng-model="dispatches.page" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="25" rotate="false" num-pages="numPages" ng-change="activePageChanged(dispatches.page)"></uib-pagination>
                </div>
            </div>
        </uib-tab>

        <!----------------------->
        <!------- DEMANDS ------->
        <!----------------------->
        <!--ng-hide="session.user.user_type_id == 3 || session.user.user_type_id == 5"-->
        <uib-tab data-ng-click="loadDemandScope();" ng-cloak="">
            <uib-tab-heading>Demands</uib-tab-heading>


            <div class="chart-container">
                <div class="loading loading-center" ng-if="loading"></div>
                <iframe ng-hide="loading" id="demands-chart" class="chart" width="1320px" height="760px" src="https://onedrive.live.com/embed?cid=893130C3FFC28710&resid=893130C3FFC28710%21283&authkey=AC13kYM24scLNhs&em=2&wdAllowInteractivity=False&AllowTyping=True&Item='Capacity%20Vs%20Demand%20-%20Table%201'!D58%3AZ80&wdHideGridlines=True"
                    frameborder="0" allowfullscreen></iframe>
            </div>

            <!--<div class="top-20 ">

                <div class="loading " ng-show="loading " style="position:absolute; right:25%; "></div>
            </div>

            <div ng-hide="loading ">
                <button class="btn btn-sm btn-primary hidden-xs " ng-click="switchSize=! switchSize; "><b>Change graph size </b> <span style="padding-left:5px; " class="glyphicon glyphicon-retweet "></span></button>
                <div ng-hide="switchSize ">
                    <div class="row "></div>
                    <br>
                    <div class="text-center col-xs-12 col-md-6 ">
                        <div zingchart class="graphWrapper " id="tescoChart14 " zc-json="tescoChart1 " zc-width="100% " zc-height="568px "></div>
                    </div>
                    <div class="text-center col-xs-12 col-md-6 ">
                        <div zingchart class="graphWrapper " id="tescoChart24 " zc-json="tescoChart2 " zc-width="100% " zc-height="568px "></div>
                    </div>
                    <div class="row "></div>
                    <br>
                    <div class="text-center col-xs-12 col-md-6 ">
                        <div zingchart class="graphWrapper " id="tescoChart34 " zc-json="tescoChart3 " zc-width="100% " zc-height="568px "></div>
                    </div>
                    <div class="text-center col-xs-12 col-md-6 ">
                        <div zingchart class="graphWrapper " id="tescoChart44 " zc-json="tescoChart4 " zc-width="100% " zc-height="568px "></div>
                    </div>
                </div>
                <div ng-hide="!switchSize ">
                    <div class="row "></div>
                    <br>
                    <div class="text-center col-xs-12 ">
                        <div zingchart class="graphWrapper " id="tescoChart1 " zc-json="tescoChart1 " zc-width="100% " zc-height="568px "></div>
                    </div>
                    <div class="row "></div>
                    <br>
                    <div class="text-center col-xs-12 ">
                        <div zingchart class="graphWrapper " id="tescoChart2 " zc-json="tescoChart2 " zc-width="100% " zc-height="568px "></div>
                    </div>
                    <div class="row "></div>
                    <br>
                    <div class="text-center col-xs-12 ">
                        <div zingchart class="graphWrapper " id="tescoChart3 " zc-json="tescoChart3 " zc-width="100% " zc-height="568px "></div>
                    </div>
                    <div class="row "></div>
                    <br>
                    <div class="text-center col-xs-12 ">
                        <div zingchart class="graphWrapper " id="tescoChart4 " zc-json="tescoChart4 " zc-width="100% " zc-height="568px "></div>
                    </div>
                </div>
            </div>-->


            <!--<div uib-collapse="switchSize " class="text-center col-xs-12 col-md-6 ">-->
            <!--<div zingchart id="tescoChart14 " zc-json="tescoChart1 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->
            <!--<div  uib-collapse="switchSize " class="text-center col-xs-12 col-md-6 ">-->
            <!--<div zingchart id="tescoChart24 " zc-json="tescoChart2 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->
            <!--<div uib-collapse="switchSize " class="text-center col-xs-12 col-md-6 ">-->
            <!--<div zingchart id="tescoChart34 " zc-json="tescoChart3 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->
            <!--<div  uib-collapse="switchSize " class="text-center col-xs-12 col-md-6 ">-->
            <!--<div zingchart id="tescoChart44 " zc-json="tescoChart4 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->

            <!--<div uib-collapse="!switchSize " class="text-center col-xs-12 ">-->
            <!--<div zingchart id="tescoChart1 " zc-json="tescoChart1 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->
            <!--<div uib-collapse="!switchSize " class="text-center col-xs-12 ">-->
            <!--<div zingchart id="tescoChart2 " zc-json="tescoChart2 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->
            <!--<div uib-collapse="!switchSize " class="text-center col-xs-12 ">-->
            <!--<div zingchart id="tescoChart3 " zc-json="tescoChart3 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->
            <!--<div  uib-collapse="!switchSize " class="text-center col-xs-12 ">-->
            <!--<div zingchart id="tescoChart4 " zc-json="tescoChart4 " zc-width="100% " zc-height="568px "></div>-->
            <!--</div>-->


</div>


</uib-tab>

</uib-tabset>
</div>