<script src="app/controllers/schoolsController.js"></script>
<div ng-Controller='SchoolsController' ng-cloak>
    <h1 ng-cloak>Schools</h1>
    <uib-tabset justified="false" ng-cloak>
        <uib-tab>
            <uib-tab-heading>Schools</span>
            </uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-3">
                        <button class="btn btn-default btn-sm" uib-tooltip="Add School/Club" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </div>
                    <div class="col-sm-offset-3 col-xs-6">
                        <div class="input-group">
                            <input type="text" placeholder="School filter" id="schoolfilter" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th></th>
                                <th>School ID</th>
                                <th>School Name</th>
                                <th>Registered At</th>
                                <th>Uniform</th>
                                <th>Uniform Actions</th>
                                <th>Payments</th>
                                <th>Payment Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="school in schools">
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row top-20 text-center">
                <div class="col-xs-12">
                    <uib-pagination
                            total-items="bigTotalItems"
                            ng-model="bigCurrentPage"
                            max-size="maxSize"
                            class="pagination-sm"
                            boundary-links="true"
                            rotate="false"
                            num-pages="numPages" ></uib-pagination>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>Linked</span>
            </uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <div class="input-group">
                            <input type="text" placeholder="School filter" id="emailfilter" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>School IDs</th>
                                <th>School Count</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="school in schools">
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                                <td>{{ school.test }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-offset-10 col-xs-2 text-right">
                        <button class="btn btn-primary btn-sm" uib-tooltip="Export CSV" tooltip-trigger="mouseenter" tooltip-placement="bottom" ><span class="glyphicon glyphicon-floppy-save"></span></button>
                    </div>
                </div>
                <div class="row top-20 text-center">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="bigTotalItems"
                                ng-model="bigCurrentPage"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                rotate="false"
                                num-pages="numPages" ></uib-pagination>

                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
