<script src="app/controllers/adminOrganizationController.js"></script>
<div ng-Controller='AdminOrgController' ng-cloak>
    <div class="clearfix">
        <h1 ng-cloak class="clearfix"><span class="pull-left">
            <img style="width:40px;padding:3px" ng-style="{backgroundColor: 'rgb('+orgdetail.primary_background_colour+')'}" ng-src="{{ orgdetail.logo_url + '?' +  orgdetail.logo_last_updated  }}" ng-show="orgdetail.logo_url"> {{ orgdetail.full_title_name }}<br>└──  <span style="font-size:25px;"> {{ orgdetail.full_title_name_sub == null ? 'Organizational Root' :orgdetail.full_title_name_sub}}</span>   </span><bR>  <span class="pull-right">({{orgdetail.school_URN}})</span>           <span ng-class="orgdetail.school_status_class" class="pull-right">{{orgdetail.school_status_name}}</span></h1>
        <div class="help" ng-show="orgdetail.organization_status_id >= 7">
            <b><span ng-hide="orgdetail.organization_status_id == '8'">Withdrawn </span><span ng-hide="orgdetail.organization_status_id == 7">Suspended </span>reason: </b> {{orgdetail.organization_withdrawn_suspended_reason}}
        </div>
    </div>
    <div class="messages" ng-show="messages">
        <div class="messages-container">
            <div ng-repeat="message in messages track by $index" class="alert alert-{{message.type}} messageStack">{{message.message}}
            </div>
        </div>
    </div>

    <uib-tabset active="active" justified="false" ng-cloak>
        <uib-tab index="0">
            <uib-tab-heading>Organization Detail
            </uib-tab-heading>
            <div class="top-20 clearfix">
                <div class="col-xs-6">

                    <form name="form.updateOrgForm" class="form" role="form" method="post" action="" ng-cloak>
                        <h3>Overview</h3>
                        <div class="form-group">
                            <label for="orgurn">{{ typetitle }} ID</label>
                            <input type="text" class="form-control input-sm" name="orgurn" id="orgurn" autocomplete="off" ng-model="orgdetail.school_URN" readonly>
                        </div>

                        <div class="form-group">
                            <label for="orgtype">Account Type</label>
                            <select class="form-control input-sm has-feedback" name="orgtype" id="orgtype" ng-model="orgdetail.organization_type_id" required ng-change="changedValue(orgdetail.organization_type_id)" required>
                                <option value="">Please Select</option>
                                <option ng-repeat="formElement in formElements.types"
                                        ng-selected="formElement.id == formdata.orgtype"
                                        value="{{formElement.id}}">
                                    {{formElement.title}}
                                </option>
                            </select>
                            <span class="help" ng-show="form.updateOrgForm.orgtype.$invalid && !form.updateOrgForm.orgtype.$pristine"> Please choose an organization type. </span>
                        </div>


                        <div class="form-group">
                            <div class="form-group">
                                <label ng-show="orgdetail.organization_type_id == 1" for="orglea">{{ typetitle }} LEA</label>
                                <label ng-hide="orgdetail.organization_type_id == 1" for="orglea">{{ typetitle }} Area</label>
                                <select class="form-control has-feedback input-sm" name="orglea" id="orglea" ng-model="orgdetail.school_local_authority_id" ng-required="orgdetail.organization_type_id == 1">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="formElement in formElements.leas"
                                                ng-selected="formElement.id == orgdetail.school_local_authority_id"
                                                value="{{formElement.id}}">
                                            {{formElement.title}}
                                        </option>
                                    </select>
                                <span class="help" ng-show="form.updateOrgForm.orglea.$invalid && !form.updateOrgForm.orglea.$pristine"> Please chose a local education authority for your school.  </span>
                            </div>
                            <div class="form-group" ng-show="orgdetail.organization_type_id == 1">
                                <label for="orglea">School Education Phase</label>
                                <select class="form-control has-feedback input-sm" name="orgphase" id="orgphase" ng-model="orgdetail.school_education_phase_id" ng-required="orgdetail.organization_type_id == 1">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="formElement in formElements.phases"
                                                ng-selected="formElement.id == orgdetail.school_education_phase_id"
                                                value="{{formElement.id}}">
                                            {{formElement.title}}
                                        </option>
                                    </select>
                                <span class="help" ng-show="form.updateOrgForm.orgphase.$invalid && !form.updateOrgForm.orgphase.$pristine"> Please chose an education phase for your school. </span>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="orgname">{{ typetitle }} Name</label>
                            <input required type="text" class="form-control has-feedback input-sm" name="orgname" id="orgname" autocomplete="off" value="" placeholder="My School/Club/Group" ng-model="orgdetail.organization_name">
                            <span class="help" ng-show="form.updateOrgForm.orgname.$invalid && !form.updateOrgForm.orgname.$pristine"> Organization name is required. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgurl">{{ typetitle }} Home page</label>
                            <input type="url" class="form-control has-feedback input-sm" name="orgurl" id="orgurl" autocomplete="off" value="" ng-model="orgdetail.organization_url" placeholder="http://www.myorgsite.org.uk">
                            <span class="help" ng-show="form.updateOrgForm.orgurl.$invalid && !form.updateOrgForm.orgurl.$pristine"> Must be a valid URL. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgurl">{{ typetitle }} Oracle ID</label>
                            <input type="text" class="form-control has-feedback input-sm" name="oracleid" id="oracleid" autocomplete="off" value="" ng-model="orgdetail.organization_oracle_id" placeholder="5234655">
                            <span class="help" ng-show="form.updateOrgForm.oracleid.$invalid && !form.updateOrgForm.oracleid.$pristine"> Must be a valid Oracle ID. </span>
                        </div>

                        <h3>Details</h3>

                        <div class="form-group">
                            <label for="orgmembercount">Number of {{ typemembernoun }}</label>
                            <input type="number" class="form-control has-feedback input-sm" name="orgmembercount" id="orgmembercount" autocomplete="off" value="1" min="1" ng-model="orgdetail.organization_member_count" required>
                            <span class="help" ng-show="form.updateOrgForm.orgmembercount.$invalid && !form.updateOrgForm.orgmembercount.$pristine"> Member count must be a number </span>
                        </div>

                        <div class="form-group">
                            <label for="orgwelcomepacks">Number of Welcome Packs to send</label>
                            <input type="number" class="form-control has-feedback input-sm" name="orgwelcomepacks" id="orgwelcomepacks" autocomplete="off" value="1" min="0" max="10" ng-model="orgdetail.organization_welcome_pack" required>
                            <span class="help" ng-show="form.updateOrgForm.orgwelcomepacks.$invalid && !form.updateOrgForm.orgwelcomepacks.$pristine"> Welcome packs must be a number </span>
                        </div>

                        <div class="form-group">
                            <label for="orgtelephone">Phone Number</label>
                            <input type="text" class="form-control has-feedback" name="orgtelephone" id="orgtelephone" autocomplete="off" value="" ng-model="orgdetail.organization_telephone" placeholder="0000 0000 000" pattern="[0-9 ()+-]*" required>
                            <span class="help" ng-show="form.updateOrgForm.orgtelephone.$invalid && !form.updateOrgForm.orgtelephone.$pristine"> Please enter a phone number. </span>
                        </div>
                        <span class="help" ng-show="form.updateOrgForm.orgcountry.$invalid && !form.updateOrgForm.orgcountry.$pristine"> Please enter a country. </span>

                        <h3>Address</h3>
                        <input type="hidden" name="address_id" id="address_id" value="" ng-model="orgdetail.address_id">
                        <div class="form-group">
                            <label for="orgaddress1">{{ typetitle }} Address</label>
                            <input type="text" class="form-control has-feedback" name="orgaddress1" id="orgaddress1" autocomplete="off" value="" ng-model="orgdetail.entry_street_address" placeholder="First Line" required>
                            <input type="text" class="form-control has-feedback" name="orgaddress2" id="orgaddress2" autocomplete="off" value="" ng-model="orgdetail.entry_street_address_2" placeholder="Second line">
                            <input type="text" class="form-control has-feedback" name="orgaddress3" id="orgaddress3" autocomplete="off" value="" ng-model="orgdetail.entry_suburb" placeholder="Third line">
                            <span class="help" ng-show="form.updateOrgForm.orgaddress1.$invalid && !form.updateOrgForm.orgaddress1.$pristine"> You must have at least one address line. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgtown">Town</label>
                            <input type="text" class="form-control has-feedback" name="orgtown" id="orgtown" autocomplete="off" value="" ng-model="orgdetail.entry_city" placeholder="Town Name" required>
                            <span class="help" ng-show="form.updateOrgForm.orgtown.$invalid && !form.updateOrgForm.orgtown.$pristine"> Please enter a town. </span>
                        </div>
                        <div class="form-group">
                            <label for="orgcounty">County</label>
                            <input type="text" class="form-control has-feedback" name="orgcounty" id="orgcounty" autocomplete="off" value="" ng-model="orgdetail.entry_state" placeholder="County Name" required>
                            <span class="help" ng-show="form.updateOrgForm.orgcounty.$invalid && !form.updateOrgForm.orgcounty.$pristine"> Please enter a county. </span>
                        </div>
                        <div class="form-group">
                            <label for="orgpostcode">Post Code</label>
                            <input type="text" class="form-control has-feedback" name="orgpostcode" id="orgpostcode" autocomplete="off" value="" ng-model="orgdetail.entry_postcode" placeholder="AL10 9SN" required>
                            <span class="help" ng-show="form.updateOrgForm.orgpostcode.$invalid && !form.updateOrgForm.orgpostcode.$pristine"> Please enter a post code. </span>
                        </div>
                        <div class="form-group">
                            <label for="orgcountry">Country</label>
                            <select class="form-control has-feedback" name="orgcountry" id="orgcountry" ng-model="orgdetail.entry_country_id" required>
                                <option value="">Please Select</option>
                                <option ng-repeat="formElement in formElements.countries"
                                        ng-selected="formElement.id == formdata.orgcountry"
                                        value="{{formElement.id}}">
                                    {{formElement.title}}
                                </option>
                            </select>
                            <span class="help" ng-show="form.updateOrgForm.orgcountry.$invalid && !form.updateOrgForm.orgcountry.$pristine"> Please enter a country. </span>
                        </div>

                        <div class="row text-center">
                            <div class="form-group">
                                <button id="submit" name="submit" type="button" value="Send" class="btn btn-primary" ng-disabled="!form.updateOrgForm.$valid || form.updateOrgForm.$pristine" ng-click="sendupdate('org')" ng-hide="session.user.user_type_id == 5">
                                    Save Changes <span class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>
                        </div>

                    </form>

                    <div ng-hide="session.user.user_type_id == 5">
                        <h3>Bank Details</h3>
                        <div ng-show="!orgdetail.organization_bank_account_id" class="row alert alert-danger">No bank details have been entered.</div>
                        <div class="row">

                            <div class="col-xs-12">
                                <form name="form.bankDetailsForm" class="form" role="form" method="post" ng-cloak>
                                    <div class="col-xs-12">
                                        <fieldset class="form-group">
                                            <label for="accountName">Account Name</label>
                                            <input ng-maxlength="18" maxlength="18" required type="text" class="form-control" name="accountName" id="accountName" placeholder="My School Bank Account" ng-model="orgdetail.organization_bank_name" uib-tooltip="NOTE: Account name must only contain up to 18 valid BACS characters."
                                                tooltip-placement="bottom-left" tooltip-trigger="mouseenter" tooltip-enable="!schoolBankDataAccount">
                                            <span class="help" ng-show="form.bankDetailsForm.accountName.$invalid && !form.bankDetailsForm.accountName.$pristine && !form.bankDetailsForm.accountName.$error.maxlength "> Please enter an account name. </span>
                                            <span class="help" ng-show="form.ankDetailsForm.accountName.$error.maxlength "> Account name must only contain up to 18 valid BACS characters. </span>
                                        </fieldset>
                                    </div>
                                    <div class="col-xs-12">
                                        <fieldset class="form-group">
                                            <label for="accountNumber">Account Number</label>
                                            <input required type="text" ng-pattern="onlyNumbers" minlength='8' maxlength="8" class="form-control" id="accountNumber" name='accountNumber' ng-model="orgdetail.organization_bank_account" placeholder="12345678">

                                            <span class="help" ng-show="form.bankDetailsForm.accountNumber.$invalid && !form.bankDetailsForm.accountNumber.$pristine && !form.bankDetailsForm.accountNumber.$error.pattern"> Please enter a 8 digits account number. </span>
                                            <span class="help" ng-show="form.bankDetailsForm.accountNumber.$error.pattern"> Can contain numbers only. </span>
                                        </fieldset>
                                    </div>

                                    <div class="col-xs-12">
                                        <fieldset class="form-group">
                                            <label for="sortCode0">Sort Code</label>
                                            <div class="form-inline">
                                                <input ng-pattern="onlyNumbers" ng-model='orgdetail.organization_bank_sort_code_1' required minlength='2' maxlength='2' type="text" class="form-control has-feedback" name="sortCode0" id="sortCode0" value="" style="width: 42px;" placeholder="00">                                                :
                                                <input ng-pattern="onlyNumbers" ng-model='orgdetail.organization_bank_sort_code_2' required minlength="2" maxlength="2" type="text" class="form-control has-feedback" name="sortCode1" id="sortCode1" value="" style="width: 42px;" placeholder="00">                                                :
                                                <input ng-pattern="onlyNumbers" ng-model='orgdetail.organization_bank_sort_code_3' required minlength="2" maxlength="2" type="text" class="form-control has-feedback" name="sortCode2" id="sortCode2" value="" style="width: 42px;" placeholder="00">&nbsp;
                                                <span class="help-left" ng-show="form.bankDetailsForm.sortCode0.$invalid && !form.bankDetailsForm.sortCode0.$pristine && form.bankDetailsForm.sortCode0.$error.pattern || form.bankDetailsForm.sortCode1.$invalid && !form.bankDetailsForm.sortCode1.$pristine && form.bankDetailsForm.sortCode1.$error.pattern || form.bankDetailsForm.sortCode2.$invalid && !form.bankDetailsForm.sortCode2.$pristine && form.bankDetailsForm.sortCode2.$error.pattern"> Please enter a valid sort code</span>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <button role="button" class="btn btn-primary" ng-disabled="!form.bankDetailsForm.$valid || form.bankDetailsForm.$pristine" ng-click="registerBank()" ng-hide="session.user.user_type_id == 5">
                                                Save Changes
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">

                    <h3>Form Status</h3>
                    <div ng-show="orgdetail.organization_form_signed == '1'">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Form received: </b> {{orgdetail.organization_form_date}}</td>
                                    <td align="right">
                                        <div class="btn-group" ng-hide="session.user.user_type_id == 5">
                                            <button style="margin:1px;border-radius:0px;" class="btn btn-sm btn-success" ng-show="orgdetail.organization_status_id >= 7" uib-tooltip="Re-instate organization" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="reinstateConfirm(orgdetail)"><span class="glyphicon glyphicon-share"></span></button>
                                            <button style="margin:1px;border-radius:0px;" class="btn btn-sm btn-warning" ng-hide="orgdetail.organization_status_id == '7' || orgdetail.organization_status_id == '8'" uib-tooltip="Suspend organization" tooltip-trigger="mouseenter" tooltip-placement="bottom"
                                                ng-click="showModal('suspendConfirm','md',{ 'user': user});"><span class="glyphicon glyphicon-pushpin"></span></button>
                                            <button style="margin:1px;border-radius:0px;" class="btn btn-sm btn-danger" ng-hide="orgdetail.organization_status_id == 7" uib-tooltip="Withdraw organization" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('withdrawConfirm','md',{ 'user': user});"><span class="glyphicon glyphicon-fire"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-hide="orgdetail.organization_form_signed == '1'">
                        <div class="col-xs-6">
                            Form has not yet been signed.
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="btn-group" ng-hide="session.user.user_type_id == 5">
                                <button style="border-radius:0px;" class="btn btn-sm btn-success" ng-show="orgdetail.organization_status_id >= 7" uib-tooltip="Re-instate organization" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="reinstateConfirm(orgdetail)"><span class="glyphicon glyphicon-share"></span></button>
                                <button class="btn btn-primary btn-sm" uib-tooltip="Form Received" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('formProcess','sm',{ 'user': user});"><span class="glyphicon glyphicon-file"></span></button>
                                <button class="btn btn-sm btn-danger" ng-hide="orgdetail.organization_status_id == 7" uib-tooltip="Withdraw organization" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('withdrawConfirm','md',{ 'user': user});"><span class="glyphicon glyphicon-fire"></span></button>
                            </div>
                        </div>
                    </div>

                    <h3>Users</h3>
                    <table class="table table-striped small table-responsive">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Name</th>
                                <th style="width: 30%">Email</th>
                                <th class="text-right" ng-hide="session.user.user_type_id == 5">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in usersdetail">
                                <td style="padding:0px; vertical-align: middle;" ng-style="user.user_primary == 1 && {'font-weight': 'bold'}">{{user.user_first_name}} {{user.user_last_name}}</td>
                                <td class="col-md-1" style="padding:0px; vertical-align: middle;" ng-style="user.user_primary == 1 && {'font-weight': 'bold'}">{{user.user_email}}</td>
                                <hr>
                                <td ng-hide="session.user.user_type_id == 5" class="text-right" style="display:block;">
                                    <div class="btn-group">
                                        <div>
                                            <!-- ng-disabled="user.user_primary == 1" -->
                                            <button style="margin:1px;border-radius:0px;" ng-click="showModal('userEdit','md',{ 'user': user });" class="btn btn-sm" uib-tooltip="Edit user" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-pencil"></span></button>
                                            <button style="margin:1px;border-radius:0px;" ng-hide="session.user.user_type_id != 3" class="btn btn-sm" uib-tooltip="Reset Password" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="resetPassword(user)"><span class="glyphicon glyphicon-lock"></span></button>
                                            <button style="margin:1px;border-radius:0px;" ng-disabled="user.user_primary == 1" ng-click="showModal('makeUserPrimary','md',{ 'user': user, 'org': orgdetail});" class="btn btn-info btn-sm"
                                                tooltip-placement="bottom"><span class="glyphicon glyphicon-user"></span></button>
                                            <button style="margin:1px;border-radius:0px;" ng-disabled="user.user_primary == 1" ng-click="showModal('deleteUser','md',{ 'user': user, 'org': orgdetail});" class="btn btn-danger btn-sm" uib-tooltip="Delete user" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                    <div ng-hide="session.user.user_type_id == 5">
                        <button ng-click="showModal('userAdd','lg',{ 'org': orgdetail })" class="btn btn-primary btn-sm pull-right" >
                            <span style='padding-right: 7px;' class="glyphicon glyphicon-plus-sign"></span> Add user
                        </button>&nbsp;
                        <a href="#/orginfo/{{ orgdetail.organization_parent_organization_id }}" ng-show="orgdetail.organization_parent_organization_id">
                            <button class="btn btn-warning btn-sm pull-left" role="button" type="button">
                                <span style='padding-right: 7px;' class="glyphicon glyphicon-backward"></span> Back to parent
                            </button>
                        </a>
                    </div>
                    </div>
                    <hr>
                    <h3>Houses</h3>
                    <h4 ng-hide="housedetail.length">User has no houses.</h4>
                    <table ng-show="housedetail.length" class="table table-striped small">
                        <thead>
                            <tr>
                                <th>Expand</th>
                                <th>House Name</th>
                                <th class="text-right" ng-hide="session.user.user_type_id == 5">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="house in housedetail">
                                <td><a href="#/orginfo/{{house.organization_id}}">Expand {{house.school_URN}}</a> </td>
                                <td>{{house.organization_name}}</td>
                                <td ng-hide="session.user.user_type_id == 5" class="text-right">
                                    <div class="btn-group">
                                        <button style="margin:1px;border-radius:0px;" ng-click="showModal('houseEdit','md',{ 'house': house});" ng-hide="session.user.user_type_id != 3 || orgdetail.organization_parent_organization_id" class="btn btn-sm" uib-tooltip="Edit house" tooltip-trigger="mouseenter"
                                            tooltip-placement="bottom"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button style="margin:1px;border-radius:0;" ng-click="showModal('deleteHouse','md',{ 'house': house});" ng-hide="session.user.user_type_id != 3 || orgdetail.organization_parent_organization_id" class="btn btn-danger btn-sm" uib-tooltip="Delete house"
                                            tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="clearfix">
                        <button ng-hide="session.user.user_type_id == 5" ng-click="showModal('addHouse','md',{ 'emblem': emblem })" class="btn btn-primary btn-sm pull-right">
                            <span style='padding-right: 7px;' class="glyphicon glyphicon-plus-sign"></span> Add house
                        </button>
                        <a href="#/orginfo/{{ orgdetail.organization_parent_organization_id }}" ng-show="orgdetail.organization_parent_organization_id">
                            <button class="btn btn-warning btn-sm pull-left" role="button" type="button">
                                <span style='padding-right: 7px;' class="glyphicon glyphicon-backward"></span> Back to parent
                            </button>
                        </a>
                    </div>
                    <h3>Emblems</h3>
                    <h4 ng-hide="emblemdetail.length">User has no emblems.</h4>
                    <table ng-show="emblemdetail.length" class="table table-striped small">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Name</th>
                                <th>Approved</th>
                                <th>Products Using</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="emblem in emblemdetail">
                                <td><img style="width:40px;padding:3px" ng-style="{backgroundColor: 'rgb('+emblem.primary_background_colour+')'}" ng-src="{{ emblem.logo_url + '?' +  emblem.logo_last_updated }}" ng-show="emblem.logo_url"></td>
                                <td>{{emblem.tesco_style_ref}}</td>
                                <td>
                                    <span class='glyphicon glyphicon-ok' ng-show="emblem.logo_approved == '1'"></span>
                                    <span class='glyphicon glyphicon-remove' ng-hide="emblem.logo_approved == '1'"></span>
                                </td>
                                <td>{{emblem.products_using_logo}}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button style="margin:1px;border-radius:0px;" ng-hide="emblem.logo_approved == '1' || emblem.logo_sampled == '1' || session.user.user_type_id == 5" ng-disabled="emblem.needs_ebos_update == '1' || emblem.needs_to_update_ebos == '1' || emblem.needs_ebos_update != '0'"
                                            class="btn btn-sm btn-primary" uib-tooltip="Upload design" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('uploadDesign','md',{ 'emblem': emblem })"><span class="glyphicon glyphicon-open-file"></span></button>
                                        <button style="margin:1px;border-radius:0px;" ng-hide="emblem.logo_approved == '1' || emblem.logo_sampled == '1' || session.user.user_type_id == 5" ng-disabled="emblem.needs_ebos_update == '1' || emblem.needs_to_update_ebos == '1' || emblem.needs_ebos_update != '0'"
                                                class="btn btn-sm btn-warning" uib-tooltip="Send Sample" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('sendSample','md',{ 'emblem': emblem })"><span class="glyphicon glyphicon-send"></span></button>
                                        <button style="margin:1px;border-radius:0px;" class="btn btn-sm" uib-tooltip="View emblem" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('viewEmblem','md',{ 'emblem': emblem })"><span class="glyphicon glyphicon-picture"></span></button>
                                        <!--<button ng-hide="session.user.user_type_id != 3" disabled class="btn btn-sm" uib-tooltip="Edit emblem" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                        <button style="margin:1px;border-radius:0px;" ng-hide="session.user.user_type_id != 3" ng-disabled="emblem.products_using_logo > 0" class="btn btn-danger btn-sm" uib-tooltip="Delete emblem" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="showModal('deleteEmblem','md',{ 'emblem': emblem })"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="clearfix" ng-hide="session.user.user_type_id == 5">
                        <button style="margin:1px;" ng-click="showModal('addEmblem','md',{ 'emblem': emblem })" class="btn btn-primary btn-sm pull-right">
                            <span style='padding-right: 7px;' class="glyphicon glyphicon-plus-sign"></span> Add emblem
                        </button>
                    </div>
                    <span></span>
                    <!--<h3>Donations</h3>-->
                    <!--<h4 ng-hide="donationdetail.length">User has no donations.</h4>-->
                    <!--<table ng-show="donationdetail.length" class="table table-striped small">-->
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>Date</th>-->
                                <!--<th>Name</th>-->
                                <!--<th>Credit</th>-->
                                <!--<th>Debit</th>-->
                                <!--<th>Balance</th>-->
                            <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                            <!--<tr ng-repeat="donation in donationdetail | reverse">-->
                                <!--<td>{{donation.donation_display_date | date}}</td>-->
                                <!--<td>{{donation.donation_description}}</td>-->
                                <!--<td><span ng-show="donation.donation_paid == '0'">{{donation.donation_amount | currency:-->
                                    <!--'&pound;'}}</span></td>-->
                                <!--<td><span ng-show="donation.donation_paid == '1'">{{donation.donation_amount | abs | currency:-->
                                    <!--'&pound;'}}</span></td>-->
                                <!--<td>{{donation.donation_new_balance | currency: '&pound;'}}-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" ng-disabled="true">
            <uib-tab-heading>House Hierarchy
            </uib-tab-heading>
            <div>
                <div class="top-20">
                    <div class=" col-xs-6">
                        <h3>Organization Sub-Houses/Teams.</h3>
                        <p>Switch to house to add products.</p>
                     </div>
                    <div class=" col-xs-6"> <a href="#/orginfo/{{ orgdetail.organization_parent_organization_id }}" ng-show="orgdetail.organization_parent_organization_id" class="pull-right"><br>
                        <button class="btn btn-warning btn-sm pull-left" role="button" type="button">
                            <span style='padding-right: 7px;' class="glyphicon glyphicon-backward"></span> Back to parent
                        </button>
                    </a></div>
                </div>

                <div ng-show="orgdetail.organization_has_subunits == '0'">NO HOUSES DETECTED...</div>

                <table class="table  small" ng-hide="orgdetail.organization_has_subunits == '0'">
                    <thead>
                    <tr>
                        <th>Hierarchical Team Sub Structure</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subhouse in subhousedetail track by $index">
                        <td>
                            <p  ng-if = "subhouse.lev2.split(':')[0] != null"><a href="http://localhost/myclothing-admin/#/orginfo/{{subhouse.lev2.split(':')[1]}}">{{ subhousedetail[$index].lev2 == subhousedetail[$index+1].lev2 || subhousedetail[$index].lev2 == subhousedetail[$index-1].lev2  ? '' + subhouse.lev2.split(':')[0] : '' + subhouse.lev2.split(':')[0] }}</a></p>
                            <p  style="padding-left:{{ $index +10}}px;" ng-if = "subhouse.lev3.split(':')[0] != null">└──&nbsp;<a href="http://localhost/myclothing-admin/#/orginfo/{{subhouse.lev3.split(':')[1]}}">{{subhouse.lev3.split(':')[0]}}</a></p>
                            <p  style="padding-left:{{ $index +30}}px;" ng-if = "subhouse.lev4.split(':')[0] != null">└──&nbsp;<a href="http://localhost/myclothing-admin/#/orginfo/{{subhouse.lev4.split(':')[1]}}">{{subhouse.lev4.split(':')[0]}}</a></p>
                            <p  style="padding-left:{{ $index +50}}px;" ng-if = "subhouse.lev3.split(':')[0] != null"><a href="http://localhost/myclothing-admin/#/orginfo/{{subhouse.lev5.split(':')[1]}}">{{subhouse.lev5.split(':')[0]}}</a></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="2" ng-disabled="true" ng-click="getOrgProducts()">
            <uib-tab-heading>Products
            </uib-tab-heading>

                <div class="top-20">
                    <div class=" col-xs-6"><h3>Embroidered</h3></div>
                    <div class=" col-xs-6"> <a href="#/orginfo/{{ orgdetail.organization_parent_organization_id }}" ng-show="orgdetail.organization_parent_organization_id" class="pull-right"><br>
                        <button class="btn btn-warning btn-sm pull-left" role="button" type="button">
                            <span style='padding-right: 7px;' class="glyphicon glyphicon-backward"></span> Back to parent
                        </button>
                    </a></div>
                    <form name="form.addEmbForm" method="post">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th style="width:10%;min-width:75px;">Style</th>
                                <th style="width:10%;min-width:75px;">GMO ID</th>
                                <th>Name</th>
                                <th>Colour</th>
                                <th>Logo</th>
                                <th style="width:5%;min-width:50px;">Stock Holding</th>
                                <th class="text-right" ng-hide="session.user.user_type_id == 5">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in orgproducts | toArray:false | filter:productsearch.query">
                                <td><img style="width:40px;padding:3px" title="{{product.product_description}}" alt="{{product.colour.product_colour_style_ref}}" ng-src="{{ product.colour.product_colour_image_url }}" ng-show="product.colour.product_colour_image_url"></td>
                                <td>{{product.colour.product_colour_style_ref}}</td>
                                <td><a ng-if="product.colour.product_colour_gmo_ref" target="__blank__" ng-href="http://tesco.com/direct/rest/content/catalog/product/{{product.colour.product_colour_gmo_ref}}">{{product.colour.product_colour_gmo_ref}}</a></td>
                                <td>{{product.product_name}}</td>
                                <td> {{product.colour.colour_name}}</td>
                                <td><img style="width:40px;padding:3px" ng-style="{backgroundColor: 'rgb('+product.colour.colour_rgb+')'}" ng-src="{{ product.colour.logo_url  + '?' +  product.colour.logo_last_updated }}" alt="{{product.colour.tesco_style_ref}}"
                                         ng-show="product.colour.logo_url"> {{ product.colour.tesco_style_ref }}</td>
                                <td>{{product.colour.prd_qty}}</td>
                                <td ng-hide="session.user.user_type_id == 5" class="text-right">
                                    <div class="btn-group">
                                        <button ng-hide="session.user.user_type_id != 3" ng-click="deleteProductConfirm(product);" class="btn btn-danger btn-sm" uib-tooltip="Delete product" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-hide="session.user.user_type_id == 5">
                                <td><img style="width:40px;padding:3px" title="" alt="" ng-src="{{ selectedColourImage }}" ng-show="selectedColourImage"></td>
                                <td>
                                    {{ selectedColourStyle }}
                                </td>
                                <td>
                                    <a ng-if="selectedGMOStyle" ng-href="http://tesco.com/direct/rest/content/catalog/product/{{ selectedGMOStyle }}">{{ selectedGMOStyle }}</a>
                                </td>
                                <td colspan="">
                                    <select name="newProduct" id="newProduct" class="form-control" required ng-model="newproductData.productid">
                                        <option value="">Select Product</option>
                                        <option ng-repeat="newproduct in newproducts" value="{{ newproduct.product_id }}">{{ newproduct.product_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="newColour" required class="form-control" ng-model="newproductData.colour" ng-disabled="!newcolours">
                                        <option value="">Select Colour</option>
                                        <option ng-repeat="newcolour in newcolours" value="{{ newcolour.product_colour_id }}">{{ newcolour.colour_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <div style="display:inline-block;" ng-show="selectedLogoImage"><img style="width:40px;padding:3px;" ng-style="{backgroundColor: 'rgb('+selectedLogoBackground+')'}" ng-src="{{ selectedLogoImage }}" alt=""></div>
                                    <div style="display:inline-block;">
                                        <select ng-show="usableEmblems" name="newLogo" required class="form-control" ng-model="newproductData.logo" ng-disabled="!emblemdetail">
                                            <option value="">Select Logo</option>
                                            <option ng-repeat="emblem in usableEmblems" value="{{ emblem.organization_logo_id }}">{{ emblem.tesco_style_ref }}</option>
                                        </select>
                                        <div ng-hide="usableEmblems">
                                            No
                                            < 60mm logos </div>

                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button ng-hide="session.user.user_type_id != 3" ng-disabled="form.addEmbForm.$pristine || !form.addEmbForm.$valid" role="button" ng-click="addProduct(1)" class="btn btn-primary btn-sm" uib-tooltip="Add product" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class=" col-xs-6"><h3>Plain</h3></div>
                    <div class=" col-xs-6"><a href="#/orginfo/{{ orgdetail.organization_parent_organization_id }}" ng-show="orgdetail.organization_parent_organization_id" class="pull-right"><br>
                        <button class="btn btn-warning btn-sm pull-left" role="button" type="button">
                            <span style='padding-right: 7px;' class="glyphicon glyphicon-backward"></span> Back to parent
                        </button>
                    </a></div>
                    <form name="form.addPlnForm" method="post">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Style</th>
                                <th>Name</th>
                                <th>Colour</th>
                                <th class="text-right" ng-hide="session.user.user_type_id == 5">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in orgplainproducts | toArray:false | filter:productsearch.query">
                                <td><img style="width:40px;padding:3px" alt="{{product.colour.product_colour_style_ref}}" title="{{ product.product_description}}" ng-src="{{ product.colour.product_colour_image_url }}" ng-show="product.colour.product_colour_image_url"></td>
                                <td>{{product.colour.product_colour_style_ref}}</td>
                                <td>{{product.product_name}}</td>
                                <td>{{product.colour.colour_name}}</td>
                                <td ng-hide="session.user.user_type_id == 5" class="text-right">
                                    <div class="btn-group">
                                        <button ng-hide="session.user.user_type_id != 3" ng-click="deleteProductConfirm(product);" class="btn btn-danger btn-sm" uib-tooltip="Delete product" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-hide="session.user.user_type_id == 5">
                                <td><img style="width:40px;padding:3px" title="" alt="" ng-src="{{ selectedPlainColourImage }}" ng-show="selectedPlainColourImage"></td>
                                <td>
                                    {{ selectedPlainColourStyle }}
                                </td>
                                <td colspan="">
                                    <select name="newPlainProduct" id="newPlainProduct" class="form-control" required ng-model="newplainProductData.productid">
                                        <option value="">Select Product</option>
                                        <option ng-repeat="newplainproduct in newplainproducts" value="{{ newplainproduct.product_id }}">{{ newplainproduct.product_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="newColour" required class="form-control" ng-model="newplainProductData.colour" ng-disabled="!newplaincolours">
                                        <option value="">Select Colour</option>
                                        <option ng-repeat="newplaincolour in newplaincolours" value="{{ newplaincolour.product_colour_id }}">{{ newplaincolour.colour_name }}</option>
                                    </select>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button ng-hide="session.user.user_type_id != 3" ng-disabled="form.addPlnForm.$pristine || !form.addPlnForm.$valid" role="button" ng-click="addProduct(0)" class="btn btn-primary btn-sm" uib-tooltip="Add product" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </form>
                </div>

        </uib-tab>
        <uib-tab index="3" ng-click="getOrgNotes()">
            <uib-tab-heading>Notes
            </uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div ng-hide="session.user.user_type_id == 5">
                        <div class="col-xs-6">
                            <button ng-click="showModal('addNote','md',{ 'org': orgdetail });" class="btn btn-primary">Add Note <span style='padding-left:5px;' class='glyphicon glyphicon-edit'></span></button>
                        </div>
                    </div>


                    <div class="col-xs-6">
                        <input type="text" placeholder="Search notes" id="nquery" name="nquery" class="form-control" ng-model="notes.query" ng-model-options="{debounce:500}" />
                    </div>
                </div>
                <div class="row top-20">
                    <ul class="noteslist list-group" ng-repeat="orgnote in orgnotes | filter: notes.query">
                        <li class="list-group-item">
                            <span class="label label-default label-pill pull-right">
                                    {{formElements.tickettypes[orgnote.ticket_type_id].title}}
                                </span>
                            <b>
                                {{orgnote.ticket_subject}}
                            </b>
                        </li>
                        <li class="list-group-item" ng-show="orgnote.ticket_description">
                            <pre>{{orgnote.ticket_description}}</pre>
                        </li>
                        <li class="list-footer list-group-item list-group-item-info small">
                            {{ orgnote.ticket_user_name }} : {{orgnote.ticket_open_date | date: 'MMM d, y - h:mm a'}}
                            <span class="pull-right">
                                <span class=" label label-default label-pill label-danger " ng-show="orgnote.ticket_alert=='1' && orgnote.ticket_alert_date < todaytime ">Task: {{ orgnote.ticket_alert_date | date: 'MMM d, y - h:mm a'}}</span>
                            <span class="label label-default label-pill label-success " ng-show="orgnote.ticket_alert=='1' && orgnote.ticket_alert_date> todaytime">Task: {{ orgnote.ticket_alert_date | date: 'MMM d, y - h:mma'}}</span>
                            <a ng-click="deleteNoteAlert(orgnote)" href="" style="margin-left: 4px;"><span class="glyphicon glyphicon-remove" ng-show="orgnote.ticket_alert == '1' && orgnote.ticket_alert_date < todaytime" style="top: 3px"></span></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="4" ng-click="getOrgNotes()">
            <uib-tab-heading>Private Notes
            </uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div ng-hide="session.user.user_type_id == 5">
                        <div class="col-xs-6">
                            <button ng-click="showModal('addNote','md',{ 'org': orgdetail });" class="btn btn-primary">Add Note <span style='padding-left:5px;' class='glyphicon glyphicon-edit'></span></button>
                        </div>
                    </div>


                    <div class="col-xs-6">
                        <input type="text" placeholder="Search notes" id="npquery" name="npquery" class="form-control" ng-model="notes.queryp" ng-model-options="{debounce:500}" />
                    </div>
                </div>
                <div class="row top-20">
                    <ul class="noteslist list-group" ng-repeat="orgnotepriv in orgnotespriv | filter: notes.queryp">
                        <li class="list-group-item">
                            <span class="label label-default label-pill pull-right">
                                    {{formElements.tickettypes[orgnotepriv.ticket_type_id].title}}
                                </span>
                            <b>
                                {{orgnotepriv.ticket_subject}}
                            </b>
                        </li>
                        <li class="list-group-item" ng-show="orgnotepriv.ticket_description">
                            <pre>{{orgnotepriv.ticket_description}}</pre>
                        </li>
                        <li class="list-footer list-group-item list-group-item-info small">
                            {{ orgnotepriv.ticket_user_name }} : {{orgnotepriv.ticket_open_date | date: 'MMM d, y - h:mm a'}}
                            <span class="pull-right">
                                <span class=" label label-default label-pill label-danger " ng-show="orgnotepriv.ticket_alert=='1' && orgnotepriv.ticket_alert_date < todaytime ">Task: {{ orgnotepriv.ticket_alert_date | date: 'MMM d, y - h:mm a'}}</span>
                            <span class="label label-default label-pill label-success " ng-show="orgnotepriv.ticket_alert=='1' && orgnotepriv.ticket_alert_date> todaytime">Task: {{ orgnotepriv.ticket_alert_date | date: 'MMM d, y - h:mma'}}</span>
                            <a ng-click="deleteNoteAlert(orgnotepriv)" href="" style="margin-left: 4px;"><span class="glyphicon glyphicon-remove" ng-show="orgnotepriv.ticket_alert == '1' && orgnotepriv.ticket_alert_date < todaytime" style="top: 3px"></span></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="5" ng-click="getOrgAudit()">
            <uib-tab-heading>Audit Log
            </uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">

                        <input type="text" placeholder="Search logs" id="aquery" name="aquery" class="form-control" ng-model="audit.query" ng-model-options="{debounce:500}" />
                    </div>
                </div>
                <div class="row top-20">
                    <ul class="list-group">
                        <li ng-repeat="auditlog in auditlogs | filter: audit.query" class="list-group-item">
                            <span class="label label-default label-pill pull-right">
                                {{auditlog.audit_timestamp | date: 'MMM d, y - h:mm a'}}
                            </span>
                            <span> {{auditlog.audit_log_name}} : </span>
                            <b>
                                {{formElements.audittypes[auditlog.audit_log_event_id].title}}
                            </b>
                            <span ng-show="auditlog.audit_event_info"> : {{ auditlog.audit_event_info}} </span>
                        </li>
                    </ul>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    </div>