<script src="app/controllers/bulkorderController.js"></script>
<div ng-Controller='BulkorderController' ng-cloak>
    <div class="messages" ng-show="messages">
        <div class="messages-container">
            <div ng-repeat="message in messages track by $index"
                 class="alert alert-{{message.type}} messageStack">{{message.message}}
            </div>
        </div>
    </div>
    <!-------------------------------------->
    <!----------- INVOICE MSG -------------->
    <!-------------------------------------->
    <div class="row top-20">
        <div style="margin-top:20px; font-size: 1.15em;" class="well well-sm col-xs-offset-1 col-xs-10">
            <h1>Invoice ordering</h1>
        </div>
        <div style="margin-top:20px; font-size: 1.15em;" class="col-xs-offset-1 col-xs-10">
            <p>
                After a review of our services, we have made the decision to change the bulk/invoice ordering service for schools.  We are making these changes in order to create a more simplified and sustainable school embroidery service.  Tesco are no longer able to invoice schools for payment and all payments must be made using a debit or credit card online (alternate payment methods are available).<br />
            <ul>
                <li>Clubcard Vouchers</li>
                <li>Tesco Gift Card</li>
                <li>eCoupons - Online only</li>
            </ul>
            From 26/01/18 you will no longer be able to place multiple item orders via bulk/invoice ordering, but instead you will be able to place orders on Tesco.com/direct for up to 99 items per product with a total basket of up to 100 items. Any existing orders placed on the current format up to 26/01/18 at 15:00, will not be effected and will be delivered as normal.<br /><br />
            If you would still like to place orders of multiple items, then log into Tesco.com/direct with your current log in details that you used for bulk/invoice ordering via F&F Uniforms and reset your password.  A step by step guide on how to do this is attached for your reference.<br /><br />
            We thank you for using the service and hope that you will continue to shop with us online.  If you need any further information or you have any questions about the service, please contact us on 0800 334 5582
            </p>
        </div>
        <div style="margin-top:20px; font-size: 1.15em;" class="col-xs-offset-1 col-xs-10">
            <p>
                <b>Q. Why has Tesco made the decision to change the Bulk/Invoice ordering service for Schools?</b><br />
                A. Following a review of our services we have made a decision to simplify our operation by closing the invoicing element of the service, as unfortunately it is no longer cost effective due to the small number of school sign ups using this service. However, you will still be able to place an order for up to 99 items per product with a total basket of up to 100 items online at Tesco.com/direct or via a Direct Desk in store with payment via debit/credit cards (alternate payment methods are available).<br /><br />

                <b>Q. When will the Uniform Embroidery Invoice service close?</b><br />
                A. The Uniform Embroidery invoice service will change on 26/01/18<br /><br />

                <b>Q. How can I pay for my Uniform Embroidery without an invoice?</b><br />
                A. Uniform Embroidery can be purchased directly on our website, Tesco.com/direct or in store via a Direct Desk using the payment methods below:<br />
                <ul>
                    <li>Card Payments</li>
                    <li>Clubcard Vouchers</li>
                    <li>Tesco Gift Card</li>
                    <li>eCoupons - online only</li>
                </ul>
                <br />

                <b>Q. What is the minimum quantity for placing an order online at Tesco.com/direct?</b><br />
                A. The minimum quantity to purchase Uniform Embroidery via Tesco.com/direct is one item.<br /><br />

                <b>Q. How much does it cost to place an order for Uniform Embroidery via Tesco.com/direct?</b><br />
                A. We offer home delivery only for Uniform Embroidery orders with a delivery charge of &pound;3 per order.<br /><br />

                <b>Q. Can I still return goods purchased via the Uniform Embroidery invoice service when the service closes?</b><br />
                A. Goods can be returned within 30 days for a full refund.

            </p>
        </div>
        <div style="margin-top:20px; font-size: 1.15em;" class="col-xs-offset-1 col-xs-10">
            <p>
                <h2>To reset your password</h2>
                <b>Step 1 - Go to www.Tesco.com home page and select - Sign In<br /></b>
                <img src="style/bulk/1.jpg" /><br /><br />
                    <b>Step 2 - Enter your email address and click - I've forgotten my password</b><br />
                <img src="style/bulk/2.jpg" /><br /><br />
                        <b>Step 3 - Enter email address and click - Get reset link</b><br />
                <img src="style/bulk/3.jpg" /><br /><br />
                            <b>Step 4 - Check your email</b><br />
                <img src="style/bulk/4.jpg" /><br /><br />
                                <b>Step 5 - Follow the link sent to your email to reset and create your new password</b><br />
                <img src="style/bulk/5.jpg" /><br /><br />

            </p>
            <p>
                <h2>To order multiple items</h2>
            <b>Step 1 - Go to www.Tesco.com home page and select - F&F Clothing</b><br />
                <img src="style/bulk/6.jpg" /><br /><br />
            <b>Step 2 - Select - School uniform</b><br />
                <img src="style/bulk/7.jpg" /><br /><br />
            <b>Step 3 - Select - Uniform Embroidery Service</b><br />
                <img src="style/bulk/8.jpg" /><br /><br />
            <b>Step 4 - Enter School Name - select from list</b><br />
                <img src="style/bulk/9.jpg" /><br /><br />
            <b>Step 5 - Select product</b><br />
                <img src="style/bulk/10.jpg" /><br /><br />
            <b>Step 6 - Select quantity (maximum 99 items per product) and Add to basket</b><br />
                <img src="style/bulk/11.jpg" /><br /><br />
            <b>Step 7- Item will be added to your basket, click View Basket or continue shopping to add more items</b><br />
                <img src="style/bulk/12.jpg" /><br /><br />
            <b>Step 8 - Confirm or amend quantity (maximum 99 items per product with a total basket of upto 100 items) and Continue to checkout</b><br />
                <img src="style/bulk/13.jpg" /><br /><br />
            <b>Step 9 - Confirm delivery options and payment details and proceed to pay now</b><br />
                <img src="style/bulk/14.jpg" /><br />
            </p>
        </div>
    </div>
</div>

