<script src="app/controllers/contactController.js"></script>
<div ng-Controller='ContactController' ng-cloak>
    <div class="col-sm-8 col-sm-offset-2">

        <div class="row">
            <h3>Contact us</h3>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row div-bordered">
            <form name='contactForm' class="form" role="form" method="post" action="">
                <div class="col-sm-8 col-sm-offset-2">

                    <!--
                    <div class="form-group">
                        <label for="orgname">{{ typetitle }} Name</label>
                        <input required type="text" class="form-control has-feedback" name="orgname" id="orgname"
                               autocomplete="off" value="" placeholder="My School/Club/Group"
                               ng-model="formdata.orgname">
                        <span class="help" ng-show="registerForm.orgname.$invalid && !registerForm.orgname.$pristine"> Organization name is required. </span>
                    </div>
                    -->
                    <div ng-repeat="message in messages track by $index"
                         class="alert alert-{{message.type}} messageStack">{{message.message}}
                    </div>

                    <div class="form-group">
                        <label for="firstName">First name:</label>
                        <input required type="text" class="form-control has-feedback" name="firstName" id="firstName" autocomplete="off" value="" placeholder="John" ng-model="contactData.firstName">
                        <span class="help" ng-show="contactForm.firstName.$invalid && !contactForm.firstName.$pristine "> Please enter your first name. </span>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last name:</label>
                        <input required type="text" class="form-control has-feedback" name="lastName" id="lastName" autocomplete="off" value="" placeholder="Smith" ng-model="contactData.lastName">
                        <span class="help" ng-show="contactForm.lastName.$invalid && !contactForm.lastName.$pristine "> Please enter your last name. </span>
                    </div>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input required type="email" class="form-control has-feedback" name="email" id="email" autocomplete="off" value="" placeholder="example@domain.com" ng-model="contactData.email">
                        <span class="help" ng-show="contactForm.email.$invalid && !contactForm.email.$error.emailInUse && !contactForm.email.$pristine"> Please enter a valid email address. </span>
                    </div>

                    <div class="form-group">
                        <label for="lastName">URN:</label>
                        <input type="text" class="form-control has-feedback" name="urn" id="urn" autocomplete="off" value="" placeholder="113833" ng-model="contactData.urn">
                        <span class="help" ng-show="contactForm.urn.$invalid && !contactForm.urn.$pristine "> Please enter school URN. </span>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea required class="form-control has-feedback" rows="4" id="message" name="message" ng-model="contactData.message"></textarea>
                        <span class="help" ng-show="contactForm.message.$invalid && !contactForm.message.$pristine "> Please write your message. </span>


                    </div>

                </div>

                <div class="row col-sm-8 col-sm-offset-2">
                    <div class="form-group">
                        <div class="form-group">
                            <button id="submit" name="submit" type="button" value="Send" class="btn btn-primary"
                                    ng-disabled="!contactForm.$valid" ng-click="sendForm()">
                                Submit <span
                                    class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


