<div ng-cloak>
    <h1>Privacy and Cookies Policy</h1>
    <p>MyClothing ("the Website") is owned and operated by MyClothing Limited. This policy explains how MyClothing may use information we collect about you, as well as your rights over any personal information we hold about you. Please read this policy carefully; by accessing the Website you confirm to have understood and agreed to them.</p>
    <h2>Information we collect about you</h2>
    <p>We collect information about you when you:</p>
    <ul>
        <li>visit the Website, and other sites accessible from the Website. </li>
        <li>register with and buy products or services on the Website.</li>
        <li>take part in promotions, competitions, customer surveys and questionnaires.</li>
        <li>contact us eg in writing, call customer services.</li>
    </ul>
    <p>We may supplement the information we collect about you with information we receive from other sources eg public registers such as the electoral roll. This allows us to assess the accuracy of the information we hold about you in order to send you relevant offers and information.</p>
    <h2>Using your information</h2>
    <p>Collecting your personal information helps MyClothing to better understand what you need from us. We use your information to:</p>
    <ul>
        <li>manage and improve the Website.</li>
        <li>personalise our services to you.</li>
        <li>administer and operate your account.</li>
        <li>process your orders.</li>
        <li>tell you about important changes to the Website and our services.</li>
        <li>understand your shopping behaviour to develop and improve our products and services.</li>
        <li>manage promotions, competitions, customer surveys and questionnaires.</li>
        <li>check and verify your identity, and prevent or detect crime. In performing checks your information may be disclosed to credit reference agencies, who may keep a record of that information. This is not a credit check and your credit rating will be unaffected.</li>
    </ul>
    <p>We may share your personal information across MyClothing so they can provide you with relevant products and services.</p>
    <p>Your personal information is safe with us and will never be released to companies outside the MyClothing for their marketing purposes.</p>
    <p>We may use and share anonymised information outside of MyClothing. However, we would like to reassure you that this never includes your personal information. </p>   
    <h2>Marketing and research</h2>
    <p>If you agree, we may contact you:</p>
    <ul>
        <li>with offers and information about MyClothing products or services</li>
        <li>with offers and information about partners' products or services</li>
        <li>for customer research eg to help improve our services</li>
    </ul>
    <p>Of course, the choice is entirely yours, but if you say you do not want to receive marketing information from us this will prevent you from receiving great offers or promotions that may be of interest to you.</p>
    <p>When you register online you can access a "Contact Preferences" page that allows you to tailor our commercial communications to your preferences.</p>
    <p>To change your contact preferences simply click "Your Account" in the top frame and click "Your Contact Preferences". If you do not want to receive commercial communications from us, select your choices by using the boxes available on that page.</p>
    <p>We like to hear your views to help us improve our service. From time to time, we may contact you to ask your opinions. Again, if you do not want to be contacted for this purpose, make your choice on the "Contact Preferences" page.</p>
    <h2>Cookies</h2>
    <p>In order to comply with new rules, we use a system of classifying the different types of cookies which we use on the Website, or which may be dropped by third parties through our websites. The classification was developed by the International Chamber of Commerce UK and explains more about which cookies we use, why we use them, and the functionality you will lose if you decide you don't want to have them on your device. Please be reassured that we are working on other privacy and cookie-related improvements to the Website.</p>
    <h3>What is a cookie?</h3>
    <p>Cookies are text files containing small amounts of information which are downloaded to your personal computer, mobile or other device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie. Cookies are useful because they allow a website to recognise a user's device.</p>
    <p>Persistent cookies - these cookies remain on a user's device for the period of time specified in the cookie. They are activated each time that the user visits the website that created that particular cookie.</p>
    <p>Session cookies - these cookies allow website operators to link the actions of a user during a browser session. A browser session starts when a user opens the browser window and finishes when they close the browser window. Session cookies are created temporarily. Once you close the browser, all session cookies are deleted.</p>
    <p>Cookies do lots of different jobs, like letting you navigate between pages efficiently, remembering your preferences, and generally improve the user experience. They can also help to ensure that adverts you see online are more relevant to you and your interests.</p>
    <p>You can find more information about cookies at <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> and <a href="http://www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a>.</p>
    <h3>Cookies used on the Website</h3>
    <p>A list of all the cookies used on the Website by category is set out below.</p>
    <h3>Strictly necessary cookies</h3>
    <p><strong>These cookies enable services you have specifically asked for. For those types of cookies that are strictly necessary, no consent is required.</strong></p>
    <p>These cookies are essential in order to enable you to move around the Website and use its features, such as accessing secure areas of the Website. Without these cookies services you have asked for, like shopping baskets or e-billing, cannot be provided.</p>
    <h3>Performance cookies</h3>
    <p><strong>These cookies collect anonymous information on the pages visited. By using the Website, you agree that we can place these types of cookies on your device.</strong></p>
    <p>These cookies collect information about how visitors use the Website, for instance which pages visitors go to most often, and if they get error messages from web pages. These cookies don't collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how the Website works.</p>
    <h3>Functionality cookies</h3>
    <p><strong>These cookies remember choices you make to improve your experience. By using the Website, you agree that we can place these types of cookies on your device.</strong></p>
    <p>These cookies allow the Website to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customise. They may also be used to provide services you have asked for such as watching a video or commenting on a blog. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.</p>
    <h3>Targeting or advertising cookies</h3>
    <p><strong>These cookies collect information about your browsing habits in order to make advertising relevant to you and your interests.</strong></p>
    <p>These cookies are used to deliver adverts more relevant to you and your interests. They are also used to limit the number of times you see an advertisement as well as help measure the effectiveness of the advertising campaign. They are usually placed by advertising networks with our permission. They remember that you have visited a website and this information is shared with other organisations such as advertisers. Quite often targeting or advertising cookies will be linked to site functionality provided by the other organisation.</p>
    <h3>Behavioural advertising and online privacy</h3>
    <p>A guide to behavioural advertising and online privacy has been produced by the internet advertising industry which can be found at <a href="http://www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a>. The guide contains an explanation of the IAB's self-regulatory scheme to allow you greater control of the advertising you see.</p>
    <h3>Using browser settings to manage cookies</h3>
    <p>The Help menu on the menu bar of most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie and how to disable cookies altogether. You can also disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on's settings or visiting the website of its manufacturer. </p>
    <p>However, because cookies allow you to take advantage of some of the Website's essential features, we recommend you leave them turned on. For example, if you block or otherwise reject cookies you will not be able to add items to your Shopping Basket, proceed to Checkout, or use any of our products and services that require you to Sign in. If you leave cookies turned on, remember to sign off when you finish using a shared computer. </p>
    <h2>Disclosing your information</h2>
    <p>We will never disclose your information to anyone outside of MyClothing except where we have your consent; where we are required or permitted to do so by law; to other companies who provide a service to us; or any successors in title to our business.</p>
    <p>Whenever we transfer personal information to countries outside the European Economic Area we will ensure that appropriate security measures are taken.</p>
    <h2>Other websites</h2>
    <p>The Website may contain links to other sites which are outside our control and not covered by this policy. The operators of these sites may collect information from you that will be used by them in accordance with their policy, which may differ from ours.</p>
    <h2>Accessing your information</h2>
    <p>To obtain a copy of the information we hold about you, write to: Data Protection Officer, MyClothing Limited, Richmond house 5-8 Richmond Terrace, Otley road, Guiseley, LS20 8BP enclosing a cheque or postal order for &pound;10 payable to "MyClothing Limited". Please confirm any details to help us identify and locate your information. If any of the details are incorrect, let us know and we will amend them.</p>
    <h2>Changes to our policy</h2>
    <p>This policy replaces all previous versions and is correct as of January 2019. We reserve the right to change the policy at any time.</p>
    <h2>Contacting us</h2>
    <p>If you have any queries, please contact us at <a href="mailto:support@myclothing.com">support@myclothing.com</a>
</div>
