<script src="app/controllers/donationController.js"></script>
<div ng-Controller='DonationsController' ng-cloak>
    <div class="messages" ng-show="messages">
        <div class="messages-container">
            <div ng-repeat="message in messages track by $index"
                 class="alert alert-{{message.type}} messageStack">{{message.message}}
            </div>
        </div>
    </div>
    <h1>Donations Page</h1>
    <uib-tabset justified="false">
        <!-------------------------->
        <!-------- DONATIONS ------->
        <!-------------------------->
        <uib-tab ng-click="updateDonationsOrg();">
            <uib-tab-heading>
                Donations Overview <span ng-hide="true" class="label label-warning donations">({{ totalDonations | currency : '&pound;' }})</span>
            </uib-tab-heading>
            <div class="">
                <!-------------------------->
                <!----- DONATIONS TOTAL ---->
                <!-------------------------->
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>MyClothing donation payments made to your organization.</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 donations">
                            <table class="table table-bordered text-center well well-sm donations">
                                <thead>
                                <tr class='text-center'>
                                    <td class='text-center piggyBanky hidden-xs' style="background-color: #ED9022;"><span
                                            class="glyphicon glyphicon-piggy-bank donationsTotal"></span></td>
                                    <td class="hidden-xs" style="vertical-align: middle;">
                                        <div class="totalDonations">
                                            <p>TOTAL DONATIONS:</p>
                                            <b>{{ totalDonations | currency : '&pound;' }}</b>
                                        </div>
                                    </td>
                                    <td class="visible-xs" style="vertical-align: middle; background-color: #FFA030;">
                                        <div class="totalDonations">
                                            <p>TOTAL DONATIONS:</p>
                                            <b>{{ totalDonations | currency : '&pound;' }}</b>
                                        </div>
                                    </td>

                                    <td style="vertical-align: middle;">
                                        <div class="totalPaid">
                                            <p>TOTAL PAID:</p>
                                            <b>{{ totalPaid | currency : '&pound;' }}</b>
                                        </div>
                                    </td>

                                    <td style="vertical-align: middle;">
                                        <div class="awaitingDonations">
                                            <p>AWAITING BANK TRANSFER:</p>
                                            <b>{{ totalDonations - totalPaid | currency : '&pound;' }}</b>
                                        </div>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------->
            <!--- DONATIONS LISTING ---->
            <!-------------------------->
            <div class="row top-20" ng-show="totalDonations" ng-cloak>
                <div class="donationTable">
                    <div class="donationTable">
                        <table class="table table-hover table-striped">
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Donated</th>
                                <th>Paid</th>
                                <th>Balance</th>
                            </tr>
                            <tr ng-repeat="donation in donations | reverse" ng-hide="$index >= initialDonationsToShow && hideAdditionalDonations">
                                <!--<td>{{donation.date+'000' | date : 'fullDate' }}</td>  FULL DATE-->
                                <td>{{donation.donation_display_date | date}}</td>
                                <td>{{donation.donation_description}}</td>
                                <td><p ng-hide="{{donation.donation_paid}}">{{donation.donation_amount | abs | currency:
                                    '&pound;'}}</p></td>
                                <td><p ng-show="{{donation.donation_paid}}">{{donation.donation_amount | abs | currency:
                                    '&pound;'}}</p></td>
                                <td>{{donation.donation_new_balance | currency:'£'}}</td>
                            </tr>
                        </table>
                        <button class="btn-sm btn-default pull-right" ng-click="hideAdditionalDonations = false;"
                                ng-hide="hideAdditionalDonations === false || donationsAmount <= initialDonationsToShow ;">
                            <b>Show more</b> <span class="glyphicon glyphicon-collapse-down"></span></button>
                        <button class="btn-sm btn-default pull-right" ng-click="hideAdditionalDonations = true;"
                                ng-hide="hideAdditionalDonations === true || donationsAmount <= initialDonationsToShow ;">
                            <b>Show less</b> <span class="glyphicon glyphicon-collapse-up"></span></button>
                    </div>
                </div>
            </div>
        </uib-tab>

        <!-------------------------->
        <!------ BANK DETAILS ------>
        <!-------------------------->
        <uib-tab>
            <uib-tab-heading>
                <span ng-hide="schoolBankData.saved" style="color:red;"
                      uib-tooltip="You do not have a bank account set up so we cannot pay you donations."
                      tooltip-placement="bottom"
                      tooltip-trigger="mouseenter"><span class="glyphicon glyphicon-alert"></span> Bank Details <span class="glyphicon glyphicon-alert"></span></span>
                <span ng-show="schoolBankData.saved">Bank Details</span>
            </uib-tab-heading>

            <div class="row">
                <h3>Bank Details</h3>
            </div>

            <div class="row">
                <hr>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row div-bordered">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p> This information is used for organization donation payments and can be edited by account
                            administrators.
                        </p>
                        <div class="alert alert-danger" ng-hide="schoolBankData.saved">
                            IMPORTANT: Without bank details, your organization will not receive donation payments.
                        </div>
                        <form name="form.bankDetailsForm"

                              class="form"
                              role="form"
                              method="post"
                              ng-cloak>
                            <div class="col-xs-12">
                                <fieldset class="form-group">
                                    <label for="accountName">Account Name</label>
                                    <input ng-maxlength="18"
                                           maxlength="18"
                                           required
                                           type="text"
                                           class="form-control"
                                           name="accountName" id="accountName" placeholder="My School Bank Account"
                                           ng-model="schoolBankData.accountName"
                                           uib-tooltip="NOTE: Account name must only contain up to 18 valid BACS characters."
                                           tooltip-placement="bottom-left"
                                           tooltip-trigger="mouseenter"
                                           tooltip-enable="!schoolBankDataAccount">
                            <span class="help"
                                  ng-show="form.bankDetailsForm.accountName.$invalid && !form.bankDetailsForm.accountName.$pristine && !form.bankDetailsForm.accountName.$error.maxlength "> Please enter an account name. </span>
                            <span class="help"
                                  ng-show="form.ankDetailsForm.accountName.$error.maxlength "> Account name must only contain up to 18 valid BACS characters. </span>
                                </fieldset>
                            </div>
                            <div class="col-xs-12">
                                <fieldset class="form-group">
                                    <label for="accountNumber">Account Number</label>
                                    <input required
                                           type="text"
                                           ng-pattern="onlyNumbers"
                                           minlength='8'
                                           maxlength="8"
                                           class="form-control"
                                           id="accountNumber"
                                           name='accountNumber'
                                           ng-model="schoolBankData.accountNumber"
                                           placeholder="12345678">

                            <span class="help"
                                  ng-show="form.bankDetailsForm.accountNumber.$invalid && !form.bankDetailsForm.accountNumber.$pristine && !form.bankDetailsForm.accountNumber.$error.pattern"> Please enter a 8 digits account number. </span>
                        <span class="help"
                              ng-show="form.bankDetailsForm.accountNumber.$error.pattern"> Can contain numbers only. </span>
                                </fieldset>
                            </div>

                            <div class="col-xs-12">
                                <fieldset class="form-group">
                                    <label for="sortCode0">Sort Code</label>
                                    <div class="form-inline">
                                        <input ng-pattern="onlyNumbers"
                                               ng-model='schoolBankData.SortCode[0]'
                                               required
                                               minlength='2'
                                               maxlength='2'
                                               type="text"
                                               class="form-control has-feedback"
                                               name="sortCode0"
                                               id="sortCode0"
                                               value=""
                                               style="width: 42px;"
                                               placeholder="00"> :
                                        <input ng-pattern="onlyNumbers"
                                               ng-model='schoolBankData.SortCode[1]'
                                               required
                                               minlength="2"
                                               maxlength="2"
                                               type="text"
                                               class="form-control has-feedback"
                                               name="sortCode1"
                                               id="sortCode1"
                                               value=""
                                               style="width: 42px;"
                                               placeholder="00"> :
                                        <input ng-pattern="onlyNumbers"
                                               ng-model='schoolBankData.SortCode[2]'
                                               required
                                               minlength="2"
                                               maxlength="2"
                                               type="text"
                                               class="form-control has-feedback"
                                               name="sortCode2"
                                               id="sortCode2"
                                               value=""
                                               style="width: 42px;"
                                               placeholder="00">&nbsp;
                            <span class="help-left"
                                  ng-show="form.bankDetailsForm.sortCode0.$invalid && !form.bankDetailsForm.sortCode0.$pristine && form.bankDetailsForm.sortCode0.$error.pattern || form.bankDetailsForm.sortCode1.$invalid && !form.bankDetailsForm.sortCode1.$pristine && form.bankDetailsForm.sortCode1.$error.pattern || form.bankDetailsForm.sortCode2.$invalid && !form.bankDetailsForm.sortCode2.$pristine && form.bankDetailsForm.sortCode2.$error.pattern"> Please enter a valid sort code</span>
                                    </div>
                                </fieldset>
                            </div>

                                <div class="form-group">
                                    <div class="form-group">
                                        <button role="button"
                                                class="btn btn-primary hidden-xs" style="margin-left:15px;"
                                                ng-disabled="!form.bankDetailsForm.$valid || form.bankDetailsForm.$pristine"
                                                ng-click="registerBank()">
                                            Save Changes
                                        </button>
                                        <button role="button"
                                                class="btn btn-sm btn-primary visible-xs" style="margin-left:15px;"
                                                ng-disabled="!form.bankDetailsForm.$valid || form.bankDetailsForm.$pristine"
                                                ng-click="registerBank()">
                                            Save Changes
                                        </button>
                                    </div>
                                </div>

                        </form>
                    </div>

                </div>
            </div>

        </uib-tab>
    </uib-tabset>
</div>
