<script src="app/controllers/donationProcessingController.js"></script>
<div ng-Controller='DonationProcessingController' ng-cloak>
    <div class="messages" ng-show="messages">
        <div class="messages-container">
            <div ng-repeat="message in messages track by $index"
                 class="alert alert-{{message.type}} messageStack">{{message.message}}
            </div>
        </div>
    </div>
    <style>
        .nav-tabs>li {
            min-width: 150px;
        }
    </style>
    <h1>Donation Processing Page</h1>
    <uib-tabset justified="false" ng-cloak>
        <uib-tab>
            <uib-tab-heading ng-click="updateSales()">Upload Sales</uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Report</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Upload Sales Sheet</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <input type="file" ng-file-model="sales.file" accept=".xlsx" />
                                        <button data-ng-disabled="loading" ng-click="uploadSales();" class="btn btn-info btn-sm" uib-tooltip="Upload" tooltip-trigger="mouseenter" tooltip-placement="bottom">Upload <span
                                                class="glyphicon glyphicon-cloud-upload"></span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="top-20">
                <div class="row" ng-hide="sales.sales.length">
                    <div class="col-xs-12">
                        <h2>There are no sales to process.</h2>
                        Upload some sales first.<br />
                    </div>
                </div>

                <div class="row top-20" ng-show="sales.sales.length">
                    <div class="col-xs-12">
                        <button class="btn btn-success btn-sm" uib-tooltip="Start Processing"
                                tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="startProcess();"> <span
                                class="glyphicon glyphicon-refresh"></span> Process Sales</button>
                        <button class="btn btn-danger btn-sm" uib-tooltip="Clear Sales"
                                tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="clearSales();"> <span
                                class="glyphicon glyphicon-trash"></span> Clear Sales</button>
                    </div>
                    <div class="col-xs-12">

                        <table class="table table-striped" >
                            <thead class="small">
                            <tr>
                                <th>School ID</th>
                                <th>Dispatch Date</th>
                                <th>Order Number</th>
                                <th>EAN</th>
                                <th>Qty</th>
                                <th>Price Paid</th>
                                <th>Donation Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sale in sales.sales">
                                <td>{{ sale.school_urn }}</td>
                                <td>{{ sale.dispatched_date }}</td>
                                <td>{{ sale.order_number }}</td>
                                <td>{{ sale.EAN }}</td>
                                <td>{{ sale.quantity }}</td>
                                <td>{{ sale.price_paid }}</td>
                                <td>{{ sale.donation_amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center" ng-show="sales.sales.length">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="sales.total"
                                ng-model="sales.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="pageChanged(sales.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab>
            <uib-tab-heading>Export Payments</uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Report</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Donation Payments CSV Split (ZIP)</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button data-ng-disabled="loading" ng-click="downloadReport('dp');" class="btn btn-sm" uib-tooltip="Download" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                                class="glyphicon glyphicon-cloud-download"></span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading ng-click="updateFailedPayments()">Fix Failed</uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Report</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Upload Failed Payment Sheet</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <input type="file" ng-file-model="failed.file" accept=".csv" />
                                        <button data-ng-disabled="loading" ng-click="uploadFailedPayments();" class="btn btn-info btn-sm" uib-tooltip="Upload" tooltip-trigger="mouseenter" tooltip-placement="bottom">Upload <span
                                                class="glyphicon glyphicon-cloud-upload"></span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="top-20">
                <div class="row" ng-hide="failed.payments.length">
                    <div class="col-xs-12">
                        <h2>There are no payments to process.</h2>
                        Upload some payments first.<br />
                    </div>
                </div>

                <div class="row top-20" ng-show="failed.payments.length">
                    <div class="col-xs-6">
                        <label>Search Line: </label><input ng-model="payment.rowFilter" type="text">
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-danger btn-sm" uib-tooltip="Remove Checked"
                                tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-disabled="!failed.rows" ng-click="removeFailedPayments();"> <span
                                class="glyphicon glyphicon-refresh"></span>Remove Selected</button>
                        <button class="btn btn-success btn-sm" uib-tooltip="Download Fixed"
                                tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-disabled="!failed.rows" ng-click="downloadFixedFile();"> <span
                                class="glyphicon glyphicon-refresh"></span>Download Fixed</button>
                    </div>
                    <div class="col-xs-12">

                        <table class="table table-striped" >
                            <thead class="small">
                            <tr>
                                <th>Line</th>
                                <th>School ID</th>
                                <th>School Name</th>
                                <th>Amount</th>
                                <th>Remove?</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="payment in failed.payments | filter : {row: payment.rowFilter}">
                                <td>{{ payment.row }}</td>
                                <td>{{ payment.reference }}</td>
                                <td>{{ payment.name }}</td>
                                <td>{{ payment.amount }}</td>
                                <td><input type="checkbox" ng-model="failed.rows[payment.row]" value="1"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab>
            <uib-tab-heading ng-click="updatePayments()">Upload Payments</uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Report</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-hide="session.user.user_type_id == 5">
                                <td>Upload Successful Donation Payments</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <input type="file" ng-file-model="donations.file" accept=".csv" />
                                        <button data-ng-disabled="loading" ng-click="uploadDonationPayments();" class="btn btn-info btn-sm" uib-tooltip="Upload" tooltip-trigger="mouseenter" tooltip-placement="bottom">Upload <span
                                                class="glyphicon glyphicon-cloud-upload"></span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="top-20">
                <div class="row" ng-hide="donations.payments.length">
                    <div class="col-xs-12">
                        <h2>There are no payments to process.</h2>
                        Upload some payments first.<br />
                    </div>
                </div>

                <div class="row top-20" ng-show="donations.payments.length">

                    <div class="col-xs-12">
                        <label for="formDateView">Payment date:</label>

                        <button type="button" id="formDateView" role="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                            <i class="glyphicon glyphicon-calendar"></i>&nbsp;{{ donations.dateView }}
                        </button>


                    <button class="btn btn-success btn-sm" uib-tooltip="Start Processing"
                            tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-disabled="!donations.date" ng-click="startPaymentProcess();"> <span
                            class="glyphicon glyphicon-refresh"></span> Process Payments</button>


                    </div>
                    <div class="col-xs-12 text-center top-20">
                        <div class="div-bordered" uib-collapse="isCollapsed">
                            <datetimepicker style="margin:0 auto;" datetimepicker-config="dateTimeOptions" on-set-date="isCollapsed = !isCollapsed" ng-model="donations.date" on-set-time="isCollapsed = !isCollapsed"></datetimepicker>
                        </div>
                    </div>
                    <div class="col-xs-12">

                        <table class="table table-striped" >
                            <thead class="small">
                            <tr>
                                <th>School ID</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="payment in donations.payments">
                                <td>{{ payment.urn }}</td>
                                <td>{{ payment.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center" ng-show="donations.payments.length">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="donations.total"
                                ng-model="donations.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="pageChanged(donations.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading ng-click="updateEmails()">Send Email</uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-12">
                        Send the emails, keep going until all sent.
                    </div>
                </div>
            </div>
            <div class="top-20">
                <div class="row" ng-hide="users.emails.length">
                    <div class="col-xs-12">
                        <h2>All Users have been emailed.<br /></h2>

                        <label for="formPaymentDate">Payment date:</label>

                        <button type="button" id="formPaymentDate" role="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                            <i class="glyphicon glyphicon-calendar"></i>&nbsp;{{ users.paymentDateView }}
                        </button>

                        <button class="btn btn-success btn-sm" uib-tooltip="Start Processing"
                                tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-disabled="!users.paymentDate" ng-click="resetUserStatus();"> <span
                                class="glyphicon glyphicon-refresh"></span> Reset User Emailed Status.</button>
                        <div class="col-xs-12 text-center top-20">
                            <div class="div-bordered" uib-collapse="isCollapsed">
                                <datetimepicker style="margin:0 auto;" datetimepicker-config="dateTimeOptions" on-set-date="isCollapsed = !isCollapsed" ng-model="users.paymentDate" on-set-time="isCollapsed = !isCollapsed"></datetimepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top-20" ng-show="users.emails.length">

                    <div class="col-xs-12">

                        <label for="formPaymentFromDate">Period From Date <span class="text-muted small small">({{users.lastPeriodEnd }})</span>:</label>

                        <button type="button" id="formPaymentFromDate" role="button" class="btn btn-default" ng-click="isStartCollapsed = !isStartCollapsed">
                            <i class="glyphicon glyphicon-calendar"></i>&nbsp;{{ users.periodFromDateView }}
                        </button>

                        <label for="formPaymentToDate">Period To Date:</label>

                        <button type="button" id="formPaymentToDate" role="button" class="btn btn-default" ng-click="isEndCollapsed = !isEndCollapsed">
                            <i class="glyphicon glyphicon-calendar"></i>&nbsp;{{ users.periodToDateView }}
                        </button>


                        <button class="btn btn-danger btn-sm" uib-tooltip="Start Processing"
                                tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-disabled="!users.periodFromDateView && !users.periodFromDateView" ng-click="startEmailProcess();"> <span
                                class="glyphicon glyphicon-refresh"></span> Process Emails</button>


                    </div>

                    <div class="col-xs-12 text-center top-20">
                        <div class="div-bordered" uib-collapse="isStartCollapsed">
                            <datetimepicker style="margin:0 auto;" datetimepicker-config="dateTimeOptions" ng-model="users.periodFromDate" on-set-time="isStartCollapsed = !isStartCollapsed"></datetimepicker>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center top-20">
                        <div class="div-bordered" uib-collapse="isEndCollapsed">
                            <datetimepicker style="margin:0 auto;" datetimepicker-config="dateTimeOptions" ng-model="users.periodToDate" on-set-time="isEndCollapsed = !isEndCollapsed"></datetimepicker>
                        </div>
                    </div>
                    <div class="col-xs-12">

                        <table class="table table-striped" >
                            <thead class="small">
                            <tr>
                                <th>School</th>
                                <th>Email</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="email in users.emails">
                                <td>{{ email.organization_name }}</td>
                                <td>{{ email.user_email }}</td>
                                <td>{{ email.donation_amount | currency : '&pound;'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-20 text-center" ng-show="users.emails.length">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="users.total"
                                ng-model="users.page"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="25"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="pageChanged(users.page)"
                                ></uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading ng-click="updateReturnedPayments()">Bank Returns</uib-tab-heading>
            <div class="top-20">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead class="small">
                            <tr>
                                <th>Report</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Upload Returned Payment Sheet</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <input type="file" ng-file-model="returned.file" accept=".csv" />
                                        <button data-ng-disabled="loading" ng-click="uploadReturnedPayments();" class="btn btn-info btn-sm" uib-tooltip="Upload" tooltip-trigger="mouseenter" tooltip-placement="bottom">Upload <span
                                                class="glyphicon glyphicon-cloud-upload"></span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="top-20">
                <div class="row" ng-hide="returned.payments.length">
                    <div class="col-xs-12">
                        <h2>There are no returns to process.</h2>
                        Upload some returns first.<br />
                    </div>
                </div>

                <div class="row top-20" ng-show="returned.payments.length">
                    <div class="col-xs-6">
                        <label>Search Line: </label><input ng-model="return.rowFilter" type="text">
                    </div>
                    <div class="col-xs-6">

                        <button class="btn btn-success btn-sm" uib-tooltip="Download Fixed"
                                tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-disabled="!returned.rows" ng-click="applyReturns();"> <span
                                class="glyphicon glyphicon-refresh"></span>Apply Refunds</button>
                    </div>
                    <div class="col-xs-12">

                        <table class="table table-striped" >
                            <thead class="small">
                            <tr>
                                <th>Line</th>
                                <th>Date</th>
                                <th>School ID</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="return in returned.payments | filter : {row: return.rowFilter}">
                                <td>{{ return.row }}</td>
                                <td>{{ return.date }}</td>
                                <td>{{ return.memo }}</td>
                                <td>{{ return.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>
</div>
