<script src="app/controllers/searchController.js"></script>
<div ng-cloak>

    <div class="container">
        <div class="heading_row row">
            <div class="col-sm-8 col-sm-offset-2 clearfix">

                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12">
                        <img class="titleimg img-responsive"  title="Embroidered UNIFORMS" alt="Embroidered UNIFORMS" src="style/title.png" />
                    </div>
                    <div class="col-xs-12 titlepara">An easy way to get great value school uniforms in your school's colours,
                        complete with embroidered emblem - and to raise money for your school just by shopping with us.<br>
                        <br />
                        Parents enjoy home delivery within approximately 14 days for just £3.
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div id="landingkids">

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--School search widget-->
    <div id="schoolsearchwidget" class="clearfix" ng-controller="SchoolsController as schoolList" ng-cloak>

        <div id="schoolsearchbox" class="col-sm-10 col-sm-offset-1 clearfix">
            <h4>Register or nominate your school</h4>

            <div style="z-index:999;" class="has-feedback">
                <input ng-cloak ng-class="showingclass" type="text" required="" class="form-control input-lg" name="q"
                       ng-model="searchText" ng-model-options="{ debounce: 500 }" placeholder="{{ placeholder }}"
                       style="padding-left: 40px;" id="q"/>
                <i class="glyphicon glyphicon-search form-control-feedback" style="left:0;color:#A69999;"></i>
            </div>
            <span class="small">
                <i>&nbsp;</i>
                       <typer class="hidden" id="schoolTyper" on-deleted-letter="updatePlaceholder()"
                              on-typed-letter="updatePlaceholder()" ng-show="!searchedFor"
                              words="[' ','School Name, Area, Postcode etc...','St Mary\'s Primary School ', 'E2 8QH ', 'N19 4JA ','Sebright Primary School ','Duncombe Primary School ','BT30 9RB ']"
                              type-time='100' backspace-time='0' start-delay='0' pause="2500" ng-cloak></typer>

            </span>
        </div>

        <br style="clear:both;"/>

        <div class="search_results" style="">

            <div class="list-group" ng-class="showingclass" ng-cloak>

                <div class="row list-group-item" ng-repeat="school in schools" ng-cloak>

                    <div class="search_result col-lg-8 col-lg-offset-2" ng-controller="ModalController">

                        <table class="hidden-xs">
                            <tr>
                                <td style="width:140px;">
                                    <!--Logo-->
                                    <div class="image-container" style="position: relative;" ng-cloak
                                         ng-style="{'background-color': 'rgb('+school.emblem_background + ')'}">

                                        <div class="dummy"></div>
                                        <div class="img-container">
                                            <img ng-src="{{school.emblem}}" alt="{{ school.emblem_name }}" ng-cloak>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:auto;padding: 0 10px;">
                                    <h4 class="name"> {{school.Name}} </h4>

                                    <div>
                                    <span class="text-muted small">
                                        <span ng-show="school.Address1" ng-cloak>{{school.Address1}}, </span>
                                        <span ng-show="school.Address2" ng-cloak>{{school.Address2}}, </span>
                                        {{school.Postcode}}
                                    </span>
                                    </div>
                                    <div>
                                    <span class="status"> {{school.school_status_master_name}}
                                        <span class="nominate">
                                              <span ng-cloak ng-show="{{school.organization_id == null}}"
                                                    class="nominations-count">- {{school.nominations}} Parent Nominations</span>
                                        </span>
                                    </span>
                                    </div>
                                </td>
                                <td style="width:200px;">
                                    <!--School Address -->
                                    <div ng-cloak ng-show="{{school.organization_id != null}}">
                                        <!--organization is in the system already-->
                                            <span class="funds-raised"> Funds raised:
                                              <span class="value"> {{school.organization_funds | currency:"£"}} </span>
                                            </span>
                                    </div>
                                    <div ng-cloak ng-show="{{school.organization_id == null}}">
                                        <!--organization is not in the system-->
                                        <a class="btn btn-default"
                                           href="#/register?id={{school.school_data_id}}">Register</a>
                                    </div>
                                </td>
                                <td style="width:200px;">
                                    <div ng-cloak ng-show="{{school.organization_id != null && school.school_status_master_name == 'Active' }}">
                                        <!--organization is in the system already-->
                                        <a class="btn btn-primary hidden-xs"
                                           href="http://uniforms.tllab.co.uk/ueslink/{{ school.organization_id }}.school">Visit <span
                                                class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                    <div ng-cloak ng-show="{{school.organization_id != null && school.school_status_master_name != 'Active' }}">
                                        <!--organization is in the system already-->
                                        <a class="btn btn-primary hidden-xs"
                                           href disabled
                                                uib-tooltip="Awaiting Activation">Visit <span
                                                class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                    <div ng-cloak ng-show="{{school.organization_id == null}}">
                                        <!--organization is not in the system-->
                                        <button class="btn btn-default"
                                                ng-click="showModal('n','lg',{ 'urn': school.URN })">Nominate <span
                                                class="glyphicon glyphicon-chevron-right"></span></button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <!--Only for tiny screens-->
                        <div class="row hide-over-sm">
                            <div class="result_logo">
                                <!--Logo-->
                                <div class="image-container" style="position: relative;" ng-cloak
                                     ng-style="{'background-color': 'rgb('+school.emblem_background + ')'}">

                                    <div class="dummy"></div>
                                    <div class="img-container">
                                        <img ng-src="{{school.emblem}}" alt="{{ school.emblem_name }}" ng-cloak>
                                    </div>
                                </div>
                            </div>

                            <div class="result_details">
                                <h4 class="name"> {{school.Name}} </h4>

                                <div>
                                    <span class="text-muted small">
                                        <span ng-show="school.Address1" ng-cloak>{{school.Address1}}, </span>
                                        <span ng-show="school.Address2" ng-cloak>{{school.Address2}}, </span>
                                        {{school.Postcode}}
                                    </span>
                                </div>
                                <div>
                                    <span class="status"> {{school.school_status_master_name}}
                                        <span class="nominate">
                                              <span ng-cloak ng-show="{{school.organization_id == null}}"
                                                    class="nominations-count">- {{school.nominations}} Parent Nominations</span>
                                        </span>
                                    </span>
                                </div>

                            </div>

                            <div class="result_buttons">

                                <div class="result_button_left">
                                    <!--School Address -->
                                    <div ng-cloak ng-show="{{school.organization_id != null}}">
                                        <!--organization is in the system already-->
                                            <span class="funds-raised"> Funds raised:
                                              <span class="value"> {{school.organization_funds | currency:"£"}} </span>
                                            </span>
                                    </div>
                                    <div ng-cloak ng-show="{{school.organization_id == null}}">
                                        <!--organization is not in the system-->
                                        <a role="button" class="btn btn-default"
                                           href="#/register?id={{school.school_data_id}}">Register</a>
                                    </div>
                                </div>
                                <div class="result_button_right">
                                    <div ng-cloak ng-show="{{school.organization_id != null && school.school_status_master_name == 'Active' }}">
                                        <!--organization is in the system already-->
                                        <a role="button" class="btn btn-primary hidden-xs"
                                           href="http://uniforms.tllab.co.uk/ueslink/{{ school.organization_id }}.school"
                                           uib-tooltip="Awaiting Activation">Visit <span
                                                class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                    <div ng-cloak ng-show="{{school.organization_id != null && school.school_status_master_name != 'Active' }}">
                                        <!--organization is in the system already-->
                                        <a disabled role="button" class="btn btn-primary hidden-xs"
                                           href >Visit <span
                                                class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                    <div ng-cloak ng-show="{{school.organization_id == null}}">
                                        <!--organization is not in the system-->
                                        <button class="btn btn-default" ng-click="showModal('n','lg')">Nominate <span
                                                class="glyphicon glyphicon-chevron-right"></span></button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


                <div class="list-group-item col-sm-8 col-sm-offset-2" ng-cloak ng-class="showingclass"
                     ng-show="totalRows < 1 && searchedFor">
                    Sorry, no results were found.
                </div>
                <div class="alert alert-warning col-sm-8 col-sm-offset-2" ng-cloak
                     ng-show="searchedFor && showingRows >= totalRows">

                    Can’t find your school?
                    If we do not have an account for your school, it may need to be created by a school employee or
                    authorized
                    representative at <span><a href="#/register">registration</a></span>.

                </div>
            </div>

            <div ng-cloak ng-show="showingRows < totalRows" class="col-sm-8 col-sm-offset-2 text-center">
                <button class="btn btn-default" ng-click="testFunc()">Show more</button>
            </div>

        </div>


    </div>

    <!--Metrics-->
    <div ng-controller="StatisticsController" class="stat_row row" style="">
	<!--
        <div class="col-sm-8 col-sm-offset-2 clearfix">
            <div class="col-xs-6">
			
                <div class="row">
                    <div class="col-xs-6 text-right stat_icon">
                        <span class="glyphicon glyphicon-education "></span>
                    </div>
                    <div class="col-xs-6">
                        <div class="row stat_value">
                            {{ statistics.organizations_registered | number }}
                        </div>
                        <div class="row stat_name">
                            Schools registered
                        </div>
                    </div>
                </div>
				
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6 text-right stat_icon">
                        <span class="glyphicon glyphicon-piggy-bank "></span>
                    </div>
                    <div class="col-xs-6 ">
                        <div class="row stat_value">
                            {{ statistics.organization_funds_raised | currency : '£' }}
                        </div>
                        <div class="row stat_name">
                            School funds raised
                        </div>
                    </div>
                </div>
            </div>
        </div>
!-->
        <div class="stat_button col-sm-8 col-sm-offset-2 text-center">
            <div class="row">
                <a class="btn btn-primary" href="#/register">Register Now <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>


    <!--ExampleClothes-->
    <div ng-controller="CarouselDemoCtrl" class="hidden-sm hidden-xs" ng-cloak>
        <div class="product_carousel">
            <uib-carousel interval="5000" hideIndicators="true">

                <uib-slide ng-repeat="pane in productPanes track by $index" index="$index">
                    <div class="row text-center products">
                        <div ng-repeat="product in pane" class="col-md-2" ng-class="$index == 0 ? 'col-md-offset-1' : ''">
                            <div class="image">
                                <img ng-src="{{ serverstring + product.product_image }}"
                                     alt="{{ product.product_name }}"
                                     ng-cloak>
                            </div>
                            <div class="name">{{product.product_name}}</div>
                            <div class="price"><span>{{product.product_price | currency : '£' }}</span></div>
                        </div>

                    </div>
                </uib-slide>

            </uib-carousel>
        </div>
    </div>

    <!--Features-->

    <div class="container">
        <div class="feature_row row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-xs-12 col-md-6">
                    <div id="landingkids2">

                    </div>
                </div>
                <div class="col-xs-12 col-md-6 feature_div">
                    <div class="col-xs-12">
                        <h3>Free to register with no obligation</h3>

                        <p>
                            All your uniform options in one place, in your school’s colours and complete with school
                            approved embroidered emblem.
                        </p>
                    </div>

                    <div class="col-xs-12">
                        <table class="table feature_table">
                            <tr>
                                <td><span class="glyphicon glyphicon-shopping-cart pull-left fflblue"></span></td>
                                <td>No sole agreements or minimum orders, buy what you need.</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-gbp pull-left fflblue"></span></td>
                                <td>5% cash donation for your school!</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-map-marker pull-left fflblue"> </span></td>
                                <td>Embroidered in the UK and delivered within 14 days.</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-ok pull-left fflblue"> </span></td>
                                <td>Uniforms are
                                    high quality and adhere to the ethical trading initiative.
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>


        </div>
    </div>

</div>