<script src="app/controllers/loginController.js"></script>
<div ng-Controller='LoginController' ng-cloak>
    <div class="col-sm-8 col-sm-offset-2">

        <div class="row">
            <h3>Log In</h3>
            If you are a registered organization you can log in here to manage your organizations uniform.
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row div-bordered">
            <form name="loginForm" class="form">
                <div class="col-sm-8 col-sm-offset-2">
                    <div ng-repeat="message in messages track by $index"
                         class="alert alert-{{message.type}} messageStack">{{message.message}}
                    </div>
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="text" autofocus="" required="" class="form-control has-feedback" name="inputEmail" id="inputEmail" autocomplete="off" value="" placeholder="example@domain.com" ng-model="user">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" required="" class="form-control has-feedback" name="inputPassword" id="inputPassword" autocomplete="off" value="" placeholder="Password" ng-model="pass">
                    </div>

                </div>
                <div class="row col-sm-8 col-sm-offset-2">
                    <div class="form-group row signin">
                        <div class="col-xs-6"><button id="submit" name="submit" type="submit" class="form-control btn btn-primary" ng-disabled="!loginForm.$valid" ng-click="submitForm();">
                            Sign in <span
                                class="glyphicon glyphicon-chevron-right"></span></button></div>
                        <div class="col-xs-12 col-md-6 text-right passreset"><a href="#/passreset">Forgotten Password?</a></div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


