<script src="app/controllers/membersController.js"></script>
<div ng-Controller='MembersController' ng-cloak>
    <h1>Members Page</h1>
    <p>Hello {{ session.user.user_name }}, You are a {{ session.user.user_type_name }} user.</p>
</div>