<script src="app/controllers/passwordController.js"></script>
<div ng-Controller='PasswordController' ng-cloak>
    <div class="col-sm-8 col-sm-offset-2">

        <div class="row">
            <h3>Reset Password</h3>
            If you have forgotten your password, enter your email address below and we will send you a new password so that you can log into your account.
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row div-bordered">
            <form name="resetForm" class="form" role="form" method="post" action="">
                <div class="col-sm-8 col-sm-offset-2">

                    <div ng-repeat="message in messages track by $index"
                         class="alert alert-{{message.type}} messageStack">{{message.message}}
                    </div>

                    <div class="form-group">
                        <label for="email">Email address: </label>
                        <input type="email" class="form-control has-feedback" name="email" id="email" autocomplete="off" value="" placeholder="example@domain.com"  ng-model="user">
                        <span class="help" ng-show="resetForm.email.$invalid && !resetForm.email.$error.emailInUse && !resetForm.email.$pristine"> Please enter a valid email address. </span>

                    </div>

                    <!-- captcha
                    <div class="form-group">
                        <label for="human">Anti spam question: 2 + 3 =</label>
                        <input type="text" class="form-control has-feedback" name="human" id="human" autocomplete="off" value="" placeholder="Your Answer">
                    </div>
                </div>
                    --->

                <div class="row col-sm-8 col-sm-offset-2">
                    <div class="form-group">
                        <button id="submit" name="submit" type="button" value="Send" class="btn btn-primary"  ng-click="submitForm();">
                            Submit <span
                                class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                </div>

            </form>
        </div>
    </div>


</div>


