<script src="app/controllers/registerController.js"></script>
<div ng-Controller='RegisterController' ng-cloak>
    <div class="col-sm-8 col-sm-offset-2">

        <div class="row">
            <h3>Create Account</h3>
            (for School/Group/Club representatives only)
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row div-bordered" ng-cloak>
            <form name="registerForm" id="register-form" class="form" role="form" method="post" action="" ng-cloak>

                <div class="col-sm-8 col-sm-offset-2">
                    <h4>{{ typetitle }} Details</h4>

                    <div class="form-group">
                        <label for="orgtype">{{ typetitle }} Type </label> <i class="text-muted">(required)</i>
                        <select class="form-control has-feedback" name="orgtype" id="orgtype" ng-model="formdata.orgtype" required ng-change="changedValue(formdata.orgtype)">
                            <option value="">Please Select</option>
                            <option ng-repeat="formElement in formElements.types"
                                    ng-selected="formElement.id == formdata.orgtype" value="{{formElement.id}}">
                                {{formElement.title}}
                            </option>
                        </select>
                        <span class="help" ng-show="registerForm.orgtype.$invalid && !registerForm.orgtype.$pristine"> Please chose an organization type. </span>
                    </div>
                </div>
                <div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="col-sm-10 col-sm-offset-1" ng-show="true">
                            <div class="form-group">
                                <label ng-show="formdata.orgtype == 1" for="orglea">{{ typetitle }} LEA</label>
                                <label ng-hide="formdata.orgtype == 1" for="orglea">{{ typetitle }} Area</label> <i class="text-muted">(required)</i>
                                <select class="form-control has-feedback" name="orglea" id="orglea" ng-model="formdata.orglea" required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="formElement in formElements.leas"
                                            ng-selected="formElement.id == formdata.orglea" value="{{formElement.id}}">
                                        {{formElement.title}}
                                    </option>
                                </select>
                                <span class="help" ng-show="registerForm.orglea.$invalid && !registerForm.orglea.$pristine"> Please chose a local education authority/area.  </span>
                            </div>
                            <div class="form-group" ng-show="formdata.orgtype == 1">
                                <label for="orglea">School Education Phase</label> <i class="text-muted">(required)</i>
                                <select class="form-control has-feedback" name="orgphase" id="orgphase" ng-model="formdata.orgphase" ng-required="formdata.orgtype == 1">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="formElement in formElements.phases"
                                            ng-selected="formElement.id == formdata.orgphase" value="{{formElement.id}}">
                                        {{formElement.title}}
                                    </option>
                                </select>
                                <span class="help" ng-show="registerForm.orgphase.$invalid && !registerForm.orgphase.$pristine"> Please chose an education phase for your school. </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="orgname">{{ typetitle }} Name</label> <i class="text-muted">(required)</i>
                            <input required type="text" class="form-control has-feedback" name="orgname" id="orgname" autocomplete="off" value="" placeholder="My School/Club/Group"
                                ng-model="formdata.orgname">
                            <span class="help" ng-show="registerForm.orgname.$invalid && !registerForm.orgname.$pristine"> Organization name is required. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgaddress1">{{ typetitle }} Address</label> <i class="text-muted">(first line required)</i>
                            <input type="text" class="form-control has-feedback" name="orgaddress1" id="orgaddress1" autocomplete="off" value="" ng-model="formdata.orgaddress1"
                                placeholder="First Line" required>
                            <input type="text" class="form-control has-feedback" name="orgaddress2" id="orgaddress2" autocomplete="off" value="" ng-model="formdata.orgaddress2"
                                placeholder="Second line">
                            <input type="text" class="form-control has-feedback" name="orgaddress3" id="orgaddress3" autocomplete="off" value="" ng-model="formdata.orgaddress3"
                                placeholder="Third line">
                            <span class="help" ng-show="registerForm.orgaddress1.$invalid && !registerForm.orgaddress1.$pristine"> You must have at least one address line. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgtown">Town</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="orgtown" id="orgtown" autocomplete="off" value="" ng-model="formdata.orgtown"
                                placeholder="Town Name" required>
                            <span class="help" ng-show="registerForm.orgtown.$invalid && !registerForm.orgtown.$pristine"> Please enter a town. </span>
                        </div>
                        <div class="form-group">
                            <label for="orgcounty">County</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="orgcounty" id="orgcounty" autocomplete="off" value="" ng-model="formdata.orgcounty"
                                placeholder="County Name" required>
                            <span class="help" ng-show="registerForm.orgcounty.$invalid && !registerForm.orgcounty.$pristine"> Please enter a county. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgpostcode">Post Code</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="orgpostcode" id="orgpostcode" autocomplete="off" data-ng-click="hideSchools = false;"
                                ng-model-options="{debounce:500}" value="" ng-model="formdata.orgpostcode" placeholder="AL10 9SN"
                                required>
                            <span class="help" ng-show="registerForm.orgpostcode.$invalid && !registerForm.orgpostcode.$pristine && !registerForm.orgpostcode.$error.postcodeInUse "> Please enter a post code. </span>

                            <div id="schools-found" class="list-group" uib-collapse="!schoolsFound || !formdata.orgpostcode || hideSchools">
                                <h5 class="text-danger">School with this postcode already exists - please choose it from the list : </h5>
                                <div ng-repeat="school in schoolsFound" id="school-details-wrapper" data-ng-click="isOpen = !isOpen" uib-popover="Please log in using LOG IN button at the top of the page"
                                    popover-title="School already exists" popover-is-open="isOpen" popover-enable="school.school_status_name != 'Not Activated'"
                                    popover-trigger="outsideClick" class="list-group-item" style="padding:5px;">

                                    <div id="school-postcode-details" data-ng-click="selectSchool(school)">
                                        <div class="pull-left">
                                            <span ng-if="school.Name"><b>{{school.Name}}</b> - </span>
                                            <span class="small">
                                                <span ng-if="school.Address1">{{school.Address1}}</span>
                                            <span ng-if="school.Address2">{{school.Address2}}</span>
                                            <span ng-if="school.Address3">{{school.Address3}}</span>
                                            <span ng-if="school.Town">,{{school.Town}}</span>
                                            <span ng-if="school.Postcode">,{{school.Postcode}}</span>
                                            <span ng-if="school.school_status_name"></span>
                                            </span>
                                        </div>
                                        <span class="school-status pull-right">
                                       <b>{{school.school_status_name}}</b>
                                    <span ng-if="school.school_status_name == 'Live'" 
                                          class="glyphicon glyphicon-ok-circle" style="color:#3c763d;line-height: 10px; top: 2px">
                                    </span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="orgcountry">Country</label> <i class="text-muted">(required)</i>
                            <select class="form-control has-feedback" name="orgcountry" id="orgcountry" ng-model="formdata.orgcountry" required>
                                <option value="">Please Select</option>
                                <option ng-repeat="formElement in formElements.countries"
                                        ng-selected="formElement.id == formdata.orgcountry" value="{{formElement.id}}">
                                    {{formElement.title}}
                                </option>
                            </select>
                            <input type="hidden" name="orgurn" id="orgurn" ng-model="orgurn" value="{{orgurn}}" />
                            <span class="help" ng-show="registerForm.orgcountry.$invalid && !registerForm.orgcountry.$pristine"> Please enter a country. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgurl">{{ typetitle }} phone number</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="orgphone" id="orgphone" autocomplete="off" value="" ng-model="formdata.orgphone"
                                placeholder="0000 0000 000" pattern="[0-9 ()+-]*" required>
                            <span class="help" ng-show="registerForm.orgphone.$invalid && !registerForm.orgphone.$pristine"> Please enter a phone number. </span>

                        </div>

                        <div class="form-group">
                            <label for="orgurl">{{ typetitle }} home page</label>
                            <input type="url" class="form-control has-feedback" name="orgurl" id="orgurl" autocomplete="off" value="" ng-model="formdata.orgurl"
                                placeholder="http://www.myorgsite.org.uk">
                            <span class="help" ng-show="registerForm.orgurl.$invalid && !registerForm.orgurl.$pristine"> Must be a valid URL. </span>
                        </div>

                        <div class="form-group">
                            <label for="orgmembercount">Number of {{ typemembernoun }}</label>
                            <input type="number" class="form-control has-feedback" name="orgmembercount" id="orgmembercount" autocomplete="off" value="1"
                                min="1" ng-model="formdata.orgmembercount">
                            <span class="help" ng-show="registerForm.orgmembercount.$invalid && !registerForm.orgmembercount.$pristine"> Member count must be a number </span>
                        </div>

                    </div>

                    <div class="col-sm-8 col-sm-offset-2">
                        <h4>Personal Details</h4>

                        <div class="form-group">
                            <label for="regtitle">Title</label> <i class="text-muted">(required)</i>
                            <select class="form-control has-feedback" name="regtitle" id="regtitle" ng-model="formdata.regtitle" required>
                                <option value="">Please Select</option>
                                <option ng-repeat="formElement in formElements.titles"
                                        ng-selected="formElement.id == formdata.regtitle" value="{{formElement.id}}">
                                    {{formElement.title}}
                                </option>
                            </select>

                            <span class="help" ng-show="registerForm.regtitle.$invalid && !registerForm.regtitle.$pristine"> Please enter a title. </span>
                        </div>
                        <div class="form-group">
                            <label for="forename">First Name</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="forename" id="forename" autocomplete="off" value="" ng-model="formdata.forename"
                                placeholder="John" required>
                            <span class="help" ng-show="registerForm.forename.$invalid && !registerForm.forename.$pristine"> Please enter a first name. </span>
                        </div>
                        <div class="form-group">
                            <label for="surname">Last Name</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="surname" id="surname" autocomplete="off" value="" placeholder="Smith"
                                ng-model="formdata.surname" required>
                            <span class="help" ng-show="registerForm.surname.$invalid && !registerForm.surname.$pristine"> Please enter a last name. </span>
                        </div>
                        <div class="form-group">
                            <label for="jobrole">Job Role</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="jobrole" id="jobrole" autocomplete="off" value="" placeholder="Head Teacher"
                                ng-model="formdata.jobrole" required>
                            <span class="help" ng-show="registerForm.jobrole.$invalid && !registerForm.jobrole.$pristine"> Please enter a job role. </span>
                        </div>
                        <div class="form-group">
                            <label for="telephone">Phone Number</label> <i class="text-muted">(required)</i>
                            <input type="text" class="form-control has-feedback" name="telephone" id="telephone" autocomplete="off" value="" ng-model="formdata.telephone"
                                placeholder="0000 0000 000" pattern="[0-9 ()+-]*" required>
                            <span class="help" ng-show="registerForm.telephone.$invalid && !registerForm.telephone.$pristine"> Please enter a phone number. </span>
                        </div>
                        <div class="form-group">
                            <label for="emailaddress">Email Address</label> <i class="text-muted">(required)</i>
                            <input type="email" class="form-control has-feedback" name="emailaddress" id="emailaddress" autocomplete="off" value="" ng-model="formdata.emailaddress"
                                ng-model-options="{debounce:500}" placeholder="john@organization.gov.uk" email-not-exists required>
                            <i>(using your official school/group/club email addresss will speed up verification)</i>
                            <span class="help" ng-show="registerForm.emailaddress.$invalid && !registerForm.emailaddress.$error.emailInUse && !registerForm.emailaddress.$pristine"> Please enter a valid email address. </span>
                            <span class="help" ng-show="registerForm.emailaddress.$error.emailInUse && !registerForm.emailaddress.$pristine"> Email already in use. </span>
                        </div>
                    </div>

                    <div class="col-sm-8 col-sm-offset-2 clearfix">

                        <div class="checkbox checkbox-primary">
                            <div class="checkbox">
                                <input ng-model="formdata.checkbox1" id="checkbox1" name="checkbox1" type="checkbox" check-required class="form-control">
                                <label for="checkbox1">
                                    Tick this box to agree that you are authorised to administer this service
                                    on behalf of your school/club/group and that you agree with the <a href="#/terms">Terms
                                    of
                                    use</a>
                                </label>
                                <span class="help" ng-show="registerForm.checkbox1.$invalid && !registerForm.checkbox1.$pristine"> You must agree to register. </span>
                            </div>
                        </div>
                    </div>
                    <div class="row col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <button id="submit" name="submit" type="button" value="Send" class="btn btn-primary" ng-disabled="!registerForm.$valid" ng-click="registerSchool()">
                                Submit <span
                                    class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>

                    <div class="row col-sm-8 col-sm-offset-2">

                    </div>

                </div>

            </form>

        </div>
    </div>
</div>