<script src="app/controllers/suResetController.js"></script>
<div ng-Controller='SuResetController' ng-cloak>
    <h1>User Routes</h1>

    <uib-tabset justified="false">
        <uib-tab heading="Routes">
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">
                        <input type="text"
                               placeholder="School ID"
                               id="oquery"
                               name="oquery"
                               class="form-control"
                               ng-model="organizations.query"
                               ng-model-options="{debounce:500}"
                                />

                    </div>
                </div>
                <div class="row">
                    <!-- result here !-->

                </div>
            </div>

        </uib-tab>
    </uib-tabset>

</div>
