<script src="app/controllers/suRoutesController.js"></script>
<div ng-Controller='SuRoutesController' ng-cloak>
    <h1>User Routes</h1>

    <uib-tabset justified="false">
        <uib-tab heading="Routes">
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">

                        <input type="text"
                               placeholder="Route file or Menu heading"
                               id="rquery"
                               name="rquery"
                               class="form-control"
                               ng-model="routes.query"
                               ng-model-options="{debounce:500}"
                                />

                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab heading="Routes to Users">
            <div class="top-20">
                <div class="row">
                    <div class="col-sm-offset-6 col-xs-6">

                        <input type="text"
                               placeholder="User type or Route"
                               id="ruquery"
                               name="ruquery"
                               class="form-control"
                               ng-model="routeuesrs.query"
                               ng-model-options="{debounce:500}"
                                />

                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</div>
