<script src="app/controllers/suUsersController.js"></script>
<div ng-Controller='SuUsersController' ng-cloak>
    <h1>Admin Users</h1>
   <div class="row">
      <div class="col-sm-offset-6 col-xs-6">
         <select class="form-control" ame="usertype" ng-model="search.usertype">
            <option value="">All</option>
            <option value="{{usertype.id}}" ng-repeat="usertype in formElements.usertypes">{{usertype.title}}</option>
         </select>
      </div>
   </div>
   <form name="userform">
      <table class="table table-striped">
         <thead>
         <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Type</th>
            <th class="text-right">Actions</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="user in adminusers | toArray:false | nonBlank:{user_type_id: search.usertype}:search.usertype">
            <td>{{ user.user_first_name }}</td>
            <td>{{ user.user_last_name }}</td>
            <td>{{ user.user_email }}</td>
            <td>{{ formElements.usertypes[user.user_type_id].title }}</td>
            <td class="text-right">
               <div class="btn-group">
				  <button style="margin:1px;border-radius:0px;" class="btn btn-sm" uib-tooltip="Reset Password" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-click="resetPassword(user)"><span class="glyphicon glyphicon-lock"></span></button>
                  <button disabled class="btn btn-sm" uib-tooltip="Edit user" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-pencil"></span></button>
                  <button disabled class="btn btn-danger btn-sm" uib-tooltip="Remove user" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash"></span></button>
               </div>
            </td>
         </tr>
         <tr>
            <td><input type="text" class="form-control" name="newadminforename" ng-model="newuser.forename" placeholder="First Name" required/></td>
            <td><input type="text" class="form-control" name="newadminsurname" ng-model="newuser.surname" placeholder="Last Name" required/></td>
            <td><input type="email"
                       class="form-control"
                       name="newadminemail"
                       ng-model="newuser.email"
                       placeholder="Email"
                       ng-model-options="{debounce:500}"
                       email-not-exists
                       required/>
          <span class="help"
                ng-show="userform.newadminemail.$error.emailInUse && !userform.newadminemail.$pristine"> Email already in use. </span></td>
            <td>
               <select class="form-control" ame="newusertype" ng-model="newuser.type" required>
                  <option value="">Select</option>
                  <option value="{{ usertype.id }}" ng-repeat="usertype in formElements.usertypes">{{usertype.title}}</option>
               </select>
            </td>
            <td class="text-right">
               <div class="btn-group">
                  <button ng-disabled="!userform.$valid"
                          ng-click="createAdminUser()"
                          class="btn btn-primary btn-sm"
                          uib-tooltip="Add user"
                          tooltip-trigger="mouseenter"
                          tooltip-placement="bottom"><span class="glyphicon glyphicon-plus"></span></button>
               </div>
            </td>
         </tr>
         </tbody>
      </table>
   </form>

</div>
