<script src="app/controllers/suController.js"></script>
<div ng-Controller='SuController' ng-cloak>
    <h1>Super User Page</h1>

   <input ng-cloak ng-class="showingclass" type="text" required="" class="form-control input-lg" name="q"
          ng-model="test.searchString" ng-model-options="{ debounce: 500 }"
          style="padding-left: 40px;" id="q"/>

   <pre>{{ searchresult }}</pre>

    <input ng-cloak ng-class="showingclass" type="text" required="" class="form-control input-lg" name="p"
           ng-model="test.orgID" ng-model-options="{ debounce: 500 }"
           style="padding-left: 40px;" id="p"/>

    <pre>{{ productresult }}</pre>

</div>
