<p ng-cloak>
<h1>F&F Terms & Conditions</h1>

<p>Please read these Product Terms & Conditions carefully as they affect your rights and liabilities under the law
    and set out the terms under which Tesco makes items available to you via F&F.<br/>
    <br/>
    Purchases are also subject to General Terms & Conditions, please click here for these.</p>

<h3>1. Descriptions, prices and product information</h3>

<p>We have taken care to describe and show items as accurately as possible. Despite this, slight variations in items
    may occur. We provide you with product information on Tesco.com ("F&F Site"). If there is anything which you do
    not understand, or if you wish to obtain further information, please contact Customer Services on 0800 323
    4070.<br/>
    <br/>
    Every effort is made to ensure that prices shown for the items are correct when the item is added onto the F&F
    Site. The price offered in respect of an item on the F&F Site may differ from the price offered at the same time
    in Tesco stores. We are under no obligation to honour any in-store price or promotion in the event that it
    differs from those on the F&F Site.<br/>
    <br/>
    If, by mistake, we have under priced an item, we will not be liable to supply that item to you at the stated
    price, provided that we notify you before we despatch the item to you. In those circumstances, we will notify
    the correct price to you so you can decide whether or not you wish to order the item at that price. If you
    decide not to order the item, we will give you a full refund on any amount already paid for that item in
    accordance with our Refund Policy in section 8 below.<br/>
    <br/>
    The price of an item does not include the delivery charge, which will depend on the delivery method you choose.
    The rate applicable for the delivery charge will be calculated at the date you place your order. For more
    information on delivery arrangements, see our Delivery Information.</p>

<h3>2. Availability</h3>

<p>We try to ensure that we always stock the full product range. If an item is out of stock it will be removed from
    the F&F Site. If you order by phone you will be told if the item is in stock. If for any other reason beyond our
    reasonable control we are unable to supply a particular item, we will not be liable to you except to ensure that
    you are not charged for that item.</p>

<h3>3. Bulk buy policy</h3>

<p>To ensure availability of all our products, customers may be limited to a maximum number of items.</p>

<h3>4. Payment and acceptance</h3>

<p>If you buy an item on the phone or online you will be charged for an item at the time your order is despatched.
    You cannot amend or cancel your order (but please see our cancellation policy in section 7 below).<br/>
    <br/>
    Your order is an offer to buy from us. Nothing that we do or say will amount to any acceptance of that offer
    until we actually despatch an item to you, at which point a contract will be made between us. At any point up
    until then we may decline to supply an item to you. If we decline to supply an item to you and you have already
    paid for it, we will give you a full refund of any amount already paid for that item in accordance with our
    Refund Policy in section 8 below.<br/>
    <br/>
    Where items are despatched separately, our acceptance of the order in respect of each item takes place when that
    item is despatched.</p>

<h3>5. UK Delivery</h3>

<p>UK Delivery will be made to the address specified when you complete the order. Please note we only deliver to
    addresses within the UK and Isle of Man. International delivery is not available. We do not deliver to BFPO and
    Channel Islands addresses. We may block postcodes at our discretion for security purposes, we will advise you of
    this when entering your postcode into your account.<br/>
    <br/>
    Our standard UK delivery is a 2 - 5 day service (excluding weekends and bank holidays). Deliveries to the
    Scottish Highlands and Islands, the Scilly Isles, the Isle of Man and Northern Ireland may take slightly longer.
    However, we will try to despatch your order from our warehouse on the same day you place it.<br/>
    <br/>
    UK Next Day delivery costs &pound;5 and applies to orders placed before 3pm. Saturday orders should be delivered on
    Monday. Deliveries to the outlying areas specified above should take 2 business days.<br/>
    <br/>
    Within the UK, Click+Collect is a free next day service for orders placed before 3pm (Sunday to Friday). Your
    order will be ready for collection from your chosen store from 4pm the next day. Orders placed after 3pm will be
    available for collection from 4pm 2 days after the order was placed. If you place your order before 3pm on a
    Saturday you can expect it to be ready for you to collect from 4pm on Monday. If you place your order after 3pm
    on a Saturday your order should be ready for collection from 4pm on Tuesday.<br/>
    <br/>
    Please note that we are unable to provide a next day service for stores in Northern Ireland and outlying areas.
    Please allow 48 hours from placing your order.<br/>
    <br/>
    Your order will be available for collection from your chosen store for 14 days. You will need to bring your
    order confirmation email as well as the payment card you used to collect your order.<br/>
    <br/>
    Also within the UK School Embroidery items may take up to 14 days. Whilst we make every effort to deliver all
    your items within 30 days of the date of your order, we shall not be liable if we fail to do so in part or in
    full due to circumstances beyond our control. We shall contact you to let you know if we are having any problems
    getting an item to you within that time.<br/>
    <br/>
    For all UK deliveries we always aim to deliver our orders on time. Unfortunately there can be occasions where an
    unavoidable situation will mean this cannot happen and we will always endeavour to call you to let you know if
    there is a problem. Ownership of an item will not pass to you until we have delivered it, either directly or by
    leaving it in a safe place or with a neighbour - see below. Once an item is delivered, risk of damage to or loss
    of the item passes to you.<br/>
    <br/>
    The cost of standard UK delivery is &pound;3.95, school embroidery delivery is also &pound;3.95. Next Day UK delivery costs
    &pound;5.00. You pay only one delivery charge per order, regardless of the number of deliveries that may be necessary.
    Mixed embroidery and non-embroidery orders still attract only one delivery charge, according to the desired
    speed of delivery. All items are delivered to the address specified in the order between 7am and 8pm, Mondays to
    Saturdays only. Our couriers will attempt to deliver the package to you at your door, however, if you are out
    and want your parcel left in a specific location please use our delivery instructions on the checkout page. Our
    couriers will make every effort to ensure that your parcel is left in a safe and secure place and a card will be
    left indicating where the parcel can be found. If we were unable to deliver your order for any reason, please
    contact the number on the card to rearrange delivery. Once we have delivered your parcel we will automatically
    update the order status on our website.<br/>
    <br/>
    We will keep you informed of the progress of your order by e-mail and on our website. To find out the latest
    status of your order online please visit 'My account', click on 'My order history' and ensure you have not
    received any further correspondence from us on the progress of your order.</p>

<h3>6. Returns & refunds</h3>

<p>For details of our returns and refunds policy please click here.</p>

<h3>7. Payments</h3>

<p>You can pay by American Express, Mastercard, Visa credit card and Maestro debit card. We unfortunately cannot
    accept any other type of card, e.g. Visa Electron.<br/>
    <br/>
    For use of Tesco Gift Card, Clubcard vouchers and eCoupons please see section 9 below. Your credit/debit card
    details will be encrypted by the F&F Site to minimise the possibility of unauthorised access or disclosure.<br/>
    <br/>
    Authority for payment must be given at the time of order. If there is a problem taking payment for all or part
    of your order we will contact you by email (or by telephone if you have not given us an email address).</p>

<h3>8. Free gifts and promotional items; use of Gift Cards, Clubcard vouchers and eCoupons</h3>

<p>Free gifts and promotional items that are given away in conjunction with a purchase may be despatched to you
    separately and delivery times may vary.
    <br/>
    If you change your mind and return your item under the returns policy in section 8 above you must also return
    any free gift or promotional item associated with the promotion and received by you as a result of that
    order.<br/>
    <br/>
    We accept F&F eCoupons, subject to the General Terms & Conditions of Tesco.com and any other specific conditions
    notified to you on the issue of such eCoupons. eCoupons can only be used on the F&F Site.<br/>
    <br/>
    We do not accept Clubcard vouchers, Tesco Gift Cards and Tesco money cards.<br/>
    <br/>
    If we are in breach of these Terms & Conditions, we will only be responsible for any losses that you suffer as a
    result to the extent that they are a foreseeable consequence to both of us at the time you make the relevant
    order. Our products are for personal use only and our liability shall not in any event include business losses
    such as lost data, lost profits or business interruption.<br/>
    <br/>
    This paragraph 12 shall not limit or affect our liability resulting from any products sold being found to be
    unsafe or if something we do negligently causes death or personal injury.<br/>
    <br/>
    Our liability to you in connection with any order will not exceed the total price charged for the items.</p>

<h3>9. Customer Services</h3>

<p>If you have any queries, please contact us.<br/>
    <br/>
    F&F is owned and operated by Tesco Stores Limited, trading as F&F, a company registered in England whose
    registered office is at:<br/>
    <br/>
    Tesco House, Shire Park, Kestrel Way, Welwyn Garden City, AL7 1GA<br/>
    Company Registration No. 519500<br/>
    VAT No. GB220 4302 31<br/>
    Last Updated: 29/12/15<br/>
    Related Guides<br/>
    <br/>
    General Terms & Conditions<br/>
    Privacy and Cookies Policy<br/>
    Delivery Information<br/>
    Refund Policy</p>
<h3>10. Donations</h3>
<p>In working with thousands of schools/clubs, we are able to provide donations for our registered accounts. If you hold
    an administrator account on ff-ues.com for your school/club, you agree with the following additional terms.</p>
<ol>
    <li>By using the F&F Uniforms your school/club can raise funds through the sale of school uniforms from your
        school/club's page ("Uniform Products") supplied by Tesco. It is intended that the Uniform Products will be sold
        online and that 5% of the sale price of each Uniform Product will be paid by Tesco to your school/club.
    </li>
    <li>At specified dates throughout the year, F&F Uniforms shall provide a statement of the total amount of donation
        due for that specified period together with sales and other relevant information necessary to calculate the
        donation and the donations will be made in accordance with paragraphs 3 or 4 below as appropriate. Reports can
        be viewed through your account at ff-ues.com.
    </li>
    <li>The donations will be calculated for the periods between 1 February to 31 May; 1 June to 30 September ; and 1
        October to 1 February in each year and Tesco will then pay such donations within 30 days of 1 February, 1 June
        and 1 October (as appropriate).
    </li>
    <li>payment is subject to:
        <ol>
            <li>a minimum of &pound;10 being due to your school/club (being in respect of donations earned from Tesco, other
                affiliates, associates or partners, or donations received from supporters of FundWider Wishes (see
                FundWider terms) that have not reached their Wish Target by the Wish Target Date). If such minimum
                amount has not been reached then it shall be rolled into the next following payment due to your
                school/club, but if such amount due to your school/club remains below the minimum amount for a period of
                365 days then we reserve the right to close your F&F Uniforms account with us at which point such monies
                will be forfeited to us and will cease to be due to your school/club.
            </li>
            <li>your school/club's bank account details being entered in the "Donations" section of your account on our
                site. If your account details are not provided in such manner or if payment to the account details that
                are provided fails then such payment will be rolled into the next following payment due to your
                school/club, but if such bank details are not provided after a period of 180 days or if payment to the
                details that you have provided continues to fail after a period of 180 days then we shall send such
                payment as is due to you by way of a cheque less an administration fee payable to F&F Uniforms in the sum of
                &pound;50 plus VAT or, if the amount due to your school/club is less than &pound;50 then the total sum shall be
                retained by F&F Uniforms as an administration fee.
            </li>
        </ol>
    </li>
    <li>Due to the nature of this promotion, Tesco is classified under relevant charity law as a "commercial
        participator" in relation to any participating schools that are charities. In England and Wales sections 59-64
        of the Charities Act 1992 and the Charitable Institutions (Fund Raising) Regulations 1994 and, in Scotland
        sections 79-83 of the Charities and Trustee Investment (Scotland) Act 2005 and the Charities and Benevolent
        Fundraising (Scotland) Regulations 2009 and, in Northern Ireland sections 150-158 of the Charities Act (Northern
        Ireland) 2008, provide for certain requirements to be followed by "commercial participators" where they apply. This agreement is intended to meet
        those requirements.
    </li>
</ol>
</div>
