<script src="app/controllers/uniformController.js">
</script>
<div ng-controller='UniformController' ng-cloak>
    <h1>
        Manage Uniform </h1>
    <div class="messages" ng-show="messages">
        <div class="messages-container">
            <div ng-repeat="message in messages track by $index"
                 class="alert alert-{{message.type}} messageStack">{{message.message}}
            </div>
        </div>
    </div>
    <uib-tabset active="active" justified="false">
        <!--------------------------------------------->
        <!------------ EMBROIDED UNIFORM -------------->
        <!--------------------------------------------->
        <uib-tab id="uniform-tabs" index="1">
            <uib-tab-heading>
                Embroidered Uniform <!--pill <span class='label label-pill label-success'></span> -->
            </uib-tab-heading>
            <div class="top-20" ng-hide="session.organizations[session.showingorg].organization_form_signed == '1'">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b> Authorization Form </b>
                        </div>
                        <div class="panel-body">
                            You must return the authorisation form that will be sent with your embroidered sample before you can select embroidered items.<br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-20" ng-hide="approvedemblems.length">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b> Approved Emblems </b>
                        </div>
                        <div class="panel-body">
                            You must have at least one approved emblem before you can select uniform items.<br />
                            <a href="#/contact">Contact us</a> if you need any help.
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-20" ng-hide="session.organizations[session.showingorg].organization_bank_verified == '1'">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b> Bank Account </b>
                        </div>
                        <div class="panel-body">
                            You must have a valid bank account set up on the <a href="#/donations">Donations page</a> before you can select embroidered items.<br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-20" ng-show="session.organizations[session.showingorg].organization_form_signed == '1' && approvedemblems.length && session.organizations[session.showingorg].organization_bank_verified == '1'">
                <div class="col-lg-8 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <select class="form-controler pull-left" ng-show="houses.length" ng-change="updateSelectedOrg()"
                                    ng-model="session.showingorg">
                                <option ng-repeat="house in houses"
                                        value="{{ house.organization_id }}"
                                        ng-selected="house.organization_id == session.showingorg"
                                >{{ house.organization_name }}
                                </option>
                            </select>
                            <b>
                                Uniform Created </b>
					<span uib-popover="Below are uniform items created for your account. These incorporate an approved embroidered emblem and are available for purchase online."
                          popover-title="Uniform Created" popover-trigger="mouseenter" popover-placement="bottom-left"
                          class='glyphicon glyphicon-info-sign'>
					</span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="product in created">
                                    <div class="product-holder">
                                        <a href
                                           ng-click="showModal('reviewEmb','md',{ 'product': product, 'products': created, 'emblems': emblems});">
                                            <img ng-src="{{serverstring + product.colour.product_colour_image_url}}"
                                                 class='img-thumbnail products'
                                                 alt="{{product.product_name}} - product image"
                                                 uib-tooltip="Click to review"
                                                 tooltip-trigger="mouseenter"
                                                 tooltip-placement="top">
                                        </a>
                                        <div class="well well-sm product-description">
                                            <p><b>{{product.product_name}}</b></p>
                                            <span class="glyphicon glyphicon-ok created pull-right"></span>
                                            <!-- United Kingdom Pound - GBP -->
                                            <p><i>From {{product.product_price | currency:'£'}}</i></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- PRODUCTS AVAILABLE ----->
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <b>
                                Products Available </b>
					<span uib-popover="These are the embroidered products currently available from MyClothing for your uniform shop. You can select products to add from here."
                          popover-title="Products Available" popover-trigger="mouseenter"
                          popover-placement="bottom-left" class='glyphicon glyphicon-info-sign'>
					</span>
                        </div>

                        <div class="panel-body">
                            <ul class='panel-body-available'>
                                <li ng-repeat="product in products">
                                    <div class="product-holder">
                                        <a href
                                           ng-click="showModal('addEmb','md',{ 'product': product, 'emblems': emblems, 'color':0 });">
                                            <img ng-src="{{serverstring + product.product_image}}"
                                                 class='img-thumbnail products'
                                                 alt="{{product.product_name}} - product image"
                                                 uib-tooltip="Click to review"
                                                 tooltip-trigger="mouseenter"
                                                 tooltip-placement="top">
                                        </a>
                                        <div class="well well-sm product-description">
                                            <p><b>{{product.product_name}}</b></p>
                                            <!-- United Kingdom Pound - GBP -->
                                            <p><i>From {{product.product_price | currency:'£'}}</i></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </uib-tab>
        <!--------------------------------------------->
        <!-------------- PLAIN UNIFORM ---------------->
        <!--------------------------------------------->
        <uib-tab index="2" ng-click="updatePlainOrg();">
            <uib-tab-heading >
                Plain Uniform <!-- pill <span class='label label-pill label-warning'>
	{{ 0 }} </span>  --->
            </uib-tab-heading>

            <div class="top-20" ng-hide="session.organizations[session.showingorg].organization_form_signed == '1'">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <select ng-show="houses.length" ng-change="updateSelectedOrg()"
                                    ng-model="session.showingorg">
                                <option ng-repeat="house in houses"
                                        value="{{ house.organization_id }}"
                                        ng-selected="house.organization_id == session.showingorg"
                                        >{{ house.organization_name }}
                                </option>
                            </select>
                            <b> Authorization Form </b>
                        </div>
                        <div class="panel-body">
                            You must return your authorization form before you can select uniform items.<br />
                            <a href="#/contact">Contact us</a> if you need another form.
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-20" ng-hide="approvedemblems.length">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <b> Approved Emblems </b>
                        </div>
                        <div class="panel-body">
                            You must have at least one approved emblem form before you can select uniform items.<br />
                            <a href="#/contact">Contact us</a> if you need any help.
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-20" ng-show="session.organizations[session.showingorg].organization_form_signed == '1' && approvedemblems.length">
                <div class="col-lg-8 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <b>Uniform Selected</b> <span
                                uib-popover="Below are plain, non-embroidered products selected for your account. Subject to seasonal stock hold variations, these will available for purchase online."
                                popover-title="Uniform selected " popover-trigger="mouseenter"
                                popover-placement="bottom-left" class='glyphicon glyphicon-info-sign'>
					</span>
                        </div>

                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="plainCreated in plain_created">
                                    <div class="product-holder">
                                        <a href
                                           ng-click="showModal('reviewPlain','md',{ 'product': plainCreated, 'emblems': emblems, 'color': $index});">
                                            <img ng-src="{{serverstring + plainCreated.colour.product_colour_image_url}}"
                                                 class='img-thumbnail products'
                                                 alt="{{plainCreated.product_name}} - product image"
                                                 uib-tooltip="Click to review"
                                                 tooltip-trigger="mouseenter"
                                                 tooltip-placement="top">
                                        </a>
                                        <div class="well well-sm product-description">
                                            <p><b>{{plainCreated.product_name | limitTo : 20}}</b></p>
                                            <span class="glyphicon glyphicon-ok created pull-right"></span>
                                            <!-- conversion to United Kingdom Pound - GBP -->
                                            <p><i>From {{plainCreated.product_price | currency:'£'}}</i></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <b>Products Available</b> <span
                                uib-popover="These are the additional non-embroidered products currently available from MyClothing for your uniform shop. You can select products to add from here."
                                popover-title="Available Products" popover-trigger="mouseenter"
                                popover-placement="bottom-left" class='glyphicon glyphicon-info-sign'>
					</span>
                        </div>
                        <br>
                        <div class="form-group col-xs-12">
                            <label for="product_id">
                                Category: {{category_select_model}}</label>
                            <select id="product_id" name="group_id" ng-model="productId" class="form-control">
                                <option value="">Show All</option>
                                <option ng-repeat="formElement in formElements.categories | filter: {plain: '!0'}"
                                        value="{{formElement.id}}">
                                    {{formElement.title}}
                                </option>
                            </select>
                        </div>

                        <div class="panel-body">
                            <ul class='panel-body-available'>
                                <li ng-repeat="product in plain_products | toArray:false | nonBlank:{product_category_id: productId}:productId">
                                    <div class="product-holder">
                                        <a href
                                           ng-click="showModal('addPlain','md',{ 'product': product, 'emblems': emblems, 'color':0 });">
                                            <img ng-src="{{serverstring + product.product_image}}"
                                                 class='img-thumbnail products'
                                                 alt="{{product.product_name}} - product image"
                                                 uib-tooltip="Click to review"
                                                 tooltip-trigger="mouseenter"
                                                 tooltip-placement="top">
                                        </a>
                                        <div class="well well-sm product-description">
                                            <p><b>{{product.product_name}}</b></p>
                                            <!-- United Kingdom Pound - GBP -->
                                            <p><i>From {{product.product_price | currency:'£'}}</i></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>

        <!--------------------------------------------->
        <!------------------ EMBLEMS ------------------>
        <!--------------------------------------------->
        <uib-tab index="3" ng-click="updateEmblemsOrg();">
            <uib-tab-heading>
                Emblems <!--- <span class='label label-pill label-success'> </span> --->
            </uib-tab-heading>


            <div class="top-20">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>Approved Emblems</b> <span
                            uib-popover="Approved emblems can be used to create embroidered uniform. If you wish to amend an emblem, you must first unapprove it. To do this, you must first discontinue any embroidered products using it."
                            popover-title="Approved Emblems" popover-trigger="mouseenter"
                            popover-placement="bottom-left" class='glyphicon glyphicon-info-sign'>
				</span>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 text-center'>
                            <div class='col-sm-2 col-xs-12' ng-repeat="emblem in emblems | filter:{logo_approved: '1'}">
                                <div class="product-holder">
                                    <a href ng-click="showModal('viewEmblem','sm',{ 'emblem': emblem })">
                                        <!--Logo-->
                                        <div class="image-container" style="position: relative;" ng-cloak
                                             ng-style="{ backgroundColor: 'rgb('+emblem.primary_background_colour+')' }"
                                             uib-tooltip="View emblem information"
                                             tooltip-trigger="mouseenter"
                                             tooltip-placement="top">

                                            <div class="dummy"></div>
                                            <div class="img-container">
                                                <img ng-src="{{serverstring + emblem.logo_url + '?' +  emblem.logo_last_updated }}"
                                                     alt="{{ emblem.tesco_style_ref }}"
                                                     ng-cloak>
                                            </div>
                                        </div>
                                    </a>
                                        <p style="text-align: center"><b>{{emblem.tesco_style_ref}}</b></p>
                                        <p style="text-align: center"><em>Products using: {{emblem.products_using_logo}}</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>In Progress</b>
                        <span
                            uib-popover="Emblems &#x27;In progress&#x27; can be amended. However, you cannot use the emblem to create uniform until it is approved."
                            popover-title="In Progress" popover-trigger="mouseenter" popover-placement="bottom-left"
                            class='glyphicon glyphicon-info-sign'>
                        </span>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 text-center'>
                            <div class='col-sm-2 col-xs-12' ng-repeat="emblem in emblems | filter:{logo_approved: '0'}">
                                <div class="product-holder">
                                    <a href ng-click="showModal('viewEmblemInProgress','md',{ 'emblem': emblem })">
                                        <!--Logo-->
                                        <div class="image-container" style="position: relative;" ng-cloak
                                             ng-style="{ backgroundColor: 'rgb('+emblem.primary_background_colour+')' }"
                                             uib-tooltip="View emblem information"
                                             tooltip-trigger="mouseenter"
                                             tooltip-placement="top">

                                            <div class="dummy"></div>
                                            <div class="img-container">
                                                <img ng-src="{{serverstring + emblem.logo_url + '?' +  emblem.logo_last_updated }}" alt="{{ emblem.tesco_style_ref }}"
                                                     ng-cloak>
                                            </div>
                                            <img class="emblembannertopright" src="images/badges/approve-badge.png"
                                                 ng-show="(emblem.needs_ebos_update == '0' && emblem.needs_to_update_ebos == '0' && emblem.logo_digitized == '1' && emblem.logo_approved == '0');"
                                                 ng-cloak>
                                        </div>
                                    </a>
                                    <p style='text-align:center;'><b>{{emblem.tesco_style_ref}}</b></p>
                                    <p style='text-align:center;'><i>Products using: {{emblem.products_using_logo}}</i></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                    <div class='row'>
                    <!--    <div class='col-xs-12 text-center'>
                            <button ng-click="showModal('addEmblem','md',{ 'emblems': emblems })"
                                    class="btn btn-primary btn-sm pull-right">
                                <span class="glyphicon glyphicon-plus-sign"></span> Request new emblem
                            </button>
                        </div>-->
                    </div>

            </div>
        </uib-tab>

        <!--------------------------------------------->
        <!------------ HOUSES(SUB UNITS) -------------->
        <!--------------------------------------------->
        <uib-tab index="4">
            <uib-tab-heading>
                Houses (Sub Units)
            </uib-tab-heading>
            <div class="top-20">
                <table class="table table-striped" ng-show="houses.length">
                    <tr>
                        <th>House ID</th>
                        <th>House Name</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    <tr ng-repeat="houseOrg in houses">
                        <td>{{ houseOrg.school_URN }}</td>
                        <td>{{ houseOrg.organization_name }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button disabled class="btn btn-default btn-sm" uib-tooltip="Edit house"
                                        tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                                <button disabled class="btn btn-danger btn-sm" uib-tooltip="Delete house"
                                        tooltip-trigger="mouseenter" tooltip-placement="bottom"><span
                                        class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div ng-hide="houses.length"><h2>You do not have any houses set up.</h2>
                    <p class="alert alert-warning" ng-show="plain_created || created">
                    As you have already added products to your organization these will be associated with the first house you create.
                </p>
                </div>
                <p>
                    Some accounts require different emblems on the same coloured products. For example, a primary school
                    may require a different emblem for their reception year on the same coloured items. A chess club may
                    require different emblems denoting their teams on the same coloured items.
                </p>
                <!-- <div class='row'>
                   <div class='col-xs-12 text-center'>
                        <button ng-click="showModal('addHouse','md',{houses: houses, plain_created: plain_created, created: created})"
                                class="btn btn-primary btn-sm pull-right">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add new house
                        </button>
                    </div>
                </div>-->

                <p>
                    If you require the same coloured products with a choice of emblems, <a href="#/contact"><b>please
                    get in
                    touch.</b></a>
                </p>
            </div>
        </uib-tab>
        <!---------------------------------------------------->
        <!------------- Linked Organizations  ---------------->
        <!---------------------------------------------------->
        <uib-tab index="5" ng-show="linkedorgs.length > 1">
            <uib-tab-heading>
                Linked Organizations
            </uib-tab-heading>
            <div class="top-20">
                <table class="table table-striped" ng-show="linkedorgs.length > 1">
                    <tr>
                        <th>Organization ID</th>
                        <th>Organization Name</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    <tr ng-repeat="linkedOrg in linkedorgs">
                        <td>{{ linkedOrg.school_URN }}</td>
                        <td>{{ linkedOrg.organization_name }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button ng-hide="linkedOrg.organization_id == session.showingorg"
                                        ng-click="updateLinkedOrg(linkedOrg.organization_id)"
                                        class="btn btn-danger btn-sm"
                                        uib-tooltip="Switch to org"
                                        tooltip-trigger="mouseenter"
                                        tooltip-placement="bottom"><span
                                        class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
</div>